[2022-01-19 05:40] praweshsth opened #1 "Sign up - Organisation is registered in IATI"
As a user	I want to sign up so that I can create an admin user in the tool and link IATI publisher ID with the tool

[Form field details - check the link
](https://docs.google.com/spreadsheets/d/1okv1yB6iIU0Uzf-qGxpphNhF8xctsMTYLPWdmOtryDE/edit#gid=1842388911)

**Acceptance Criteria**
- [ ] if all of the publisher id, publisher name and IATI organisation ID don't match with any publisher in IATI R

[2022-01-19 09:00] anjesh opened #2 "Design architecture and database model of the system"
Design

- modular architecture of the system
- database model of the dataset of organization, activity, user

[2022-01-19 09:01] anjesh opened #3 "Develop wireframes of the system showcasing registration flow to activity listing page"
Develop wireframes of the system including the landing page.

[2022-01-19 11:42] praweshsth opened #4 "Develop Workflow of the system"
Develop an overview of workflow of the system for better understanding of the system.

[2022-01-20 05:02] praweshsth opened #5 "Develop user stories"
Develop user stories as per the functionalities of the system

[2022-01-20 05:14] praweshsth opened #6 "Develop software development plan"
Develop software development plan for stage 2 - Development of Prototype/Pilot version.

[2022-01-20 05:18] praweshsth opened #7 "Landing page with sign in"
As a user, I want to view the landing page so that I can learn about the tool, sign up and Sign in

Content and structure - [check the link](https://docs.google.com/document/d/16G0tjT1iprHO2jIp3cn9cyFC1HGnt8FUl5zWXaoWldo/edit#heading=h.xhjhjaeyq7rz)

**Acceptance Criteria:**
_Sign in_
- [ ] Username is required if the field is empty
- [ ] Password is required if the field is empty
- [ ] The creden

[2022-01-25 08:24] praweshsth opened #8 "Integration of IATI registration"
As per the delivery in ToR and regarding the automatic integration of the IATI registry,

1. What are the fields that we need to show during account registration in publisher so that it will be enough for IATI registration?
2. Since registration in IATI registry requires manual verification, what would the verification flow of registry be like? Will the registration process go into moderation?

[2022-01-25 08:26] praweshsth opened #9 "Grouping of Elements"
As per the delivery in ToR regarding grouping of elements (mandatory and non-mandatory),

1. How should we group the elements? By classification or by required/ recommended elements provided by IATI standard?
2. Do we follow the exact field names or do we have the flexibility to make them more human friendly?

[2022-01-28 11:40] anjhero opened #10 "Design landing page"
Please find the design options for the landing page through this link. We have prepared 4 design options all of which follow the branding guidelines of IATI. Please take a look and let us know what you think of it:
https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Wireframes?page-id=409%3A2096&node-id=514%3A4252&viewport=241%2C48%2C0.28&scaling=min-zoom&starting-point-node-id=514%3A4252

You

[2022-01-31 05:16] anjhero opened #11 "User types and access"
As per our discussion so far and the ToR, there are 3 types of users:

1. Admin (IATI)
2. Admin (Publisher)
3. General (Publisher)

The admin (publisher) user has access to following activities in the system:

1. change and save default values
2. add/ edit organisation data
3. publish and republish organisation data
4. add/ edit activity data
5. publish and republish activity data
6. download a si

[2022-01-31 05:19] anjhero opened #12 "Design Activity Detail page"

[2022-02-01 12:12] praweshsth opened #13 "Uploading Documents in Activity (in Related Document)"
In ToR, it is not mentioned about uploading documents in the system while adding activity. Adding link to document is one of the fields of Activity. So does IATI Publisher require the upload feature? @AudreyIATI

CC: @anjesh @man-git007 @manibibek

[2022-02-02 08:33] praweshsth opened #14 "Should we avoid two elements in activity?"
Should we avoid the two elements -- crs-add (https://iatistandard.org/en/iati-standard/203/activity-standard/iati-activities/iati-activity/crs-add/) and fss (https://iatistandard.org/en/iati-standard/203/activity-standard/iati-activities/iati-activity/fss/) -- to be in the activity form and XML.

These two elements are specific to OECD donors and in Aidstream, we haven't added these two elements a

[2022-02-02 09:00] anjhero opened #15 "Design a flow showcasing activity detail from activity listing page"
Here's a flow that shows how a user can access activity detail page from activity listing page

https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Wireframes?node-id=261%3A2916&viewport=241%2C48%2C0.25&scaling=min-zoom&starting-point-node-id=261%3A3928&show-proto-sidebar=1

Click on the "Partnership Against Child Exploitation" text in the activity listing page in the prototype above.

[2022-02-03 04:39] #14 closed, assigned to AudreyIATI

[2022-02-03 04:41] #9 closed, assigned to AudreyIATI

[2022-02-04 11:14] #13 closed, assigned to AudreyIATI

[2022-02-15 04:40] man-git007 opened #16 "Project Setup"
Setup Laravel project in Repository pattern with PSR2, es6 code standard and git pre-commit hook

**TASKS**

- [x] Setup laravel project
- [x] Setup psr2
- [x] Setup eslint, prettier
- [x] install husky

[2022-02-15 04:59] #15 closed, assigned to nobody

[2022-02-17 11:41] praweshsth opened #18 "Reporting organisation"
@AudreyIATI @k8hughes @amy-silcock @andreaszenasidi @anjesh @man-git007

In organisation standard, the [reporting-org ](https://iatistandard.org/en/iati-standard/203/organisation-standard/iati-organisations/iati-organisation/reporting-org/) has an attribute @secondary-reporter, which has a boolean value. If it is set to '0' then it means the organisation's source is primary and if it is set to '1'

[2022-02-22 04:40] sriza opened #19 "Unit test and vue setup"
Unit test setup on git pre-commit hook. Vue setup.

**Tasks**

- [x] Add unit test to pre-commit
- [x] Vue setup
- [x] Laravel default auth setup

[2022-02-23 05:59] titungdup opened #20 "Frontend: tailwind, stylelint, prettier setup"

[2022-02-24 04:13] #16 closed, assigned to man-git007

[2022-03-03 08:25] #19 closed, assigned to sriza

[2022-03-03 08:56] #20 closed, assigned to titungdup

[2022-03-03 09:00] titungdup opened #23 "Implement Landing page UI"
The landing page UI with necessary folders, files and routes. The UI reference is in this [link](https://www.figma.com/file/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?node-id=409%3A2096)

**TASKS**

- [x] Route implementation
- [x] View (blade file), controller setup
- [x] Setup layout in view folder
- [x] Develop html file.
- [x] Removal of bootstrap

[2022-03-14 05:36] praweshsth opened #24 "Design sign up flow"
Design sign up flow (include notifications design as well)

- [ ] Organisation is not registered in IATI Registry
- [x] Organisation is registered in IATI Registry

For reference, check https://github.com/younginnovations/iatipublisher/issues/8

[2022-03-14 05:38] #18 closed, assigned to nobody

[2022-03-14 05:39] #3 closed, assigned to anjhero

[2022-03-16 14:19] #8 closed, assigned to AudreyIATI

[2022-03-16 14:20] #11 closed, assigned to nobody

[2022-03-16 14:20] #10 closed, assigned to nirvanalama

[2022-03-16 14:22] #6 closed, assigned to nobody

[2022-03-16 14:22] #5 closed, assigned to nobody

[2022-03-16 14:22] #4 closed, assigned to AudreyIATI

[2022-03-16 14:23] #2 closed, assigned to AudreyIATI

[2022-03-16 15:17] praweshsth opened #25 "Setting - Publishing settings - Registered in IATI Registry"
As an admin user (publisher)/ admin user (IATI), I want to save publishing settings so that I can save Publisher ID and API Token from IATI Registry for publishing activities in IATI.

[Form field details - check the link](https://docs.google.com/spreadsheets/d/1AYj0Nn6StKUu2S23BIYa8o7OadWr_uJkFtuvWOtU5WU/edit#gid=0)

**Acceptance Criteria**
- [ ] Show selection to change from 'Registered in IATI

[2022-03-16 15:21] praweshsth opened #26 "Setting - default values (currency, language)"
As an admin user (publisher)/ admin user (IATI), I want to save default values so that I don't have to select default values when managing activities and oganisation data.

[form field details - check the link](https://docs.google.com/spreadsheets/d/1AYj0Nn6StKUu2S23BIYa8o7OadWr_uJkFtuvWOtU5WU/edit#gid=788146062)

**Acceptance Criteria**
- [ ] Show 'The default values has been successfully saved'

[2022-03-16 15:24] praweshsth opened #27 "Add/ Edit Activity Element"
As an admin user (publisher)/ general user (publisher)/ admin user (IATI), I want to add/edit activity data so that I can complete the activity element fields.

[Form field - Check the link
](https://docs.google.com/spreadsheets/d/1hxeH0JAUl8Ln8zYiQaqkhL1phsLNc_C6kDt_lnI99RQ/edit#gid=650896675)

**Acceptance Criteria**
- [ ] Show elements list and Mark them as mandatory, completed, optional and re

[2022-03-21 05:14] man-git007 opened #28 "Activity Listing Page UI"
UI for activity listing page

**TASKS**

- [x] setup routes
- [x] setup listing component
- [x] setup vue blades

[2022-03-24 03:17] sriza opened #30 "Login Module"
Login module deals with functionality related to user signup and registration.

**TASKS**

- [x] SignIn page UI
- [x] Reset page UI

[2022-03-24 03:24] sriza opened #31 "User Module"
**TASKS**

- [ ] User and Organization table migration and seed
- [ ] Services and repositories for user
- [ ] User Listing page
- [ ] Unit test cases

[2022-03-24 11:18] #23 closed, assigned to Man0zZ

[2022-03-28 10:15] titungdup opened #32 "Tailwind color config update according to design system"
- [x] Add updated design system colors to tailwind config

[2022-03-29 03:51] titungdup opened #34 "SCSS error fix: tailwind class not found"
- [ ] Fix compile error caused by using undefined tailwind utility class

[2022-03-29 05:41] sriza opened #36 "Vue3 and Typescript setup"
Upgrade vue2 to vue3 and setup typescript.

**TASKS**

- [x] Vue3 setup
- [x] Typescript setup

[2022-03-29 05:48] praweshsth opened #37 "Activity List"
As an admin user (publisher)/ general user (publisher)/ admin user (IATI), I want to view all the activities list so that I can publish, republish, download and upload activities

**Acceptance Criteria:**
- [ ] For structure - check design link
- [ ] When Add activity is clicked, show menu containing Add Activity Manually
- [ ] When one or more activity is/are selected, show 'Publish Selected' and

[2022-03-29 07:11] #32 closed, assigned to titungdup

[2022-03-29 07:11] #34 closed, assigned to titungdup

[2022-03-29 07:15] titungdup opened #39 "Setup CSS variables for design system"
Use CSS variables for design system

Todo:
- [x] Create CSS variables according to design system and update Tailwind config with CSS variables

[2022-03-30 08:42] #39 closed, assigned to titungdup

[2022-03-31 05:25] nirvanalama opened #42 "Setting Page UI"
Related issues: #26
Design Link: https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=3332%3A41372&node-id=3332%3A41384&viewport=350%2C48%2C0.2&scaling=min-zoom&starting-point-node-id=3332%3A41384

[2022-03-31 06:31] shreyaydi opened #43 "Password Recovery UI page"
Reset password flow where
- user gets a password reset email consisting of a link
- user changes password after clicking the link in their email

Related issues: #7
Design Link:[ Password Recovery](https://www.figma.com/file/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?node-id=1226%3A10734)

[2022-03-31 08:58] Sanilblank opened #45 "Activity forms using laravel form builder"
Setup laravel form builder and build forms for activity details pages

**TASKS**

- [ ] Kris laravel form builder setup
- [ ] Create forms in a way so as to build a package

[2022-03-31 09:30] nirvanalama opened #46 "Activity detail page UI"
Related issues: #12
Design Link: https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=34%3A327&node-id=1426%3A16559&viewport=350%2C48%2C0.46&scaling=min-zoom&starting-point-node-id=1862%3A40201&show-proto-sidebar=1

[2022-03-31 10:00] jenishshrestha opened #47 "Activity List - Header after login (UI/UX implementation) and other components"
- [x] Header frontend development.
- [x] Pagination component.
- [x] Code refactor of Vue components after typescript and vue 3 implementation.
- [x] When one or more activity is/are selected, show 'Publish Selected' and 'Delete Selected' buttons
- [x] Sticky Toast Message UI - "5 activities ready to publish Publish all"
- [x] Code refactor of all components using composition api of vue 3

Parent

[2022-03-31 10:46] nirvanalama opened #48 "Activity List UI"
Related issues: #37
Design Link: https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?node-id=1426%3A16260&scaling=min-zoom&page-id=34%3A327&starting-point-node-id=1426%3A16260

[2022-04-01 04:43] #36 closed, assigned to sriza

[2022-04-01 06:13] Man0zZ opened #50 "svg image cropped in landing page"
- [x]  fix cropped svg images
- [x]  font size fix in button

Parent issue: #7

[2022-04-04 07:23] #50 closed, assigned to Man0zZ

[2022-04-05 09:03] Man0zZ opened #54 "Setting Page UI"

[2022-04-05 09:41] nirvanalama commented on #42
@AudreyIATI @Rohini-IATI @k8hughes

Here is the design of the settings page. Please look into it and provide feedbacks.

https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=3332%3A41372&node-id=3332%3A41384&viewport=350%2C48%2C0.2&scaling=min-zoom&starting-point-node-id=3332%3A41384

[2022-04-05 09:49] nirvanalama commented on #48
@AudreyIATI @k8hughes @Rohini-IATI @amy-silcock

Activity list UI design. Please review and provide feedbacks. Thank you.

https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?node-id=1426%3A16260&scaling=min-zoom&page-id=34%3A327&starting-point-node-id=1426%3A16260

[2022-04-05 11:39] nirvanalama commented on #46
@Rohini-IATI @AudreyIATI @k8hughes

Here is the activity detail page design after the feedbacks we received.

https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=34%3A327&node-id=1426%3A16559&viewport=350%2C48%2C0.46&scaling=min-zoom&starting-point-node-id=1862%3A40201&show-proto-sidebar=1

[2022-04-05 11:40] nirvanalama opened #55 "Add/edit acitivity UI"
Related issues: #27
Design Link: https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=34%3A327&node-id=1493%3A14279&viewport=350%2C48%2C0.46&scaling=min-zoom&starting-point-node-id=1493%3A14279&show-proto-sidebar=1

[2022-04-05 11:45] nirvanalama commented on #55
@AudreyIATI @Rohini-IATI @k8hughes

The link to the Add/edit activity detail page:

https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=34%3A327&node-id=1493%3A14279&viewport=350%2C48%2C0.46&scaling=min-zoom&starting-point-node-id=1493%3A14279&show-proto-sidebar=1

[2022-04-06 11:17] Sanilblank opened #57 "Activity module and activity title form"
Start working on the activity module and activity title form.

TASKS

- [x] Kris laravel form builder setup
- [x] Activity migration model service repo setup
- [x] Activity title form using laravel form builder
- [x] Title form validation and store in database

Issues
==================================================================================

- [x] #193
- [x] #197
- [x] #198
- [x] #199
- [

[2022-04-06 11:28] Sanilblank commented on #45
This MR is closed as we have decided not to move forward with creating a package for form building.

[2022-04-06 11:28] #45 closed

[2022-04-06 14:00] andreaszenasidi commented on #55
@nirvanalama not sure if we should be looking at the labels as well in this github issue, but if we do, then the labels should be user friendly, not just a copy of the IATI XML schema element names
![image](https://user-images.githubusercontent.com/74558657/161990293-85f2aa06-c532-4802-a408-f1b6349a7ca9.png)

Suggestion to order the below list to have the core elements first, followed by the rest

[2022-04-06 14:17] andreaszenasidi commented on #46
@nirvanalama looks good to me, only one suggestion to order the below list to have the core elements first, followed by the rest of the elements:
![image](https://user-images.githubusercontent.com/74558657/161992042-0a2d2e50-4159-4eb4-8e74-eed97dceb337.png)

Lets see what others think.

[2022-04-06 14:22] andreaszenasidi commented on #42
@nirvanalama looks good!

[2022-04-06 15:39] k8hughes commented on #42
Yes this looks good 👍

[2022-04-07 04:17] praweshsth commented on #55
@andreaszenasidi It was discussed before and we had suggested for the same but it was finalized after several discussions to use the exact term from the iati standard. @k8hughes @Rohini-IATI

[2022-04-07 04:20] praweshsth commented on #48
@andreaszenasidi the unpublish will be in the detail page of the activity.

[2022-04-07 04:21] praweshsth commented on #46
@andreaszenasidi I think we will be discussing this (regarding the core or recommended+mandatory elements) today.

[2022-04-07 04:22] sriza opened #58 "Update Readme.md"
**Tasks**

- [ ] Update readme.md

[2022-04-07 04:23] praweshsth commented on #24
@andreaszenasidi Ok.

[2022-04-07 07:21] andreaszenasidi commented on #55
@praweshsth my bad, I missed that conversation. I will remove my comment!

[2022-04-07 08:07] jenishshrestha opened #62 "Activity List - Pop modal component"
- [ ] Create reusable pop modal for activity list page.

[2022-04-07 13:43] andreaszenasidi commented on #24
@praweshsth this is approved.

[2022-04-07 13:47] andreaszenasidi commented on #48
@praweshsth this is approved.

[2022-04-07 13:48] andreaszenasidi commented on #42
@nirvanalama this is approved. Only thing is that Publisher ID needs to be made mandatory.

[2022-04-08 05:20] andreaszenasidi commented on #55
@praweshsth this is aproved

[2022-04-08 05:54] praweshsth commented on #55
Thank you @andreaszenasidi

[2022-04-08 05:54] praweshsth commented on #48
Thank you @andreaszenasidi

[2022-04-08 06:08] praweshsth commented on #42
@andreaszenasidi thank you.

[2022-04-08 06:09] praweshsth commented on #43
Thank you @andreaszenasidi

[2022-04-08 06:10] praweshsth commented on #24
thank you @andreaszenasidi

[2022-04-08 07:39] man-git007 opened #68 "devops setup"
Setup application deployment for stage server

**TASKS**

- [x] Enable deployment for stage and main branch
- [x] Enable deployment for specific branch in stage or production server

Linked Issues:
#145

[2022-04-08 08:43] #62 closed

[2022-04-11 05:04] man-git007 commented on #68
@pravin-yipl There seems to be deployment build issue. Also lets have a Deployment label like `Deployment (staging)` and `Deployment (prod)`

[2022-04-11 07:47] jenishshrestha opened #72 "Activity Detail Page - Frontend development"
- [x] Front end development of activity detail page

[2022-04-12 04:00] shreyaydi opened #73 "User dropdown menu"
A dropdown menu consisting of links to logout, view profile
Linked Issue: #7

[2022-04-12 05:51] #12 closed, assigned to nobody

[2022-04-12 09:19] nirvanalama commented on #46
Hello. We made changes according to the feedback we discussed at the last meeting.

https://www.figma.com/file/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?node-id=1426%3A16559

[2022-04-12 09:31] Sanilblank opened #74 "Activity and Organisation module"
Create migrations, seeders, repo, and services required for activity and organisation.

TASKS
- [x] Activity and organisation table migrations
- [x] Activity and organisation table seeders
- [x] Activity and organisation route files
- [x] Activity and organisation services and repository files
- [x] Activity and organisation controllers

[2022-04-13 14:53] k8hughes commented on #46
I have left some comments in figma - I think we are nearly there!

[2022-04-15 05:05] #58 closed

[2022-04-20 08:43] Man0zZ opened #77 "Language file update"
**Tasks**

- [ ]  Translation of landing, signup, settings and reset page.
- [x] Creation of laravel lang files.
- [x] Line height for help text

[2022-04-20 11:58] #31 closed

[2022-04-22 08:17] praweshsth opened #83 "Understanding the mandatory fields in a non-mandatory element"
Suppose a user started filling the element ‘transaction’. If the user has not filled any fields in it, there would not be an issue as this element is not mandatory.

Now the user has to fill the sub-elements transaction type, transaction date and value and it’s attribute of value date for the element ‘transaction’ to be complete.

But if he fills either one of fields in the sub-element ‘aid type’

[2022-04-22 08:35] k8hughes commented on #83
@amy-silcock is the best person to answer this I think....

[2022-04-22 08:40] praweshsth commented on #83
I have assigned the issue to her.

[2022-04-25 05:06] jenishshrestha opened #85 "Activity Listing design changes"
- [ ] Identify all new changes in design.
- [ ] Implement all the changes.

[2022-04-25 14:53] amy-silcock commented on #83
Hi @praweshsth,

You're correct. As soon as a user adds **any** data within a transaction element they have to also add the:
- transaction-type/@code
- transaction-date/@iso-date
- transaction/value
- transaction/value/@value-date

[2022-04-26 10:55] man-git007 opened #91 "Unit Test signup and login"
Write unit test for publisher signup and login

**TASKS**
- [ ] Unit test login module
- [ ] Enable dummy db for testing
- [ ] Enable user factory
- [ ] Unit test register

[2022-04-27 11:33] #91 closed

[2022-04-27 12:04] praweshsth commented on #83
Got it @amy-silcock Thank you.

[2022-04-28 08:52] #74 closed

[2022-04-28 09:38] nirvanalama opened #93 "Transaction Design"

[2022-04-28 11:23] nirvanalama commented on #93
@amy-silcock @Rohini-IATI @titiolukole @andreaszenasidi @praweshsth

Hello. Here is the transaction detail flow:

https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=4366%3A46577&node-id=4548%3A50317&viewport=350%2C48%2C0.12&scaling=min-zoom&starting-point-node-id=4548%3A50317

[2022-04-29 04:14] Sanilblank opened #96 "Create Activity"
Allow users to create acitvities.

TASKS

- [x] Simple pop up modal when user wants to add activity
- [x] Validation for creating activity
- [x] Store activity in activity table
- [x] Create tests for activity creation

[2022-05-02 11:23] #85 closed

[2022-05-03 06:02] titungdup opened #105 "Add "Add activity form" modal in activity listing page"
Parent issue: #28

[2022-05-03 13:52] #83 closed

[2022-05-04 06:02] #105 closed

[2022-05-04 09:04] praweshsth commented on #1
1. Update the country list including the country code as per the list here - https://docs.google.com/spreadsheets/d/1okv1yB6iIU0Uzf-qGxpphNhF8xctsMTYLPWdmOtryDE/edit#gid=1964476832
2. Update the Organisation Registration Agency list including the code as per the list here - https://docs.google.com/spreadsheets/d/1okv1yB6iIU0Uzf-qGxpphNhF8xctsMTYLPWdmOtryDE/edit#gid=150070354 and make sure the list

[2022-05-04 09:43] praweshsth commented on #7
1. Reset password link doesn't work
2. When the credentials don't match, highlight the password field box too.

[2022-05-05 08:28] praweshsth commented on #25
1. Remove '* Mandatory fields' and remove '*' and validation while saving
2. Replace the placeholders with  'Type Publisher ID here' for Publisher ID and 'Type API Token here' for API Token
3. Make Publisher ID uneditable and no need to show 'correct' or 'incorrect'
4. Don't save the API token when 'Verify' is clicked

[2022-05-05 08:38] praweshsth commented on #26
1. Check if the Default Hierarchy is 1, 2 or 3 and show error if the value is not empty, 1, 2 or 3. If empty save it as 1 in database.

[2022-05-06 04:34] sriza opened #112 "Setting, Signup and Signin Feedbacks"
**Tasks**

- [x] Reset password link doesn't work.-
- [x] When the credentials don't match, highlight the password field box too.
- [x] In Publisher Information, the '*' is missing in Publisher ID field
- [x] Update the country list including the country code as per the list here - https://docs.google.com/spreadsheets/d/1okv1yB6iIU0Uzf-qGxpphNhF8xctsMTYLPWdmOtryDE/edit#gid=1964476832
- [x] Update

[2022-05-09 05:16] praweshsth opened #115 "Activity Detail Page"
As an admin user (publisher), I want to view the activity detail page so that I can add/edit activity, publish, unpublish, republish, download and delete the activity and view the progress of activity completion

For Structure - [check design link](https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=34%3A327&node-id=1426%3A16559&viewport=350%2C48%2C0.46&scaling=min-z

[2022-05-09 09:32] sriza opened #116 "Activity List Dynamic"
**Tasks**
- [x] dynamic table
- [x] dynamic pagination
- [x] modal form
- [x] spacing fixes
- [x] activity dropdown close

[2022-05-09 10:50] praweshsth commented on #112
**Sign up**
- [ ] In publisher information, after everything is filled up, check if 'Publisher ID' match with IATI registry, if it doesn't then just show 'Publisher ID' doesn't exist in IATI Registry

**Settings - Publishing Settings **
- [ ] Don't show 'The api token field is required' when it is empty and user try to verify or save it. Just show the incorrect status.

[2022-05-11 09:40] praweshsth commented on #116
**Add activity form**
1. In the form, when the external link 'For more information' is clicked, open the link in another tab instead of same tab.
2. Show the list of language list from here: https://docs.google.com/spreadsheets/d/1okv1yB6iIU0Uzf-qGxpphNhF8xctsMTYLPWdmOtryDE/edit#gid=1429184668
3. Use the text and links for hover over information for elements of activities from https://docs.google.

[2022-05-11 13:55] andreaszenasidi commented on #112
@praweshsth Few issues were found during functionality testing.

**1. **Contact Support** link doesn’t work**
**URL:** https://stage.iatipublisher.yipl.com.np/
**Issue:** Contact Support button doesn’t do anything just reloads the page.

**2. Join Now ->I am new to IATI**
**URL:** https://stage.iatipublisher.yipl.com.np/
**Issue:** Doesn’t work,  takes you back to the home page.

**3. Error messag

[2022-05-12 04:32] praweshsth commented on #112
Thank you @andreaszenasidi for the feedback. Below are our response to your feedback:

1. we will add the email link to IATI Support
2. since we will be developing the sign up for not registered in IATI registry later only, for now, we will freeze the block so nothing will happen. But if you have any suggestions other than that, do provide us the suggestion.
3. We will replace the text as per your

[2022-05-13 09:28] andreaszenasidi commented on #112
@praweshsth new issue found.

When I use again a publisher (e.g. Development Initiatives Poverty Research) from the IATI registry that I already signed up in the IATI Publisher, after I enter the information on the screen and click Next Steps nothing happens, no error message is shown.

![image](https://user-images.githubusercontent.com/74558657/168254520-58299d5e-8f82-45cb-a88b-ce6dcc75426b.png)

[2022-05-13 11:06] praweshsth commented on #112
@andreaszenasidi I checked with the same information, it took me to next step to enter the admin information. Please check it once again. If the problem persists then we will look into it. Yesterday, we had added another changes. May be you want to do a hard refresh.

[2022-05-16 07:32] jenishshrestha opened #132 "Activity Detail Functionalities"
- [x] Confirmation modal for all button.
- [x] Scroll to activities elements based on their grouping.
- [x] Search/filter elements with form

[2022-05-16 08:52] andreaszenasidi commented on #112
@praweshsth the issue is that in Firefox v 100.0 the Next Step button doesn't do anything just refreshes the page, but doesn't even trigger the validation because if I leave all the cells empty no error message is displayed.
https://stage.iatipublisher.yipl.com.np/register

[2022-05-16 08:55] praweshsth commented on #112
@Man0zZ please check the sign up flow in Firefox v 100.0 and resolve the issue mentioned by @andreaszenasidi

[2022-05-16 11:56] praweshsth commented on #112
@andreaszenasidi both the issues you have mentioned has been resolved. @Man0zZ tested in Firefox v100.0 and found that it was working. And @sriza has worked on the issue but hasn't updated in the staging. She will do it tomorrow.

[2022-05-17 05:55] praweshsth commented on #112
@sriza

1. In the footer, please change the IATI Standard part as per the [document](https://docs.google.com/document/d/16G0tjT1iprHO2jIp3cn9cyFC1HGnt8FUl5zWXaoWldo/edit#heading=h.xqnus0flgxbv)
2. In Sign up page's description part, change 'Haven't registered yet? Sign in' to 'Already have an account? Sign in'
3. In reset password, when the password don't match, highlight both fields
4. In Default

[2022-05-17 06:13] praweshsth commented on #116
@sriza

1. In add activity modal, the link in the information of xml:lang for title narrative should be https://iatistandard.org/en/iati-standard/203/activity-standard/iati-activities/iati-activity/title/narrative/
2. When the logo at the top is clicked, it goes nowhere, always take it to activity listing page when signed in.

[2022-05-17 06:13] praweshsth commented on #72
@jenishshrestha @sriza

1. When in detail page and clicked the back button, I am taken to sign in page. Take it to activity listing page instead
2. The title of the activity is not what I entered when I created the activity

[2022-05-17 06:46] andreaszenasidi commented on #112
@praweshsth Thanks for making the changes. The email looks good now. But the form still doesn't behave as expected in Firefox. I can show you in today's catchup call if that helps.

[2022-05-17 07:48] Man0zZ opened #138 "Error Messages"
- [ ] success/error messages

[2022-05-23 14:08] Man0zZ opened #144 "Organisation Module"
**Tasks**
- [x] organisation data UI
- [x] Organization Add and Edit
- [x] Dynamic Detail Page

[2022-05-24 05:32] pravin-yipl opened #145 "Production Deployment on k8s"
- [x]  Publish image build on github container registry
- [x]  New workflow for production deployment
- [x]  Fully manage jobs for migration & seeding of database

[2022-05-27 05:17] AbhishekSka opened #147 "#148 Bug: Login>>User '=-98654321' is unable to sign in even if it has been successfully registered"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
- User is being registered as =-98654321

### Steps ###
- Enter Username as "=-98654321"
- Enter password as "test1234" >> User sees frontend validation stating "These credentials do not match our records."
- Click on reset and send mail to "yiplqa1+pub1@gmail.com"
- Fill required field and RESET PASSWORD

### Actual result ###

[2022-05-27 05:40] AbhishekSka opened #148 "Login fixes"
Bug:

- [x] #147
- [x] #149
- [x] #150
- [x] #151
- [x] #153
- [x] #154
- [x] #157
- [x] #162
- [x] #166
- [x] #180
- [x] #234

[2022-05-27 05:55] AbhishekSka opened #149 "#148 Bug: After successful login user is get back to login page by clicking Back button from browser"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: User_A
- Password: test1234

### Steps ###
- Login with above mentioned User name and password
- When in Activities Page>> Hit back from browser or https://stage.iatipublisher.yipl.com.np/login

### Actual result ###
- User is being redirected to the Login page once again

###

[2022-05-27 06:52] AbhishekSka opened #150 "#148 Bug: Multiple clicks over the Login to be disabled"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: User_A
- Password: test1234

### Steps ###
- Login with above mentioned User name and password
- Multiple click on Login button

### Actual result ###
- User with get 419 session expired status code eventually

### Expected result ###
- Click disable for the login button once

[2022-05-27 07:02] AbhishekSka opened #151 "#148 Bug: User's login password could be viewed through xhr request"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: User_A
- Password: test1234

### Steps ###
- Login with above mentioned User name and password
- click on Login button
- Open dev tools and check for the request

### Actual result ###
- The entered password is visible of xhr request

### Expected result ###
- Password encrypt

[2022-05-27 07:17] AbhishekSka opened #152 "Sign up fixes"
- [x] #156
- [x] #158
- [x] #159
- [x] #160
- [x] #163
- [x] #164
- [x] #165
- [x] #168
- [ ]  #177

[2022-05-27 07:57] SauravSilwal10 opened #153 "#148 Bug: The username and password input fields should have a character limitation."
Context

- Desktop
- Chrome 100.0.4896.127

Precondition
- https://stage.iatipublisher.yipl.com.np/login

Steps
- Enter a Username: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla c

[2022-05-27 08:09] SauravSilwal10 opened #154 "#148 Bug :Time counter isn't operating correctly."
### Context

- Desktop
- Chrome 100.0.4896.127

### Precondition

- https://stage.iatipublisher.yipl.com.np/login

### Step

- Enter a Username: Test1
- Enter a Password: Testing123
- Click the Sign in Button

### Actual result

- The timer stops working.

### Expected result
- The timer should accurately indicate the remaining time.

https://user-images.githubusercontent.com/78422663/170673014-96

[2022-05-27 08:20] AbhishekSka opened #156 "#152 Bug: User is allowed to register over the logged in session"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/register
- Username: User_A
- Password: test1234

### Steps ###
- Create two instances of  https://stage.iatipublisher.yipl.com.np/ in browser
- Open
- In first https://stage.iatipublisher.yipl.com.np/register
- Second https://stage.iatipublisher.yipl.com.np/login

- In first instance>> en

[2022-05-27 09:47] SauravSilwal10 opened #157 "#148 Bug: After deleting the cookies, the sign-up page becomes unresponsive."
Context
- Desktop
- Chrome 100.0.4896.127

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Saurab
- Password: test1234

Steps
- Click the inspect
- open the application
- Click the cookies
- Delete the XSRF-TOKEN

Actual result
- The sign-up page becomes unresponsive

Expected result
- Sign up page should be reactive

https://user-images.githubusercontent.com/78422663/170679232

[2022-05-27 10:23] SauravSilwal10 opened #158 "#152 Bug: Register>>Step 2>>Password and Confirm Password Validation should be done ."
Context

- Desktop
- Chrome  100.0.4896.127

Precondition
- https://stage.iatipublisher.yipl.com.np/register
- tester
-  NP-CRO-145
-  test111145

Steps

- https://stage.iatipublisher.yipl.com.np/register
- Fill required necessary field and move to Step 2
- Enter Password:Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque pe

[2022-05-27 10:23] AbhishekSka opened #159 "#152 Bug: UI issues"
### Context

- Desktop
- Chrome 100.0.4896.127

### Precondition
- https://stage.iatipublisher.yipl.com.np/registration

### Step
_Issue 1_

- [x]  Check for the font color of field labels in Step 1/Step2

_Issue 2_

- [x] Font color for "Step 2 out of 3"

_Issue 3_

- [x]  Text color over "NEXT STEP"
![image](https://user-images.githubusercontent.com/25945530/170678085-a95d3196-f946-4000-ad8b-672

[2022-05-27 10:33] AbhishekSka opened #160 "#152 Bug: Register>>Step 2>> Validation over the email field stays once it gets validated"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://staging.iatiregistry.org/
- yiplqa1@gmail.com
- test1234
[Publisher Name 6](https://staging.iatiregistry.org/publisher/pub_6)

### Steps ###
- https://stage.iatipublisher.yipl.com.np/register
- Fill required necessary field and move to Step 2
- Fill all required field and in email field enter email id which has already b

[2022-05-27 10:53] SauravSilwal10 opened #162 "#148 Bug:While logged into a system, a user can reset his or her password."
Context

- Desktop
- Chrome 100.0.4896.127

Precondition

- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 123456789

Steps

- Create two instances of https://stage.iatipublisher.yipl.com.np/ in the browser
- Open
- first https://stage.iatipublisher.yipl.com.np/login
- Second https://stage.iatipublisher.yipl.com.np/login
- In the first instance>>Enter a valid username and pa

[2022-05-30 04:43] AbhishekSka opened #163 "#152 Bug: 500 while registering the user"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/register

### Steps ###
- Registration>> Enter vaild information for Step 1
- Enter valid information for Step 2
- Hit next

### Actual result ###
- User face 500 upon submission of api

### Expected result ###
- User should observe verification email sent and page moved to Step 3 email ve

[2022-05-30 04:53] SauravSilwal10 opened #164 "#152 Bug: Register>>Step 2>>when you enter invalid email address administrator information page becomes unresponsive."

[2022-05-30 05:14] SauravSilwal10 commented on #164
Context

- Desktop
- Chrome 100.0.4896.127

Precondition

https://stage.iatipublisher.yipl.com.np/register

- tester
- NP-CRO-145
- test111145

Steps

https://stage.iatipublisher.yipl.com.np/register
Enter an email:3@3
Click the next step  button

Actual result
-administrator Information page becomes unresponsive

Expected result
- The email format is invalid.

https://user-images.githubuserconten

[2022-05-30 05:27] SauravSilwal10 opened #165 "#152 Bug :Register>>Step 3>>User's sign up password and confirm password could be viewed through xhr request"
Context

- Desktop
- Chrome 100.0.4896.127

Precondition

- https://stage.iatipublisher.yipl.com.np/
- tester
- NP-CRO-145
- test111145
- Steps

- https://stage.iatipublisher.yipl.com.np/register
- Fill required necessary field and move to Step 3

Actual result

- The entered password is visible on xhr request

Expected result

- Password encryption over the payload is to be made
![Screenshot from

[2022-05-30 06:14] SauravSilwal10 opened #166 "#148 Bug: Password recovery >> Hamburger button is not working properly."
Context

- Desktop
- Chrome 100.0.4896.127

Precondition

- https://stage.iatipublisher.yipl.com.np/login
- Click the reset button

Steps

- https://stage.iatipublisher.yipl.com.np/password/email
- Fill in the required necessary field and move Password Recovery

Actual Result

- The Ham burger is not working properly.

Excepted Result

- Ham Burger should work properly.

https://user-images.github

[2022-05-30 07:20] SauravSilwal10 opened #167 "#152 Bug: Register>>Step 3>>Email verification is not mandatory ."

[2022-05-30 07:23] AbhishekSka opened #168 "#152 Bug: UI isssue over mozilla"
### Context

- Desktop
- Mozilla 100.0.2

### Precondition
- Resolution 1366x768
- Viewport: 1312x627

_Issue 1_

- [x]  Overflow content in Login page

![Screenshot(1)](https://user-images.githubusercontent.com/25945530/170924535-c729539b-be22-432e-bc42-7a0f93035b74.png)

_Issue 2_

- [x]  All of the fonts are on San serif
![Screenshot(2)](https://user-images.githubusercontent.com/25945530/170925

[2022-05-30 07:37] SauravSilwal10 commented on #167
Context

- Desktop
- Chrome 100.0.4896.127

Precondition

- https://stage.iatipublisher.yipl.com.np/register

- Publisher Name: tester
- Publisher ID: test111145
- IATI Organisational Identifier :NP-CRO-145
- UserName Test1
- Full name: Tester
- Email: test_1@gmail.com
- password:12345678
- Confirm Password:12345678

Steps

- Click the next step button and move to step 3
- Hit the URL https://stag

[2022-05-30 08:20] AbhishekSka opened #169 "#54 Bug: Settings Design differences over figma"
**Context**
- Desktop
- Chrome 100.0.4896.127

**Precondition**
- https://stage.iatipublisher.yipl.com.np/
- Username: User_A
- Password: test1234

| **Steps**      | **Actual result** | **Expected result**    |
| :---        |    :----:   |          ---: |
|Issue 1: Default values>>Title "Registration form" missing    | ![image](https://user-images.githubusercontent.com/25945530/170945393-7f15fd4

[2022-05-30 08:31] man-git007 commented on #163
@sriza Could you please look into this?

[2022-05-30 08:34] man-git007 commented on #166
@Man0zZ Could you please look into this?

[2022-05-30 08:35] man-git007 commented on #167
@sriza We do have email verification right?

cc @praweshsth

[2022-05-30 08:36] man-git007 commented on #169
@praweshsth Could you please verfiy?

[2022-05-30 09:03] AbhishekSka commented on #54
#169

[2022-05-30 09:16] SauravSilwal10 opened #172 "#54 Bug: Invalid message appears during the verification of token"
Context
- Desktop
- Chrome 100.0.4896.127

Precondition
- The user should be logged into the system.
- https://stage.iatipublisher.yipl.com.np/activities

Steps

- Click the setting button
- Enter an invalid API token or Leave a blank field for the API token.
- Click the verify button.
- Click the Save publishing button.

Actual output

- API Token verified Successfully.
- Publisher setting stored

[2022-05-30 09:27] sriza commented on #57
@AbhishekSka @SauravSilwal10
The tasks related to this issue are deployed to the staging site. Please have a look and let us know if any issues are present.

cc @man-git007 @praweshsth

[2022-05-30 10:45] sriza commented on #167
@SauravSilwal10
We do have email verification, but the user can login to the system while still having unverified email.
The unverified user will be notified about the lack of verification through the error message:
![image](https://user-images.githubusercontent.com/24825118/170976285-0763a7e3-07c4-4b78-b4be-21bf93c5d680.png)

The error message feature is a work in progress and is not deployed to

[2022-05-31 03:30] praweshsth commented on #169
- No. 1 looks fine to me. It doesn't have to be same as the design. And for both no. 1 and no.2, please refer to this document for the content - https://docs.google.com/spreadsheets/d/1AYj0Nn6StKUu2S23BIYa8o7OadWr_uJkFtuvWOtU5WU/edit#gid=0
- For next 2, Please go ahead with the feedback
@AbhishekSka @man-git007

[2022-05-31 03:34] praweshsth commented on #167
Yes, even though the email is not verified, the user can log in, add activity and organisation. However, the user can't publish activity or organisation until the email is verified along with other settings and default values and mandatory elements.

[2022-05-31 04:46] AbhishekSka commented on #167
@praweshsth dai Is " the user can't publish activity or organisation until the email is verified" already implemented or on our upcoming sprints??

[2022-05-31 04:50] praweshsth commented on #167
@publishing activity and organisation has not been done yet. When it is developed these things will be taken into consideration.

[2022-05-31 04:56] AbhishekSka commented on #167
since it's a feature to be done rather than bug, closing the ticket for now.

[2022-05-31 04:56] #167 closed

[2022-05-31 11:39] nirvanalama opened #173 "Result Design Flow"

[2022-05-31 11:42] nirvanalama commented on #173
**Here is the result flow:**
@praweshsth @andreaszenasidi @amy-silcock @k8hughes

https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=5020%3A61830&node-id=6446%3A113725&viewport=385%2C1355%2C0.02&scaling=min-zoom&starting-point-node-id=6446%3A113725&show-proto-sidebar=1

**Activity detail page with different states**
https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW

[2022-06-01 10:14] AbhishekSka opened #175 "#54 Bug: Settings>>Publishing settings>> Upon adding correct api token then directly Saving the settings sends payload for "token_verification":"false""
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
- Should have API token over IATI registry

### Steps ###
- Settings>> Publishing settings>> enter API token
- Without verify directly hit "Save Publishing Settings" button
- Check for payload in the xhr in network

### Actual result ###
- "token_verification: false" is being sent to the request even if the token is successfully

[2022-06-02 03:32] praweshsth commented on #173
@Rohini-IATI so do you think we need to sit down to discuss it on Monday?

[2022-06-02 05:34] SauravSilwal10 opened #177 "#152 Bug :User can register into the IATI publisher with the publishers that are unapproved from the iati registry"
Context
- Desktop
- Chrome 102.0.5005.61

Steps
Create two instances of https://stage.iatipublisher.yipl.com.np/ in the browser
Open
- First https://staging.iatiregistry.org/publisher/new
- Second https://stage.iatipublisher.yipl.com.np/register
- In the first instance>> enter valid publisher information and click publisher information
- Then redirect to the publisher information page where publis

[2022-06-02 15:43] Rohini-IATI commented on #173
I think that @andreaszenasidi and @titiolukole may have inputs. Also it would be good to speak as I have questions about the display of the elements content and future copy-writing tasks for this project.

[2022-06-03 03:37] praweshsth commented on #173
Sure, let's meet on Monday as planned.

[2022-06-03 05:45] Man0zZ commented on #168
@AbhishekSka  can you check issue no. 1 and 5 again..I tested in multiple browsers in same resolution it works fine.

[2022-06-03 06:05] Man0zZ commented on #166
@AbhishekSka i have fixed this bug and merged it into staging please check it out.

cc @man-git007
cc @praweshsth

[2022-06-03 06:09] Man0zZ commented on #159
@AbhishekSka this issue has been resolved. Test it out and if there is any issue please give me feedback.

cc @man-git007
cc @praweshsth

[2022-06-03 09:31] SauravSilwal10 opened #180 "#148 Bug: UI issues"
**Context**
- Desktop
- Chrome 100.0.4896.127

**Precondition**
- https://stage.iatipublisher.yipl.com.np/login
- Click the Reset Button.

| **Steps**      | **Actual result** | **Expected result**    |
| :---        |    :----:   |          ---: |
|Issue 1: Password Recovery/password/email>> Margin is missing between password recovery and enter an email|![Screenshot from 2022-06-03 15-23-48](http

[2022-06-03 11:40] SauravSilwal10 commented on #159
@Man0zZ  issue 3 hasn't been solved yet.According to the figma design Text color over "NEXT STEP" should be #155366 but actual result is #2A2F30.

cc @man-git007
cc @praweshsth

[2022-06-06 07:02] andreaszenasidi commented on #173
@praweshsth the design looks very good! It's easy to navigate in my opinion.

[2022-06-06 07:30] praweshsth commented on #173
Thank you.

[2022-06-06 08:39] Man0zZ commented on #180
@SauravSilwal10  @AbhishekSka This issue has been resolved. Please check it out.

cc @man-git007
cc @praweshsth

[2022-06-06 08:58] Man0zZ commented on #159
@AbhishekSka  @SauravSilwal10  I discussed issue 3 with designers  and  they says to use #2A2F30 color which is currently used. Since, sign in and next step buttons are similar they should be same color.

cc @man-git007
cc @praweshsth

[2022-06-06 09:13] SauravSilwal10 commented on #180
@Man0zZ None of these bugs have been addressed. Please go through it again.

cc @man-git007
cc @praweshsth

[2022-06-06 09:52] sriza commented on #164
@SauravSilwal10
This issue has been fixed and deployed to the staging site. Please have a look and let me know if the issue persists.

cc @man-git007 @praweshsth

[2022-06-06 09:54] sriza commented on #150
@AbhishekSka
This issue has been fixed with the placement of loader and is now deployed to the staging site. Please have a look.

cc @man-git007 @praweshsth

[2022-06-06 10:03] sriza commented on #158
@SauravSilwal10
The validation rules for password and password confirmation have been updated. Please have a look at it and let me know if further changes are required.

cc @man-git007 @praweshsth

[2022-06-06 10:06] sriza commented on #147
@AbhishekSka
The validation rules for the username have been updated. Please check and let me know if further changes are required.

cc @man-git007  @praweshsth

[2022-06-06 10:07] sriza commented on #163
@AbhishekSka
The fixes to this issue is deployed to the staging branch. Please let me know if the issue persists.

cc @man-git007 @praweshsth

[2022-06-06 10:10] sriza commented on #165
@SauravSilwal10
The password fields are now encrypted and deployed to the staging site. Please have a look.

cc @man-git007 @praweshsth

[2022-06-06 10:12] sriza commented on #156
@AbhishekSka
The fixes to this issue is deployed to the staging site. Could you please test the changes and let me know if the issue persists?

cc @man-git007 @praweshsth

[2022-06-07 07:36] SauravSilwal10 commented on #156
@sriza
This fix still has bugs.
Actual Output: The registration page continues to refresh indefinitely.
Excepted Output: The registration page should redirect to the activity page, and the session for the same instance should be handled.

https://user-images.githubusercontent.com/78422663/172322651-48467ab0-c0e2-43ad-a726-6e1294cead11.mp4
cc @man-git007  @praweshsth

[2022-06-07 08:05] SauravSilwal10 commented on #165
@sriza
This fix still has bugs.
Actual Output: After registration, a new user is unable to log into the system.
Excepted Output: A new user should log in to the system successfully.
https://user-images.githubusercontent.com/78422663/172328944-178065f3-cad0-4029-952d-53cf56d7d934.mp4
 cc @man-git007  @praweshsth

[2022-06-07 08:09] SauravSilwal10 commented on #147
@sriza
This fix still has bugs. Please go through it again.

https://user-images.githubusercontent.com/78422663/172329672-fd21dd4b-d120-4f92-9895-056d80104743.mp4

cc @man-git007  @praweshsth

[2022-06-07 09:41] praweshsth opened #184 "Using IATI Validator instead of buildling logics to check the data within the publisher?"
Is it possible and feasible to use IATI validator API to validate the activity and organisation files within the IATI Publisher without developing any logic to validate the data?

@k8hughes @andreaszenasidi @titiolukole @anjesh @man-git007

[2022-06-07 15:05] k8hughes commented on #184
@akmiller01 and I spoke about this today - the validator API only goes as granular as activity level, it doesn't go down to elements but the logic for elements are all in the ruleset json in our github:
https://github.com/IATI/IATI-Rulesets/blob/version-2.03/rulesets/standard.json
And then in theory, all of the field types are contained in the schema files: https://github.com/IATI/IATI-Schemas/blo

[2022-06-07 15:50] praweshsth commented on #165
I used the following credentials:

username: Test data
password: 12345678

as per the video, it logs in.

[2022-06-08 07:41] SauravSilwal10 commented on #149
@sriza
This issue has not been fixed. Please review again.

cc @man-git007  @praweshsth

[2022-06-08 07:48] SauravSilwal10 opened #187 "152 Bug: UI isssue"
**Context**
- Desktop
- Chrome 100.0.4896.127

**Precondition**
- https://stage.iatipublisher.yipl.com.np/
- Click the join now button.

| **Steps**      | **Actual result** | **Expected result**    |
| :---        |    :----:   |          ---: |
|Issue 1: Landing page >>Description Title does not match with product log document |![Screenshot from 2022-06-08 13-40-12](https://user-images.githubuse

[2022-06-10 04:52] jenishshrestha opened #190 "Results edit/add form"
- [x] Add and edit form of results activity element
- [x] Solve font issue (Arial font)
- [ ] Clean code app.ts file inside resources > assests > js

[2022-06-13 03:51] man-git007 commented on #184
@k8hughes Thank you for the clarification on element validator API. We can use the ruleset from [https://github.com/IATI/IATI-Rulesets/blob/version-2.03/rulesets/standard.json](https://github.com/IATI/IATI-Rulesets/blob/version-2.03/rulesets/standard.json) for validating each element.

cc @praweshsth @sriza @Sanilblank

[2022-06-13 09:24] #132 closed

[2022-06-14 05:52] AbhishekSka opened #193 "#57 Bug: Any user is allowed to access all of the activities created by any user"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: User_A
- Password: test1234

- Username: $username=%00;
- Password: test1234

### Steps ###
- Go to
- https://stage.iatipublisher.yipl.com.np/activities/1
- https://stage.iatipublisher.yipl.com.np/activities/2
- https://stage.iatipublisher.yipl.com.np/activities/3
- https://st

[2022-06-15 07:06] AbhishekSka opened #197 "#57 Bug: Activity details with large Activity title overflows over breadcrum"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: $username=%00;
- Password: test1234

### Steps ###
- Create activity and set title of the Activity with 500 words
- Go back to activity detail Page

### Actual result ###
- We could see full title present over the breadcrum and title of the activity
- Due to this upon edit of

[2022-06-15 07:14] AbhishekSka opened #198 "#57 Bug: Cancel button working as submission for the forms"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: $username=%00;
- Password: test1234

### Steps ###
- Create/Edit activity for any element
- Make changes to the contents
- hit Cancel

### Actual result ###
- It gets saved instead of discarding changes

### Expected result ###
- Clicking cancel should discard changes

![image

[2022-06-15 07:21] AbhishekSka opened #199 "#57 Bug: Upon clicking over "Your activities" from breadcrum,user redirected to Login page"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: $username=%00;
- Password: test1234

### Steps ###
- Go to any of activity>> Click over any Element say description
- from the form page>>Click on "Your activities " over the Breadcrum

### Actual result ###
- Its being redirected to Login page

### Expected result ###
- User

[2022-06-15 07:34] AbhishekSka opened #200 "#57 Bug: 'iati-identifier'/'other identifier'>> Rule>>Element must not contain any of the symbols /, &, | ?"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: $username=%00;
- Password: test1234

### Steps ###
- From Activity listing>>Add activity/Other identifier
- Fill up required fields and over iati-identifier enter characters  /, &, | ?
- save

### Actual result ###
- These characters are accepted
![image](https://user-images.g

[2022-06-15 08:33] AbhishekSka opened #201 "#57 Bug: User is unable to view saved Description details over Activity details"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: $username=%00;
- Password: test1234

### Steps ###
- Create Description by filling up the sub elements
- Check for the data saved on the activity details

### Actual result ###
- View for Saved details are unavailable over activity details

### Expected result ###
- Saved deta

[2022-06-15 10:19] AbhishekSka opened #204 "#57 Bug: Mutliple activity with same iati-identifier could be created upon larger payload"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: $username=%00;
- Password: test1234

### Steps ###
- From Activity listing>>Add activity
- Fill up Narratives with 500 words
- Identifiers
- Click submission button multiple times

### Actual result ###
- Same activity could be created  multiple times

### Expected result ###

[2022-06-16 05:07] SauravSilwal10 opened #205 "#57 Bug: After pressing the edit button, the actual title becomes a dummy title."
Context

- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678

Steps
- Create an activity.
- Go to activity detail Page
- Click the collaboration-type >> select the drop-down >> click the save publishing setting button.
- Go back to the activity detail Page>> click the edit button of collaboration-type.

Actual result
- A d

[2022-06-16 05:15] AbhishekSka opened #206 "#57 Bug: Description>> Rules mentioned over the iati standard missing"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
- Username: $username=%00;
- Password: test1234

### Steps ###
- Activity >> Description
- Add Narratives and Lang fields
- save the pages

### Actual result ###
-  Validation for @type field

### Expected result ###
- As per IATI Standard Rules:" The type of description being provided. This is not required if only one general d

[2022-06-16 05:52] SauravSilwal10 opened #207 "#57 Bug: Finance type>> Drop down option are missing in Default Finance type."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678

| **Steps**      | **Actual result** | **Expected result**    |
| :---        |    :----:   |          ---: |
|Issue: acitvity>>Default Finance type| Drop-down options are missing in the default finance type![Screenshot from 2022-06-16 11-46-41](https://user-images

[2022-06-16 06:11] SauravSilwal10 commented on #207
@praweshsth  and @man-git007 dai What should be done with the IATI Standard's (withdrawn) choices? Should they be included in drop-down options or not?
![Screenshot from 2022-06-16 11-55-09](https://user-images.githubusercontent.com/78422663/174003280-f44cd9d0-0831-4cc3-a479-92ceafe1a53c.png)

[2022-06-16 07:32] SauravSilwal10 opened #209 "#57 Bug: Other activities always redirect to the activities 1 page after clicking an edit button."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678

Steps

- Create an activity.
- Go to activity detail Page
- Click the edit button.

Actual result
- Redirect to the activities 1 page

Expected result
- Should redirect to the actual activities page.

https://user-images.githubusercontent.com/78422663/174019762-9

[2022-06-16 08:13] AbhishekSka opened #210 "#57 Bug: Issue over dropdowns"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: $username=%00;
- Password: test1234

### Steps ###
_Issue 1_
-  Upon the selection of  dropdowns on the attribute elements such as
 - @xml:lang
 - @type
 - @code

_Issue 2_
- click on the dropdown
- Try to type for the item to be selected

### Actual result ###
_Issue 1_
- Sel

[2022-06-16 10:22] AbhishekSka opened #211 "#57 Bug: Upon clicking on any of the tooltip icon on the field, element page is getting saved"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: $username=%00;
- Password: test1234

- For already created activity

### Steps ###
- Edit or goto
- https://stage.iatipublisher.yipl.com.np/activities/58/description
- Make changes
- then click on ![image](https://user-images.githubusercontent.com/25945530/174049796-0f665d46-4

[2022-06-16 11:09] AbhishekSka opened #212 "#57 Bug: Recipient country >> Recipient region IATI standard rule hasn't been followed."
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: $username=%00;
- Password: test1234

### Steps ###
- Create/Edit activity
- Fill up required fields
- On the percentage field enter say 80 or save without entering any data.
- Save

### Actual result ###
- Page gets saved.

### Expected result ###
- We must follow the IATI sta

[2022-06-16 11:17] AbhishekSka opened #213 "#57 Bug: Recipient country>> On activity detail, card looks empty with minimum data fill up"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: $username=%00;
- Password: test1234

### Steps ###
- Recipient country>>Only fill up code field
- Save the element
- Check over "recipient_country" card on the details

### Actual result ###
- The content is displayed as
![image](https://user-images.githubusercontent.com/25945

[2022-06-16 11:17] SauravSilwal10 opened #214 "#57 Bug: UI Issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678
- For already created activity

| **Steps**      | **Actual result** | **Expected result**    |
| :---        |    :----:   |          ---: |
|Issue 1: Activity Detail Page >>Icon doesnot match with the design **(DONE)** |![Screenshot from 2022-06-17 11-14-14](htt

[2022-06-16 11:44] AbhishekSka opened #215 "#57 Bug: title/description>>User could bypass frontend validation for @lang"
### Context
- Desktop
- Chrome 102.0.5005.61

### Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678

### Steps
- On Title/Description>>  enter All required fields except for the @lang
- Dev tools>>Remove "required" attribute for the element
- save

### Actual result
- blank fied for @lang could be saved

### Expected result
- Validation should occurs

[2022-06-17 05:40] SauravSilwal10 commented on #214
@praweshsth @nirvanalama  Could you please verify?

[2022-06-17 05:50] SauravSilwal10 opened #216 "#57 Bug: Activity Details Page>>Drop down doesn't function properly."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678
- For already created activity

Steps
- Activity detail page>> select Dropdown

Actual Result
- The drop-down doesn't function properly.

Excepted Result
- The drop-down should function properly.

https://user-images.githubusercontent.com/78422663/174234725-1cf6c3

[2022-06-17 07:32] SauravSilwal10 opened #217 "#57 Bug: Activity>>Description Back button redirect to Activity Title page."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678
- For already created activity

Steps
- Activity detail page>>Description page
- Click the back button

Actual Result
- Redirect to the Activity Title page.

Excepted Result
- Should Redirect to Activity Detail Page.

https://user-images.githubusercontent.com/7842

[2022-06-17 08:02] AbhishekSka opened #218 "#57 bug: Activity details>>Arrangements of the cards over activity details page"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: $username=%00;
- Password: test1234

### Steps ###
- Activity with completely filled up elements
- https://stage.iatipublisher.yipl.com.np/activities/1
- fill up the element with multiple fields and element with dropdown say activity_status and activity_date

### Actual result

[2022-06-17 08:04] SauravSilwal10 opened #219 "#57 Bug: Activity>>Condition Language attribute displayed without language"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678
- For already created activity

Steps
- Activity detail page>>Condition
- Enter attached

Actual Result
- Language attribute gets displayed.

Excepted Result
- Language attribute should not display.

https://user-images.githubusercontent.com/78422663/174525127-eda

[2022-06-17 09:18] SauravSilwal10 opened #220 "#57 Bug: Activity Title Page Next Button and Previous Button are enabled if user has only one page."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678
- For already created activity

Steps
-Click the Next and Previous Button.

Actual Result
- Next and Previous Button is enabled.

Excepted Result
- Next and Previous Buttons should be disabled.

https://user-images.githubusercontent.com/78422663/174274341-d2856590

[2022-06-17 09:37] man-git007 opened #221 "Activity Element Complete Status"
Get the status (complete or incomplete) of each element of the activity and show it on the activity detail page

**TASKS**

- [x] Categorize the elements based on their sub-elements and attributes
- [x] Develop a generic function to check the mandatory fields of each element
- [x] Check for each mandatory element and attributes in the data
- [x] Return true or false based on complete status
- [x]

[2022-06-17 10:11] praweshsth commented on #207
Don't include 'Withdrawn' options.

[2022-06-17 11:41] SauravSilwal10 opened #223 "#57 Bug: Activity>>Default-Flow-Type Drop down options that were removed from the IATI standard have been reintroduced."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678
- For already created activity

Steps
- Activity detail page>>Default flow type
- View the drop down option.

Actual Output
- 10 ODA
- 20 OOF
- 21 Non-export credit OOF
- 22 Officially supported export credits
- 30 Private Development Finance
- 35 Private Market
-

[2022-06-17 11:50] SauravSilwal10 commented on #223
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678
- For already created activity

Steps
- Activity detail page>>Default flow type
- View the drop down option.

Actual Output
- 10	ODA
- 20 	OOF
- 21	Non-export credit OOF
- 22	Officially supported export credits
- 30	Private Development Finance
- 35    Private Mark

[2022-06-20 05:20] AbhishekSka commented on #215
Discarded issue as currently no validations for the field while creation of the elements

[2022-06-20 05:20] #215 closed

[2022-06-20 05:21] AbhishekSka commented on #201
Issue resolved with new deployment

[2022-06-20 05:21] #201 closed

[2022-06-20 07:21] SauravSilwal10 opened #224 "#57 Bug: Activity>>Sector Issues"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678
- For already created activity

Steps
- Create/Edit activity
- Fill up required fields
- On the percentage field enter say 80 or save without entering any data.
- Save

Actual result
- Page gets saved.

Expected result
- We must follow the IATI standard regulation

[2022-06-20 07:56] SauravSilwal10 opened #225 "#57 Bug:Sector>>When you click on your activities button it redirect you to Login page."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678
- For already created activity

Steps
- Activity detail page>>Sector
- Click your activities

Actual Result
- Redirect to the login page.

Excepted Result
- Should Redirect to the Activity Title page.

https://user-images.githubusercontent.com/78422663/174554238-8

[2022-06-20 08:22] SauravSilwal10 opened #226 "#57 Bug: Policy Marker>> When using a policy marker code for vocabulary 1, it must include a significance."
Context
- Desktop
- Chrome 102.0.5005.61

 Preconditon
- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678
- for already created activity.

Steps
- Activity>>Policy Marker
- Select the vocabulary 1 from drop down option  >> Save

Actual result
- Page gets saved.

Expected result
- When using a policy marker code for vocabulary 1, it must include a significance
- A prop

[2022-06-20 08:48] SauravSilwal10 opened #227 "#57 Bug: Default Aid type>> Drop down option are missing in Default Aid type"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678

| **Steps**      | **Actual result** | **Expected result**    |
| :---        |    :----:   |          ---: |
|Issue: acitvity>>Default Aid type| Drop-down options are missing in the default Aid type![Screenshot from 2022-06-20 14-35-23](https://user-images.githubu

[2022-06-20 11:01] SauravSilwal10 opened #228 "#57 Bug:Activity title page the content has been truncated"
Context

Desktop
Chrome 102.0.5005.61
Precondition
https://stage.iatipublisher.yipl.com.np/

Username: Hari
Password: 12345678

| **Steps**      | **Actual result** | **Expected result**    |
| :---        |    :----:   |          ---: |
|Issue: acitvity>>content has been truncated |![Screenshot from 2022-06-20 16-53-40](https://user-images.githubusercontent.com/78422663/174589006-89e31103-4945-46

[2022-06-21 05:38] SauravSilwal10 opened #230 "#57 Bug:Activity>> Legacy _Data attributes are not mandatory ."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678
- for created activity

Steps
- Activity >> Legacy _Data
- Click the save button

Actual Result
- Page gets saved
- Attributes are not mandatory

Excepted Result
- Attributes should be mandatory

https://user-images.githubusercontent.com/78422663/174725262-5d50894

[2022-06-21 10:09] SauravSilwal10 opened #231 "#57 Bug:Activity>> Legacy _Data/default_aid_type/related activity>>Upon not selecting mandatory attributes>> Cannot access offset of type string on string"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678
- for created activity

Steps
- Activity >> Legacy _Data/default_aid_type/Related activity
- Click the save button

Actual Result
- An unwanted error message is displayed.

Excepted Result
- Form should accept data even though its mandatory

https://user-images.gi

[2022-06-21 11:37] praweshsth opened #232 "Understand and discussion on validation and publishing workflows"
This was our understanding of the publishing workflow including validation:

A. When user tries to publish an activity, the tool first checks:

1. If core elements are added and completed
2. If non-core elements are added and completed

Then the tool shows the error if they haven't added mandatory elements and also shows for better data quality to add core elements. The user can only go back and a

[2022-06-22 04:49] jenishshrestha opened #233 "Fix listed issues"
- [x] text area and input field do not align.
- [x] “Delete button” should according to the design
- [x]  Remove delete in the first (default) narrative box
- [x]  Show pop-up “Are you sure you want to delete this?”
- [x]  Can’t add more after 2 boxes on the form - Seems its working correctly.
- [x]  In elements panel use (-) hyphen not (underscore)
- [x]  Add icon in activity detail title (Form t

[2022-06-22 05:03] SauravSilwal10 opened #234 "#148 Bug:The same reset password URL can be used repeatedly by the user to reset their password."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Pub_6

Steps
1. Click the reset button>> enter a valid email>> a reset password URL appears in Gmail
2. Open Gmail and click the URL and reset the password.
3. Repeat step 2 numerous times.

Actual result
- Password gets reset and redirect to the activity page.

Expected result
- "This pas

[2022-06-22 05:36] nirvanalama opened #235 "UI Design Issues"

[2022-06-22 05:37] nirvanalama commented on #235
@jenishshrestha @Man0zZ @titungdup

[2022-06-22 10:39] AbhishekSka opened #236 "#57 Bug:Activity forms>>Upon clicking over the links on the tooltip, pages are being opened on the same page interrupting the entry"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: publisher 3
- Password: test1234

### Steps ###
- Activity>>Move to any of the forms say Description/Activity status
- form Attrib or sub element>> Hover over tool tip and click on the link provided

### Actual result ###
- Page opens up on the same page

### Expected result #

[2022-06-22 10:42] AbhishekSka opened #237 "#57 Bug:On the fields with percentage, user could enter unlimited numbers of 0"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: publisher 3
- Password: test1234

### Steps ###
- Activity>>
 - recipient_region
 - sector
 - country_budget_items
 - recipient_country
 - recipient_region
 - capital_spend
- Enter the longest possible ' 0 '

### Actual result ###
- Activity detail page viiew is overflowed wit

[2022-06-22 11:03] SauravSilwal10 opened #238 "#57 Bug:Activity>> Activity Date issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- Activity>>Move Activity date

| **Steps**      | **Actual result** | **Expected result**    |
| :---        |    :----:   |          ---: |
| Issue 1: Activity>>Activity Date|Any number that you desire can be added to the activity date.https://user-images.githubu

[2022-06-22 11:09] AbhishekSka opened #239 "#57 Bug: Successful message could be viewed when user makes back from browser"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: publisher 3
- Password: test1234

### Steps ###
- Activity>>Edit any of the elements
- Hit back from browser

### Actual result ###
- Success message on the activity detail page could be viewed upon landing on the page

### Expected result ###
-  The message for a successful u

[2022-06-22 11:36] AbhishekSka opened #240 "#57 Bug: Other Identifier>> Issues over the attributes ,fields and save button"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: publisher3
- Password: test1234

| **Steps**      | **Actual result** | **Expected result**    |
| :---        |    :----:   |          ---: |
| Issue 1: check for Delete button over "References" Attribute   |     Delete button over "References" Attribute is missing even after multiple Own

[2022-06-22 11:42] AbhishekSka opened #241 "#57 Bug: Blank title could be saved for Activity as there are no mandatory validations"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: publisher 3
- Password: test1234

### Steps ###
- For already existed Activity
- Activity>>Edit for title
- Remove title content and Save

### Actual result ###
- Activity could be saved without title as a Blank

### Expected result ###
-  Validation might be necessary for Tit

[2022-06-22 11:44] SauravSilwal10 opened #242 "#57 Bug: Capital spend >> When you enter 0 percentage in Capital spend it disappear from activity detail page ."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password:12345678
- for created activity

steps
- Activity >> capital spend
- enter zero percentage

Actual Result
- Captial spend disappear from the activity detail page

Expected Result
- Should not disappear from activity detail page
- The percentage value must be between 0.0 and

[2022-06-22 11:58] Man0zZ opened #244 "57-activity-page-bug-fix"
- [x] #197
- [x] #199
- [x] #216
- [x] #217
- [x] #225
- [x] #228
- [x] #241

[2022-06-22 12:01] Man0zZ commented on #244
@SauravSilwal10 @AbhishekSka This issues has been resolved. Please check it out.

cc @man-git007
cc @praweshsth

[2022-06-23 07:44] SauravSilwal10 opened #245 "#57 Bug: Identifier Edit functionality doesn't function."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password:12345678
- for created activity

steps
- Activity >>Identifier
- Enter an edit button.

Actual Result
- 404  error message is displayed.

Expected Result
- Edit functionality must work properly.

https://user-images.githubusercontent.com/78422663/175245188-ebc03315-e75a-45ce

[2022-06-23 08:40] AbhishekSka commented on #150
@sriza This issue seems to have been recurred. Can you please take a look at it?

cc @man-git007 @praweshsth

[2022-06-23 09:41] AbhishekSka commented on #244
Issues fixed @Man0zZ

cc @man-git007
cc @praweshsth

[2022-06-23 09:44] jenishshrestha opened #247 "Improvements"
- [x] Height of text area should be same as that of input field or select field.
- [x] Content on elements should have max height and scroll if content exceeds the height.

[2022-06-23 10:05] nirvanalama commented on #214
@shreyaydi

[2022-06-24 03:48] AbhishekSka opened #249 "#233 Bug: UI>>Broken design for confirmation dialogue box for deletion"
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: publisher 3
- Password: test1234

### Steps ###
- For already existed Activity
- Activity>>Edit for title
- Remove element/attrib with delet button

### Actual result ###
-  Broken design of confirmation box

### Expected result ###
- Overlay should cover whole screen includin

[2022-06-24 04:14] AbhishekSka commented on #249
Cached issues

[2022-06-24 04:14] #249 closed

[2022-06-24 09:24] SauravSilwal10 opened #252 "#57 Bug: IATI - identifier >> The activity identifier must be different to the organisation identifier of the reporting organisation rule has not been followed."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password:12345678

Steps
- create two activities

- First activities:
- go to activity title page >> click add activity button
- Enter narrative: test
- select the language
- enter activity identifier: test        1

- Second  activities:
- go to activity title page >> click add acti

[2022-06-24 10:33] SauravSilwal10 opened #253 "tag>>Uneven delete button."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password:12345678
- for created activity

steps
- Activity >> tag
- Add more tag

Actual Result
- An unnecessary Delete button appears.

Expected Result
- Delete should appear as per requirements

https://user-images.githubusercontent.com/78422663/175518938-9dcfaf03-1bfb-4b83-b53b-4df6

[2022-06-24 11:13] SauravSilwal10 opened #254 "#57 Bug:The message "The selected code does not exist" appears whenever the user selects a drop-down option from default-finance-type."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password:12345678
- for created activity

steps
- Activity >>default-finance-type
- select drop down 625
- click save button

Actual Result
- This error " The selected code does not exist" displays on the screen.

expected Result
- should redirect to the activity detail page.

https:

[2022-06-27 09:16] titungdup opened #261 "Eslint fixes"
- [x] Fix Eslint config
==========================================================================================
### Issues ###
- [x] #268
- [x] #269
- [x] #270

[2022-06-27 09:18] shreyaydi commented on #214
Issue 7 - "other Identifier" element yet to be fixed
![image](https://user-images.githubusercontent.com/47111065/175904050-904b9f37-1969-4978-82c2-ee7fa81b92e2.png)

Issue 8 - Yet to be fixed
Issue 9 - Yet to be fixed

[2022-06-27 09:24] shreyaydi commented on #235
4. Show pop-up “Are you sure you want to delete this?”
![image](https://user-images.githubusercontent.com/47111065/175906368-91d60081-6bb8-4f68-95b1-7ef08983f893.png)
The Ui distorts upon opening the pop up

[2022-06-27 09:42] Man0zZ opened #262 "activity-detail-UI"
- [x] elements details UI
- [x] header dropdown font size
- [x] spacing fix
- [x] #214 issue 8 >> what is activity tooltip display wrong information
- [x] #214 issue 9 >> default-finance-type does not match with the design
- [x] #214 issue 10 >> Padding between narrative and @xml lang

[2022-06-28 05:20] SauravSilwal10 opened #264 "#57 Bug:Default_aid_type>>Add more button is not working."
Context
- Desktop
- Chrome 102.0.5005.61

 Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password:12345678
- for created activity

steps
- Activity >>Default_aid_type
- click add  more button

Actual Result
- Add more button is not working.

Expected Result
- Add more button should work properly.

https://user-images.githubusercontent.com/78422663/176098978-964ae893-918

[2022-06-28 06:22] Man0zZ commented on #214
@SauravSilwal10 @AbhishekSka i have resolved issue no. 8, 9, 10.

cc @man-git007
cc @praweshsth

[2022-06-28 11:59] SauravSilwal10 opened #266 "#57 Bug:Activity-Date>> An unwanted information is displaying in activity detail page."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password:12345678
- for created activity

steps
- Activity >>activity-date
- select type >> select ISO-date >> enter narrative >> select lang
- click save button

Actual Result
- Unwanted information .i,e description is displayed on the activity detail page.

Expected Result
- Unwant

[2022-06-29 05:14] shreyaydi commented on #214
@Man0zZ Also for issue 2, the langauge should be written in their full form, for example, "english" and not "en"

[2022-06-29 05:25] AbhishekSka commented on #214
@Man0zZ
- Issue 10 padding between the field and Label has been removed which should be there.
Expected
![image](https://user-images.githubusercontent.com/25945530/176357268-387665fd-fe9c-447f-9df0-db96ca955bdc.png)
Actual
![image](https://user-images.githubusercontent.com/25945530/176357333-733fbda4-280e-40e6-a878-d6587ebf3474.png)

@nirvanalama @shreyaydi
- Issue 9>> since there are labels with

[2022-06-29 07:18] praweshsth commented on #232
@k8hughes @titiolukole @Rohini-IATI we had discussion on this and we will be designing the flow as per the following validation and publishing flow:
![publish and validation workflow](https://user-images.githubusercontent.com/2421695/176375600-8732cb51-d32b-4cc2-9ee4-706282eef469.png)

@man-git007 @nirvanalama @anjesh

[2022-06-29 08:41] SauravSilwal10 opened #268 "#261 Bug:Sign up issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np

| **Steps**      | **Actual result** | **Expected result**    |
| :---        |    :----:   |          ---: |
|Issue 1: Sign up  >>Difference between design and implementation|![Screenshot from 2022-06-29 14-35-33](https://user-images.githubusercontent.com/78422663/176394737-13c5750f-87e7-4bc7-9fd9-0d

[2022-06-29 09:10] SauravSilwal10 opened #269 "#261 Bug:Tooltip issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- For an untitled title

Issue 1

Steps
- Hover over the untitled title

Actual Result
- A tooltip displays nothing.

Excepted Result
- Should display untitled when it is hovering.

https://user-images.githubusercontent.com/78422663/176399710-e937a9b1-c17c-4fb4-891

[2022-06-29 09:53] SauravSilwal10 opened #270 "#261 Bug: Activity Issue."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition

- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- for a created activity

Issue 1
-  Code and Vocabulary are missing from the activity detail page.

steps
- activity default-aid -type >> select code and  Vocabulary
- Click the save button

Actual Result
- Code and Vocabulary are not displayed on the activity de

[2022-06-30 05:06] SauravSilwal10 opened #275 "#57 Bug:Default-tied-status>> Activity-Status>> Recipient-region>> Collaboration-type>> default-flow-type attributes detail are missing from the activity detail page."
Context

- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password:12345678
- for created activity

steps
- Activity >>default-tied-status
- select code from drop-down options
- click save button

Actual Result
- Element details in activity details are displayed as Key and vale format. However here only values are being displayed and keywo

[2022-06-30 05:25] jenishshrestha opened #276 "Eslint fix"
Clone of #261
### ESLint Issues ###
- [x] #268
- [x] #269
- [x] #270

[2022-06-30 06:05] SauravSilwal10 opened #277 "#57 Bug: Other Identifier IATI standard rule hasn't been followed."
### Context ###
- Desktop
- Chrome 102.0.5005.61

### Preconditon ###
https://stage.iatipublisher.yipl.com.np/
- Username: Ram;
- Password: 12345678

### Steps ###
- Create/Edit activity
- Fill up required fields
- Enter any data or save without entering any data.

### Actual result ###
- Page gets saved.

### Expected result ###
- We must follow the IATI standard regulation.
- Please click the li

[2022-06-30 08:16] SauravSilwal10 opened #279 "#57 Bug:Policy-Marker>> Conditions Drop down options shows a default value."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram;
- Password: 12345678

Steps
- Activity Detail page>> Policy Marker
- Activity Detail page>> Conditions

Actual result
- Default value displayed in drop-down options.

Expected result
- a drop-down field should be empty.

https://user-images.githubusercontent.com/78422663/176629196-8af

[2022-06-30 09:08] #230 closed

[2022-06-30 10:17] SauravSilwal10 opened #281 "#57 Bug:Activity>> Recipient Region Cannot access offset of type string on string"
Context

https://user-images.githubusercontent.com/78422663/176653789-f3ebe510-821f-4085-b53b-ee172cbf7518.mp4

- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678
- for created activity

Steps
- Activity >> Recipient-region
- Enter an unwanted percentage: 0.9.0
- Click the save button

Actual Result
- An unwanted error me

[2022-07-01 05:12] SauravSilwal10 commented on #277
@sriza  @Man0zZ Since we are prioritizing the bug for now. So we are closing this issue for now. Once the priority bugs have been resolved, we will reopen this bug.

cc @AbhishekSka @man-git007  @praweshsth

[2022-07-01 05:12] #277 closed

[2022-07-01 05:23] SauravSilwal10 commented on #224
@Man0zZ and @sriza  Since we are prioritizing the bug for now. So we are closing this issue for now. Once the priority bugs have been resolved, we will reopen this issue.

cc @AbhishekSka @man-git007  @praweshsth

[2022-07-01 05:25] SauravSilwal10 commented on #238
@Man0zZ  and @sriza  Since we are prioritizing the bug for now. So we are closing this issue for now. Once the priority bugs have been resolved, we will reopen this issue.

cc @AbhishekSka  @man-git007  @praweshsth

[2022-07-01 05:25] #238 closed

[2022-07-01 05:27] SauravSilwal10 commented on #226
@Man0zZ and @sriza  Since we are prioritizing the bug for now. So we are closing this issue for now. Once the priority bugs have been resolved, we will reopen this issue.

cc @AbhishekSka  @man-git007  @praweshsth

[2022-07-01 05:27] #226 closed

[2022-07-01 05:29] SauravSilwal10 commented on #212
@Man0zZ  and @sriza Since we are prioritizing the bug for now. So we are closing this issue for now. Once the priority bugs have been resolved, we will reopen this issue.

cc @AbhishekSka  @man-git007  @praweshsth

[2022-07-01 05:31] SauravSilwal10 commented on #206
@Man0zZ and @sriza Since we are prioritizing the bug for now. So we are closing this issue for now. Once the priority bugs have been resolved, we will reopen this issue.

cc @AbhishekSka  @man-git007 @praweshsth

[2022-07-01 05:31] #206 closed

[2022-07-01 05:57] SauravSilwal10 commented on #252
@sriza I think this bug hasn't been fixed yet. Please review again.

https://user-images.githubusercontent.com/78422663/176832857-72480adc-eb0b-4803-8694-aa5428ace965.mp4

cc @man-git007  @praweshsth

[2022-07-01 06:02] #199 closed

[2022-07-01 06:03] #225 closed

[2022-07-01 06:16] SauravSilwal10 commented on #200
@sriza I think this issue has not been fixed yet. Please review again.

https://user-images.githubusercontent.com/78422663/176835406-376fba08-8f4e-4ced-ae53-922d6bf0cc88.mp4

cc @man-git007 @praweshsth

[2022-07-01 08:24] SauravSilwal10 commented on #207
@sriza The drop-down option contains items that have been withdrawn from the IATI standard. Thus, kindly review once again.

![Screenshot from 2022-07-01 14-09-08](https://user-images.githubusercontent.com/78422663/176855776-c3c73b07-d4d7-4c6b-9004-1af60ceafee3.png)

![Screenshot from 2022-07-01 14-08-31](https://user-images.githubusercontent.com/78422663/176855790-23228374-2cf9-477b-b2f4-269cd5c4

[2022-07-01 08:30] SauravSilwal10 commented on #254
@sriza The drop-down option contains items that have been withdrawn from the IATI standard. Thus, kindly review once again.

![Screenshot from 2022-07-01 14-09-08](https://user-images.githubusercontent.com/78422663/176856778-46a00153-a2bd-4a73-b6c7-183eca59f463.png)

![Screenshot from 2022-07-01 14-08-31](https://user-images.githubusercontent.com/78422663/176856806-2693f9c9-06cf-4636-a58a-b13c8790

[2022-07-01 08:47] sriza commented on #237
@SauravSilwal10
Further validation considering the cases of decimal digits has been made. Please have a look.

cc @man-git007 @praweshsth

[2022-07-01 08:54] SauravSilwal10 commented on #227
@sriza You have not included all the drop-down options as per the IATI standard. Please refer to this document
https://iatistandard.org/en/iati-standard/203/codelists/aidtype/

![Screenshot from 2022-07-01 14-34-45](https://user-images.githubusercontent.com/78422663/176860888-b4f07184-9ea8-4a6d-bb05-41da87205dc1.png)

cc @man-git007 @praweshsth

[2022-07-01 08:57] sriza commented on #241
@AbhishekSka
The activity with blank title are shown as 'Untitled'. Please have a look.

[2022-07-01 09:02] sriza commented on #254
@SauravSilwal10
The dropdown list is now updated with removal of withdrawn codes. Please test it again.

[2022-07-01 09:23] SauravSilwal10 commented on #220
@sriza Here's a new problem. An unwanted message is flickering at the side of the prev button. Please check it.

![Screenshot from 2022-07-01 15-07-49](https://user-images.githubusercontent.com/78422663/176866559-3f251c4e-a6fa-46cd-b271-cb8700a20781.png)

cc @praweshsth @man-git007

[2022-07-01 09:43] AbhishekSka commented on #241
Resolved

[2022-07-01 09:46] SauravSilwal10 commented on #237
@sriza As soon as the user types 0.000000, the issue persists. Can't we seek a different approach?

https://user-images.githubusercontent.com/78422663/176870624-445b6cd9-c60b-4e73-8d59-e78d2cf26be6.mp4

cc @praweshsth @man-git007

[2022-07-01 10:24] SauravSilwal10 commented on #240
@sriza Issue 4 has not been fixed yet. Please review again.

https://user-images.githubusercontent.com/78422663/176876805-ac0ea29e-7015-4125-baba-2d432608e804.mp4

cc @man-git007 @praweshsth

[2022-07-04 09:46] k8hughes commented on #232
Users should be allowed to publish invalid data, but heavily encouraged and incentivised to publish valid data.

Our suggested is that the options are simple and binary –
eg As a user, I can click to publish at any time, the tool will run a pre publishing validation report and tell me either.

My data is invalid, go back and fix it would be the main highlighted option most visible to the user, wit

[2022-07-05 04:41] SauravSilwal10 opened #288 "#57 Bug:Activity>> Budget Issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Hari
- Password: 12345678
- for created activity

**Issue 1: Budget Icon is missing on the edit page.**

Steps
- Activity >> Budget
- Click the edit button

Actual Result
- A budget icon is missing

Excepted Result
- The budget icon should be present in the edit form.
![Screenshot from 202

[2022-07-05 05:10] AbhishekSka opened #289 "Activity Details page UI/UX isssues"
- [ ] Saved Data viewed on the detail page are misleading
    ### Case ###
    -  For the element with sub elements/attributes fields
    -  As there are no mandatory fields necessary to save elements, User could skip the same section fields and enter other field of another field which in activity detail page would look as if it is child of the preceding section's field.
    - Use of separators be

[2022-07-05 06:00] AbhishekSka commented on #289
@nirvanalama Here are few concerns and queries regarding the activity detail page. Please do have a look.

CC: @praweshsth @man-git007

[2022-07-05 06:17] SauravSilwal10 opened #290 "#57 Bug:While loading any element form , form loads first then sidebar."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- for created activity

steps
- activity >> load any  element form

Actual Result
- Form loads first then a sidebar

Excepted Result
- Both forms and sidebar should load simultaneously

https://user-images.githubusercontent.com/78422663/177262498-bd1c5892-1616-4e82

[2022-07-05 07:45] SauravSilwal10 commented on #276
@jenishshrestha  @sriza  Listed issues have not been fixed. Please go through it again.

https://user-images.githubusercontent.com/78422663/177276610-e9b6ec14-43ca-41b0-97b8-ed52420ae3ac.mp4

https://user-images.githubusercontent.com/78422663/177276690-72a07939-158e-42bb-9920-3f81cd878748.mp4

![Screenshot from 2022-07-05 13-29-19](https://user-images.githubusercontent.com/78422663/177276746-5fe0a

[2022-07-06 04:42] SauravSilwal10 opened #292 "#57 Bug:Activity>> Planned disbursement issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- for created activity

**Issue 1 : Design Break down**

Actual Result
![Screenshot from 2022-07-06 17-29-51](https://user-images.githubusercontent.com/78422663/177543043-6c5d2ef5-2387-45ea-8068-efedc60201ae.png)

Excepted Result
- Design should not break down

**I

[2022-07-06 05:13] sriza opened #293 "API for staging and production"
**Task**
- [x] separate code for verification of publisher for staging and production

[2022-07-07 04:44] SauravSilwal10 opened #298 "#57 Bug:Activity>>Location issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- for created activity

**Issue 1: Invalid title in the location edit form.**
Actual Result
![Screenshot from 2022-07-07 10-30-44](https://user-images.githubusercontent.com/78422663/177693303-779e9c1f-7825-4fd7-822b-5672394ab571.png)

Expected Result
- A valid titl

[2022-07-07 06:09] SauravSilwal10 opened #299 "#57 Bug:Activity>>Contact_info Issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- for created activity

**Issue 1: Unnecessary Add more button in the Mailing address**
Actual Result
![Screenshot from 2022-07-07 12-00-22](https://user-images.githubusercontent.com/78422663/177704553-13b03523-9706-47ba-858b-50a5f58c0b3c.png)

Expected Result
- Th

[2022-07-07 07:50] SauravSilwal10 commented on #275
@Man0zZ This issue hasn't been fixed yet. Please review again.

https://user-images.githubusercontent.com/78422663/177720859-8b44cede-9763-44ae-bd79-bae037e6db8e.mp4

cc @man-git007  @praweshsth

[2022-07-07 08:21] nirvanalama opened #300 "Publish/ Validate flow"
### **1. Success Flow without error:**

https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=8144%3A118565&node-id=8174%3A136090&viewport=-152%2C-247%2C0.04&scaling=min-zoom&starting-point-node-id=8174%3A136090

- This flow is simple and straight forward that shows the results while publishing the activity with no validation errors.

- Start the flow by clicking on th

[2022-07-07 10:34] praweshsth commented on #300
@k8hughes @Rohini-IATI @titiolukole Is it possible to discuss it tomorrow?

[2022-07-08 05:47] SauravSilwal10 opened #303 "#57 Bug:Activity>>Document-link issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- for created activity

**Issue 1 : When a user attempts to upload more than one URL, an error occurs.**

steps
Document link >> click add more document link
enter more than one URL in edit form.

Actual Result
- An error occurs

Excepted Result
- Error shouldn't o

[2022-07-08 07:32] SauravSilwal10 opened #304 "#57 Bug:Activity>>Result Issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- for created activity

- [ ]  **Issue 1:Arranagement of label field**

Actual Result
![Screenshot from 2022-07-08 13-20-24](https://user-images.githubusercontent.com/78422663/177941666-d4532866-9295-4268-b701-fa3aa938f2d4.png)

Expected Result
- Should be in the s

[2022-07-08 08:15] sriza commented on #288
@SauravSilwal10
Issue 4: Unwanted item displayed on budget form
- The amount field is the content of the budget-value tag
![image](https://user-images.githubusercontent.com/24825118/177948104-f50361ce-f2a5-4625-b08d-5e1d871cd901.png)

Issue 5:User can save without entering period end
- Required with and required validation and currently not included in the validation of forms.

cc @praweshsth @man

[2022-07-08 08:27] SauravSilwal10 commented on #240
@sriza As mentioned the message that appears after pressing the save button has not yet been addressed. So please review again.

cc @man-git007 @praweshsth

[2022-07-11 06:03] Man0zZ commented on #266
@SauravSilwal10 @AbhishekSka This issue have been resolved. plz check it out.

cc @man-git007
cc @praweshsth

[2022-07-11 08:53] SauravSilwal10 opened #306 "#57 Bug:Activity>>Transactions Issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- for created activity

**Issue 1:Overflow issue**

Actual Result
![Screenshot from 2022-07-26 13-18-55](https://user-images.githubusercontent.com/78422663/180949829-e4202f4c-d111-4a59-a869-406606c014cb.png)
Expected Result
- Page shouldn't overflow.

**Issue 2: De

[2022-07-12 07:43] man-git007 commented on #221
Complete status for basis elements done and merged to main. Close manually

[2022-07-12 07:43] #221 closed

[2022-07-12 07:45] man-git007 opened #313 "Activity Complex Element Complete Status"
Get the status (complete or incomplete) of the complex element of the activity and show it on the activity detail page

**TASKS**

- [x] Categorize the result element based on their sub-elements and attributes
- [x] Return true or false based on complete status
- [x] Show in activity detail page
- [x] Maintain complete status in DB
- [x] Write tests for complete status

**NOTE**
Need to run `php a

[2022-07-12 08:24] #247 closed

[2022-07-12 08:49] k8hughes commented on #300
1. Success floe without error - I think we need to tell the user they have no errors or it is confusing, when I watched the flow I thought validation had been forgotten because I was not informed of the validation result.  Can we add a step here?

2. This seems like a good solution.
3.  This also seems really good.

[2022-07-12 08:58] Sanilblank commented on #306
The above mentioned issue have been fixed in commit 262aab09757a7bb33de1bcf98333d9b29c4a58d9

[2022-07-12 11:19] praweshsth commented on #300
Thank you @k8hughes for you feedback. Also, from our meeting today, you had mentioned to inform user that the data is valid for publication if there are no critical errors and even though there are alerts and warnings. We will work on this and your feedback and also wait for the feedback from @Rohini-IATI

[2022-07-13 07:22] Sanilblank opened #315 "Activity publish"
- [ ] Create required files and migrations for publishing
- [ ] Create xml file for activities required ot be published
- [ ] Upload the XML file to server and link to IATI registry

[2022-07-13 08:17] SauravSilwal10 opened #316 "#57 Bug:Activity>>Indicator Issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- for created activity

- [x] **Issue 1: Indicator page overflow**

Actual Result
![Screenshot from 2022-08-02 14-43-56](https://user-images.githubusercontent.com/78422663/182335741-09ff9891-fed4-4bb5-b2b9-bf95389e38f5.png)
Expected Result
- Indicator page should o

[2022-07-13 10:44] SauravSilwal10 opened #317 "#57 Bug:Activity>>Period Issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- for created activity

- [x] **Issue 1(Rule): The start date of the indicator period must be before the end date of the indicator period rule has not been followed**

Steps
- Period start >> enter iso date before the period end date

Actual Page
- Page gets saved

[2022-07-13 11:06] nirvanalama commented on #300
@k8hughes @Rohini-IATI @praweshsth I've updated these according to the feedbacks

### 1. Success Flow without error
https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=8144%3A118565&node-id=8174%3A136090&viewport=-152%2C-247%2C0.04&scaling=min-zoom&starting-point-node-id=8174%3A136090

### 2. Error Flow
https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publishe

[2022-07-14 05:03] Man0zZ commented on #275
@SauravSilwal10 @AbhishekSka We have disscussed this issue and we don't have to show attribute for half card because there is only one detail. Instead it will show for eg. "Vocabulary Not Available" if you don't fill up the field.

cc @man-git007
cc @praweshsth

[2022-07-14 09:59] SauravSilwal10 opened #320 "#57 Bug:Activity>>Clicking on side bar redirect to the edit form after form has been already filled once."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- for created activity

Steps
- Activity >> capital spend
- fill the form>> save it
- click capital spend to side bar

Actual Result
- redirect to the edit form

Excepted Result
-  should redirect to the capital spend on the activity detail page

https://user-image

[2022-07-14 10:18] SauravSilwal10 commented on #240
@sriza as the arrangement of the label field has not been fixed. So please review again.

[2022-07-14 10:22] SauravSilwal10 commented on #198
@sriza This has not been fixed. Please review again.

https://user-images.githubusercontent.com/78422663/178961264-5b510af6-3a30-4dfd-b7b5-ad2bea365a5f.mp4

cc @man-git007 @praweshsth

[2022-07-14 10:38] SauravSilwal10 commented on #227
@sriza You have included an unnecessary drop-down option in Earmarking Modality. Please refer to this document
(https://iatistandard.org/en/iati-standard/203/activity-standard/iati-activities/iati-activity/default-aid-type/)

![Image](https://user-images.githubusercontent.com/78422663/178963720-35491ae9-8f40-4c9a-86b9-fcf069b32d8e.png)

cc @man-git007 @praweshsth

[2022-07-14 11:25] SauravSilwal10 opened #321 "#57 Bug:Activity>>Country-budget-items issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- for created activity

**Issue 1 : Incomplete data display on activity detail page**

Steps
- Fill all the form >> click save button

Actual Result
- Incomplete data display on activity detail page.

Excepted Result
- complete data should  display on activity deta

[2022-07-14 11:56] SauravSilwal10 opened #322 "#57 Bug:Activity>>legacy-data issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- for created activity

Issue 1: legacy-data tooltip is not informative

Actual Result

https://user-images.githubusercontent.com/78422663/178977312-85015fdb-6971-4ded-92ca-5e4db1d6fa7f.mp4

Excepted Result
- The tooltip should be informative

[2022-07-14 15:33] k8hughes commented on #300
On the error flow we have various different possible cases:
1. Case shown here - core elements not filled - a user still needs to be able to check on the validator and not publish the data.  Current example only allowed me to use the validator if I was going to publish.
2. Case where core elements are filled but validation report has critial errors - we need to warn the user that their data won't

[2022-07-15 08:37] SauravSilwal10 opened #324 "#57 Bug:Activity>>Document-link>>No chosen button works as a submission button"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- for created activity

Steps
- document-link >> document
- click no file chosen

Actual Button
- works as choose file button

Excepted Result
- should work as cancel button.

https://user-images.githubusercontent.com/78422663/179187646-0fe2c546-1e0e-4f46-be19-8f9a

[2022-07-15 11:40] nirvanalama commented on #300
@k8hughes  @Rohini-IATI Thank you for your feedbacks. Here are the flows for the above mentioned cases:

### **2. Case where core elements are filled but validation report has critial errors**

https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=8144%3A118565&node-id=8543%3A133805&viewport=-152%2C-247%2C0.04&scaling=min-zoom&starting-point-node-id=8543%3A133805

###

[2022-07-18 11:45] k8hughes commented on #300
for cases 2 and 3 shown here - there is no need for the 'Core elements complete' message - please remove this step.  This was just information for your team to highlight thou core elements are filled there can still be very different types of validation reports

[2022-07-19 04:51] SauravSilwal10 opened #325 "#57 Bug:Activity>>participating-org issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- for created activity

**Issue 1 :Display an inappropriate information in activity detail page**

Steps
- document-link >> fill a form
- click save

Actual Result
- Display an  inappropriate information in activity detail page

Excepted Result
- An appropriate dat

[2022-07-19 05:29] SauravSilwal10 opened #326 "#57 Bug:Activity>>Result>>Undefined array key "code""
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- for created activity

Steps
- Activity >>Result
- Click the save button

Actual Result
- An unwanted error message is displayed.

Excepted Result
- Form should save

https://user-images.githubusercontent.com/78422663/179672760-9eae1132-6e8c-4b60-8e81-29f33adfa4a2

[2022-07-20 11:29] SauravSilwal10 commented on #325
@sriza  Issue 1 hasn't been fixed yet. Please review again.

![Image](https://user-images.githubusercontent.com/78422663/179971091-30aefc68-5cd6-4f0e-b9c0-ddd1bd78304c.png)

cc @man-git007  @praweshsth

[2022-07-21 04:19] jenishshrestha opened #331 "Result Element of activity"
- [x] Result element listing page
- [x] Result, indicator and period - separation line.
- [x] Document_link number in indicator detail page.
- [x] Table layout in listing page title section width bigger.

[2022-07-21 11:20] SauravSilwal10 commented on #320
@jenishshrestha  This issue hasn't been fixed yet. So please review again.

https://user-images.githubusercontent.com/78422663/180201697-fb34f647-2876-44c7-afee-95e7c8c2fbd0.mp4

cc @man-git007 @praweshsth

[2022-07-21 11:31] SauravSilwal10 commented on #292
@sriza The IATI standard is not followed by Planned Disbursement, which fails to present the necessary data in activity detail page. Please go through it one again.

https://user-images.githubusercontent.com/78422663/180203504-e69b5adc-ef64-4ef1-ab16-5827f08ef632.mp4

cc @man-git007 @praweshsth

[2022-07-22 05:12] SauravSilwal10 commented on #237
@sriza The problem is still there.Please review again.

![Image](https://user-images.githubusercontent.com/78422663/180367353-813c58c6-387b-4361-b72c-fd14d105da44.png)

cc @man-git007 @praweshsth

[2022-07-22 07:46] SauravSilwal10 commented on #224
@sriza  The edit form overflows whenever a user selects a long text drop down. So kindly correct it.

https://user-images.githubusercontent.com/78422663/180390029-db5d563a-6d7e-4e2f-931c-97ad6ecfee90.mp4

cc @man-git007  @praweshsth

[2022-07-22 08:15] SauravSilwal10 commented on #298
@sriza The activity detail page is not appropriately showing the filled-out data in edit form.So kindly address this problem.

https://user-images.githubusercontent.com/78422663/180395231-e936e724-98b9-432a-9849-6a2e6f282f3d.mp4

cc @man-git007 @praweshsth

[2022-07-22 09:55] nirvanalama commented on #300
I. Case where core elements are filled AND NO ERRORS

II. Case where core elements are filled but validation report has critial errors

[2022-07-25 06:01] SauravSilwal10 commented on #214
@manoz and @sriza  There are still a lot more problems to be resolved. Please go through it one again.

cc @man-git007  and @praweshsth

[2022-07-26 05:32] SauravSilwal10 opened #338 "#57 Bug: Activity>>Transactions >>recipient-country>>recipient-region>>flow-type>>finance-type>>aid-type>>tied-status should be declared for either the activity or for all transactions rule has not been followed."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- For already created activity

**Create two instances**
**Instance 1**
Steps
- Activity >> flow type,finance-type recipient-country,recipient-region,flow-type,finance-type,aid-type, tied-status
- Select drop-down options and fill necessary form field>> click save

[2022-07-26 09:20] k8hughes commented on #300
Designs are agreed, these are great!

[2022-07-26 10:00] praweshsth commented on #300
Thank you @k8hughes

[2022-08-01 04:46] #242 closed

[2022-08-01 04:47] SauravSilwal10 commented on #242
Issue Fixed

cc @man-git007 @praweshsth @AbhishekSka

[2022-08-01 05:44] man-git007 opened #342 "Activity Status Life Cycle"
Maintaining activity `draft`, `ready to publish`, and `publish` status

**TASKS**

- [x] Finalize status life cycle
- [x] Maintain status life cycle in DB

[2022-08-01 07:01] jenishshrestha opened #344 "Improvement and optimizations"
- [ ] Activity elements code cleanup and optimization.
- [ ] Results elements code cleanup and optimization.
- [ ] Indicators elements code cleanup and optimization.
- [ ] Periods elements code cleanup and optimization.

Bugs
#304

[2022-08-01 07:34] sriza opened #346 "Organization Publish"
**Tasks**

- [x] Conversion of data to XML file
- [x] Upload XML file to S3 server
- [x] Publish organization to IATI Registry

[2022-08-01 11:18] sriza commented on #306
@SauravSilwal10
**Issue 2: Delete button is not working properly**
The delete functionality of transaction, indicator, period, result and activity is yet to be worked on.
**Issue 6: Edit button is missing form each element in transactions detail page**
The individual element of transaction cannot be edited. Transaction can be edited as a whole only.
**Issue 8: No pagination number options for tran

[2022-08-01 11:31] SauravSilwal10 opened #348 "#57 Bug:Activity>>Condition After the user fills out and saves the condition form, it stops responding."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password: 12345678
- For already created activity

Steps
- Condition>> fill edit form
- click save button

Actual Result
- Page becomes unresponsive

Excepted  Result
- conditions form should be save and displayed on activity detail page.

https://user-images.githubusercontent.com/78

[2022-08-02 05:30] #184 closed

[2022-08-02 05:55] praweshsth opened #354 "Deleting Activity, what should be the flow?"
One of the functionality is deleting activity? What should be the flow of this action?

1. Does deleting activity mean removing the XML file, which is linked to IATI registry so that the link is broken and the changes affect other tools such as D-portal or is it just removing from the IATI Publisher?
2. If it means removing the XML file, do user have to first unpublish it then delete it or they ca

[2022-08-02 05:58] praweshsth opened #355 "Status of activity, 'Ready to publish', when should it be ready?"
In the activity list, user can see which activity is in draft state and which. is ready to publish and which is already published or need republishing. Regarding the ready to publish state, when should it be shown:

1. when users completes all the core elements? or
2. when users completes the mandatory elements only?

@titiolukole @man-git007

[2022-08-02 09:28] praweshsth commented on #354
Discussion with @k8hughes and @titiolukole:

1. Don't show the delete button when the activity is published
2. Show delete button only when activity is not published.
3. To delete published activity, user need to unpublish the activity first then delete it.

[2022-08-02 09:35] praweshsth commented on #355
Discussion with @k8hughes and @titiolukole:

1. Remove the state 'ready to publish' as it will be confusing for users as there have to be two states maintained for completing mandatory elements and another for completing core elements.
2. Only two states will be there, 'Draft' and 'Published'. When user un-publishes the activity the state goes from 'published' to 'draft'.
3. In future if needed, t

[2022-08-03 05:09] AbhishekSka opened #357 "#57 Bug: Transaction>> System crashes over reaching out to non existent or unauthorized transaction"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234

Steps
- Transaction>>Try accessing unauthorized or non existent Transaction Say
https://stage.iatipublisher.yipl.com.np/activities/0/transactions/
- Transaction>>Edit>>Try editing unauthorized or non existent Transaction Say
https://stage.iatipublisher.yip

[2022-08-03 05:52] AbhishekSka opened #358 "#57 Bug: Transaction >> UI Issues"
### Context
- Desktop
- Chrome 103.0.5060.134

### Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234

### Actual Result
- [x] ISSUE 1
- User could make blank entries  over the transaction
![image](https://user-images.githubusercontent.com/25945530/182533335-702c5d05-bb27-4c33-939d-bb34e2a6af48.png)

- [x] ISSUE 2
- Activity detail page>> When tran

[2022-08-03 10:27] AbhishekSka commented on #304
- [ ]  **Issue 1:Arranagement of label field** >>TBD
- [ ]  **Issue 2: Inappropriate information displayed on Activity Detail page**>>TBD

@sriza @jenishshrestha

[2022-08-03 12:02] AbhishekSka commented on #316
- [ ] **Issue 3: Ascending result not displaying on Indicator Detail page**>>Similar case for the indicator field "Measure". If the field is left blank field is unavailable in view.
- [ ] **Issue 7: IATI standard hasn't been followed.**>> TBD

[2022-08-04 05:43] AbhishekSka opened #362 "#57 Bug: Issue with Result details' page"
**Context**
- Desktop
- Chrome 102.0.5005.61

**Precondition**
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

- [x] **Issue 1: Result detail page >> Value of Aggregation status field stays "False" when entered blank**

**Steps**
-  Existing result https://stage.iatipublisher.yipl.com.np/activities/2/result/20#indicator
-  On aggregat

[2022-08-04 05:59] AbhishekSka opened #364 "#57 Bug: Creation of multiple Results/Indicators/Period upon Multiple clicking of "Save and Exit button""
**Context**
- Desktop
- Chrome 102.0.5005.61

**Precondition**
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

**Steps**
-  For Transaction/Results/Indicators/Period Create page
-  Fill up required data
- Multiple click over the Save and exit button multiple times

**Actual result**
- Results/Indicators/Period with same data could be

[2022-08-04 06:00] Sanilblank opened #365 "Issue when trying to publish to Staging IATI Registry"
When trying to call the API for publishing the XML file to the staging IATI registry, it responds that the type of file mentioned in the URL section is not an XML file.

I have confirmed that the URL is indeed an XML file and I have also tested the same using an actual XML file URL published to IATI registry.

I did not have this problem working on the task the day before. Could you please check i

[2022-08-04 06:44] AbhishekSka commented on #358
@jenishshrestha @Sanilblank i have add Issue 3. Plz do have look on it too

[2022-08-04 08:30] k8hughes commented on #365
@akmiller01 this might require you supporting.  It sounds like a question we need to pass on to Derleinx

[2022-08-04 08:38] AbhishekSka commented on #317
- [ ] **Issue 1(Rule): The start date of the indicator period must be before the end date of the indicator period rule has not been followed**
- When user enters same date
![Image](https://user-images.githubusercontent.com/25945530/182801173-26f3b865-f0f1-4393-93af-7e43098b716f.png)

- [ ] **Issue 4: The @value should be omitted for qualitative measures rule has not been followed**
- Validation ha

[2022-08-04 09:19] AbhishekSka commented on #357
Above error could still be achieve by enter special characters
https://stage.iatipublisher.yipl.com.np/activities/2/result/20/indicator/16/period/*

![Image](https://user-images.githubusercontent.com/25945530/182811682-22fadb17-1a5c-4234-9d75-698f3329f882.png)

@sriza

[2022-08-04 09:21] AbhishekSka opened #367 "#57 Bug: Breadcrum for the create pages of Results/Indicator/Period"
**Context**
- Desktop
- Chrome 102.0.5005.61

**Precondition**
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

- [ ] **Issue 1: Results/Indicator/Period page >> Breadcrum for the ADD/EDIT page**

**Actual result**
![image](https://user-images.githubusercontent.com/25945530/182807941-6f967401-0372-43a7-9e6f-f4e0b970d4cf.png)

**Expecte

[2022-08-04 09:57] AbhishekSka commented on #358
- [ ] ISSUE 3 this still exist for transaction with data
![Image](https://user-images.githubusercontent.com/25945530/182814378-fc3c2e0d-b703-4e54-84a4-206a5a79005e.png)

@sriza

[2022-08-04 10:32] AbhishekSka opened #368 "# Bug: Stuck Side bar's Element section"
**Context**
- Desktop
- Chrome 102.0.5005.61

**Precondition**
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity https://stage.iatipublisher.yipl.com.np/activities/2

### Actual Result ###
- https://drive.google.com/file/d/1PlTZWctuoQ1vWAbMoG0iarNFTxiEbL3L/view?usp=sharing

![element](https://user-images.githubusercontent.com/25945530/18

[2022-08-04 11:56] AbhishekSka commented on #316
@SauravSilwal10  "Issue 5: an inappropriate way to display data" to be addressed later. Do make separate issue copy for it

[2022-08-04 12:31] akmiller01 commented on #365
I think we'll need to pass this straight to Derilinx, @k8hughes . I only have a basic login for the Staging Registry, so I'm unable to even test the staging Registry API. I've sent it to Titi on Slack.

[2022-08-05 04:34] jenishshrestha commented on #344
Cherry-picked this branch to 331-branch. So closing it.

[2022-08-05 04:34] #344 closed

[2022-08-05 05:07] AbhishekSka opened #371 "#57 Bug:Transaction/ Result/ Indicator>> The field titles/Elements separated by "_" to be changed to "-""
**Context**
- Desktop
- Chrome 102.0.5005.61

**Precondition**
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

### Actual Result ###
- Transaction>>
     - transaction_type
     - transaction_date
     - provider_organization
     - receiver_organization
     - disbursement_channel
     - recipient_country
     - flow_type
     - fina

[2022-08-05 05:26] AbhishekSka opened #372 "# Bug: Transaction/Result/Indicator/Period/Planned Disbursement>> Form's Element tiles to be maintained on all small cases and separated by "-" where required"
**Context**
- Desktop
- Chrome 102.0.5005.61

**Precondition**
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

### Actual result ##
![title](https://user-images.githubusercontent.com/25945530/183007461-d990b6f4-c38b-41aa-bfbc-0086141519c6.gif)

[2022-08-05 07:31] AbhishekSka opened #374 "Bug : Period>> The @value should be omitted for qualitative measures rule has not been followed"
**Context**
Desktop
Chrome 102.0.5005.61

**Precondition**
https://stage.iatipublisher.yipl.com.np/
Username: Publisher 3
Password: test1234
for created activity

**To Be implemented**
Validation has been implemented for it above rule but there is more to it:

- The @value must be included for non-qualitative measures.
- The @value should be a valid number for all non-qualitative measures.
- This

[2022-08-05 07:32] AbhishekSka commented on #317
Issu4 moved to #374

[2022-08-05 07:40] #331 closed

[2022-08-05 08:01] AbhishekSka opened #375 "Bug: Issue with the period edit section in activity detail page"
**Context**
Desktop
Chrome 102.0.5005.61

**Precondition**
https://stage.iatipublisher.yipl.com.np/
Username: Publisher 3
Password: test1234
for created activity

- [ ] **Issue 1:404 on edit of period details from activity detail page**
- Activity detail page>> Go to indicator >>present with period
-  https://stage.iatipublisher.yipl.com.np/activities/2
-  click on edit

**Actual result**
- result

[2022-08-05 08:49] AbhishekSka opened #376 "Bug: Indicator detail page>> In case of multiple Baseline, the separation is unavailable causing confusion with start of next baseline content"
**Context**
Desktop
Chrome 102.0.5005.61

**Precondition**
https://stage.iatipublisher.yipl.com.np/
Username: Publisher 3
Password: test1234
for created activity

**Steps**

- [ ] Issue 1

- For the indicator>> create multiple Baseline and save it
- https://stage.iatipublisher.yipl.com.np/activities/7/result/21/indicator/13

- [ ] Issue 2
- Missing Add period

**Actual result**
Issue 1
- Here the

[2022-08-08 04:47] jenishshrestha opened #377 "Fixing Bugs"
- [x] #368
- [x] #371
- [x] #375
- [x] #376
- [x] Result, indicator and period route changes
- [x] Result complete status font color in activity detail
- [x] Remove complete/incomplete status from edit form
- [x] Activity edit page lagging (loader or other solution)
- [x] 'Add period' in indicator detail page

[2022-08-08 08:01] SauravSilwal10 opened #381 "Bug: iati-identifier complete status and progress bar is not working properly."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234

Steps
- Click add activity button >> enter narrative and activity identifier>> select drop down options from @xml:lang
- Click save button

Actual Result
- Complete status is untouched by changes.
- Progress bar doesn't progress

Excepted Result
- It is ne

[2022-08-08 11:44] SauravSilwal10 opened #384 "#57 Bug: Policy-marker issue"
Context
Desktop
Chrome 102.0.5005.61
Precondition
https://stage.iatipublisher.yipl.com.np/
Username: Publisher 3
Password: test1234
for created activity

 **Issue 1 : Unwanted field in edit form**

Actual Result
![Screenshot from 2022-08-08 16-53-48](https://user-images.githubusercontent.com/78422663/183404795-ae26a3a6-ed44-47c6-9bc8-68d558ba8366.png)

Excepted Result
- Unnecessary field should be

[2022-08-09 05:16] AbhishekSka opened #386 "Bug: Status issues with the elements"
**Context**
Desktop
Chrome 102.0.5005.61

**Precondition**
https://stage.iatipublisher.yipl.com.np/
Username: Publisher 3
Password: test1234
for created activity

- [ ] **Issue 1**
**Steps**

Recipient region/Tag
- After adding mandatory fields @vocabulary and @code
- Click on add more and save
![recipeint](https://user-images.githubusercontent.com/25945530/183565188-608b671b-2cca-435b-8acc-dbb27b

[2022-08-09 05:25] SauravSilwal10 opened #387 "Bug: country-budget-items>> narrative attribute is mandatory."
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234

steps
- fill all country-budget-items attribute except  narrative

Actual Result
- incomplete status doesn't changes into the complete status

Excepted Result
- incomplete status should change into the complete status.Please refer to the IATI standard docu

[2022-08-09 05:56] SauravSilwal10 opened #388 "Bug: Status issues with document-link"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

**Issue 1: Language attribute is not mandatory**

Actual Result
![Screenshot from 2022-08-09 11-40-50](https://user-images.githubusercontent.com/78422663/183575161-86208841-7937-47aa-9844-ecc0633af702.png)

Excepted Result
- Language

[2022-08-09 07:24] SauravSilwal10 opened #389 "Bug: Unwanted behavior in side bar"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

steps
- search the element in sidebar

Actual Result

https://user-images.githubusercontent.com/78422663/183589394-e0770267-220b-4d92-b0d1-e6364f8bf24e.mp4

![sidemenu](https://user-images.githubusercontent.com/25945530/183823685-619

[2022-08-09 08:08] SauravSilwal10 opened #390 "Bug : status issue with location"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

**Issue 1 : Location reach (@code ) , administrative(@vocabulary and @code ) and exactness(@code) are not mandatory.**

Actual Result
![Screenshot from 2022-08-09 13-36-53](https://user-images.githubusercontent.com/78422663/183595696

[2022-08-09 09:25] AbhishekSka opened #391 "Bug: Issues over the transaction result indicator and period status"
**Context**
Desktop
Chrome 102.0.5005.61

**Precondition**
https://stage.iatipublisher.yipl.com.np/
Username: Publisher 3
Password: test1234
for created activity

- [ ] **Issue 1** : Without completing the required field, the status of the transaction result indication and the period are always displayed as completed.
**Steps**
- https://stage.iatipublisher.yipl.com.np/activities/4/transactions

*

[2022-08-09 10:00] man-git007 commented on #384
@sriza Could you please look into this.

[2022-08-09 11:42] SauravSilwal10 opened #392 "Bug : status issue with period"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

Steps
- Do not fill the mandatory  field i.e.
- Period-start @iso-date
- period-end @iso-date
- Document-link @url @format
- click save button

Actual Result
- Completed status is marked at result in activity detail page.

Excepted R

[2022-08-10 03:59] man-git007 commented on #381
@SauravSilwal10 Seems working

[2022-08-10 05:11] AbhishekSka opened #393 "Bug : Transaction status is marked as not-completed even after filling required fields as per iati standard"
**Context**
Desktop
Chrome 102.0.5005.61

**Precondition**
https://stage.iatipublisher.yipl.com.np/
Username: Publisher 3
Password: test1234
for created activity

**Steps**
- Fill up mandatory fields
 - Transaction type:@code
 - Transaction date: @iso-date
 - Value: @amount  | @value-date
 - Disbursement channel : @code
 - Sector : @code
 - Recipient country: @code
 - Recipient region : @code
 - F

[2022-08-10 05:23] AbhishekSka opened #394 "Bug: Core element progress chart ends up at 94% even after filling up all the core elements"
**Context**
Desktop
Chrome 102.0.5005.61

**Precondition**
https://stage.iatipublisher.yipl.com.np/
Username: Publisher 3
Password: test1234
for created activity

- [ ] **Issue 1** :  Core element progress chart ends up at 94% even after filling up all the core elements

**Steps**
- https://stage.iatipublisher.yipl.com.np/activities/21
- Fill up all the core elements with complete status
- Check f

[2022-08-10 05:44] SauravSilwal10 opened #395 "Bug : status issue with result and indicator issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

**Issue 1 : Document-link (language @code ) is not mandatory in result and indicator**

Actual Result

https://user-images.githubusercontent.com/78422663/183823958-95244b2b-f29a-41ca-8a47-69b8d76d796f.mp4

Excepted Result
- Document-

[2022-08-10 06:09] AbhishekSka opened #396 "Bug: Issue with the percent fields"
**Context**
Desktop
Chrome 102.0.5005.61

**Precondition**
https://stage.iatipublisher.yipl.com.np/
Username: Publisher 3
Password: test1234
for created activity

- [ ] **Issue 1** : Unavailable validation if the field consists of percent  > 100 over multiple fields

**Steps**
- Elements >> recipient-country | policy-marker | recipient-region | sector | country-budget-items
- Enter @percentage to

[2022-08-10 07:41] SauravSilwal10 opened #397 "Bug : status issue with default-aid-type, sector,policy-marker"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

**Issue 1 : Element status mark as completed without entering the mandatory attributes**

Steps
- just click save button  in edit form of default-aid-type, sector,policy-marker,tag

Actual Result
- Element status is mark as completed

[2022-08-10 08:28] man-git007 commented on #387
@SauravSilwal10 Please refer to this [link](https://docs.google.com/spreadsheets/d/1hxeH0JAUl8Ln8zYiQaqkhL1phsLNc_C6kDt_lnI99RQ/edit#gid=650896675&range=A116) for the mandatory list.

[2022-08-10 08:30] man-git007 commented on #386
@AbhishekSka
**Issue 1**
Code is only mandatory if @vocabulary is selected

**Issue 2**
Same as Issue 1

**Issue 3 & 4**
Doing. Will notify once finished

**Issue 5**
mandatory fields are narrative of `Organization`, `Department`, `Person name`, `Job title` and `mailing address`. Refer this [link](https://docs.google.com/spreadsheets/d/1hxeH0JAUl8Ln8zYiQaqkhL1phsLNc_C6kDt_lnI99RQ/edit#gid=65089667

[2022-08-10 08:31] man-git007 commented on #388
@SauravSilwal10
Please refer to this [link](https://docs.google.com/spreadsheets/d/1hxeH0JAUl8Ln8zYiQaqkhL1phsLNc_C6kDt_lnI99RQ/edit#gid=650896675&range=A239)

cc @AbhishekSka

[2022-08-10 08:38] man-git007 commented on #390
@SauravSilwal10 Could please retest this using this [link](https://docs.google.com/spreadsheets/d/1hxeH0JAUl8Ln8zYiQaqkhL1phsLNc_C6kDt_lnI99RQ/edit#gid=650896675&range=A73)?

[2022-08-10 08:40] man-git007 commented on #394
@AbhishekSka This might be due to the `reporting-org` element in Organization. Please ignore for now.

[2022-08-10 09:13] SauravSilwal10 commented on #387
Misunderstanding between two documents.So, Issue closed

[2022-08-10 09:13] #387 closed

[2022-08-10 09:16] man-git007 commented on #391
@AbhishekSka We only check the overall complete status of the result. Thus, we will remove the status column from result, transaction and period list page

cc @praweshsth @SauravSilwal10

[2022-08-10 09:26] man-git007 commented on #392
@SauravSilwal10 Seems OK

[2022-08-10 09:30] man-git007 commented on #395
@SauravSilwal10 Please refer to this [link](https://docs.google.com/spreadsheets/d/1hxeH0JAUl8Ln8zYiQaqkhL1phsLNc_C6kDt_lnI99RQ/edit#gid=650896675&range=A288)

[2022-08-10 09:32] man-git007 commented on #393
@AbhishekSka Could please use this [link](https://docs.google.com/spreadsheets/d/1hxeH0JAUl8Ln8zYiQaqkhL1phsLNc_C6kDt_lnI99RQ/edit#gid=650896675&range=A182) for reference?

[2022-08-10 09:41] SauravSilwal10 commented on #388
@man-git007 Language (@code) attribute should be mandatory according to the [link](https://docs.google.com/spreadsheets/d/1hxeH0JAUl8Ln8zYiQaqkhL1phsLNc_C6kDt_lnI99RQ/edit#gid=650896675&range=A239).
![Screenshot from 2022-08-10 15-22-18](https://user-images.githubusercontent.com/78422663/183869745-d9ce53df-f645-4379-b0cc-8e35220813b5.png)
![Screenshot from 2022-08-10 15-23-24](https://user-images.

[2022-08-10 10:33] man-git007 commented on #388
@SauravSilwal10 Has been deployed to the staging server. Please check

[2022-08-10 10:34] man-git007 commented on #386
@AbhishekSka Issue 3 has been fixed

For now lets ignore Issue4

[2022-08-10 10:36] man-git007 commented on #391
@AbhishekSka Has removed the status column from the list table.

[2022-08-10 11:04] SauravSilwal10 commented on #392
@man-git007 The issue is still present. Would you kindly review it again?

https://user-images.githubusercontent.com/78422663/183886039-929e00d6-8ae4-46b0-8553-8886f3679099.mp4

cc @AbhishekSka  @praweshsth

[2022-08-10 11:35] SauravSilwal10 commented on #390
@man-git007 Location reach (@code ) , administrative(@vocabulary and @code ) and exactness(@code)  are mandatory in this [link](https://docs.google.com/spreadsheets/d/1hxeH0JAUl8Ln8zYiQaqkhL1phsLNc_C6kDt_lnI99RQ/edit#gid=650896675&range=A73).Would you kindly review it again?

cc @AbhishekSka  @praweshsth

[2022-08-11 07:48] SauravSilwal10 opened #400 "Bug : Organization detail page UI issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

- [x] **Issue 1: There is never a blue tick in the sidebar when an element has a completed status.**
Actual Result
![Screenshot from 2022-08-11 13-05-20](https://user-images.githubusercontent.com/78422663/184083221-c76e0cf8-45ac-40f7

[2022-08-11 08:32] SauravSilwal10 opened #401 "Bug : Organization Detail>> reporting-org issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

- [x]  **Issue 1 : No icon in edit form**

Actual Result
![Screenshot from 2022-08-11 13-47-54](https://user-images.githubusercontent.com/78422663/184090403-4c9079f2-c566-460b-933f-847e92ac3478.png)

Expected Result
-  reporting-org

[2022-08-11 09:28] AbhishekSka opened #402 "Bug: Organization Data>>Organization identifier form issues"
**Context**
Desktop
Chrome 102.0.5005.61

**Precondition**
https://stage.iatipublisher.yipl.com.np/
Username: Publisher 3
Password: test1234
for created activity

- [x] **Issue 1** : organisation-registration-agency is not saved
**Steps**
- https://stage.iatipublisher.yipl.com.np/organisation/organisation_identifier
- Change field of organisation-registration-agency to anything new
- Save
- edit t

[2022-08-11 10:09] SauravSilwal10 opened #403 "Bug :Organization Detail>> total-budget"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

- [x] **Issue 1: When you enter a long text  in the narrative page get an overflow**

Actual Result
![Screenshot from 2022-08-11 15-19-36](https://user-images.githubusercontent.com/78422663/184105291-6c10cfa5-3395-4e08-bcdd-e1104f2d8

[2022-08-11 10:38] man-git007 commented on #386
@AbhishekSka Can we close this issue now?

[2022-08-11 10:38] man-git007 commented on #388
@SauravSilwal10 Does the issue still persists?

[2022-08-11 10:41] cormachallinanderilinx commented on #365
Hi @Sanilblank

Is this still an issue?
I was doing to work on staging I broke this functionality while testing.

If this is still an issue I will investigate.

If possible can you send on the file you use (or similar), which will help me to reproduce the issue.

[2022-08-11 10:42] man-git007 commented on #391
@AbhishekSka Can we close this issue?

[2022-08-11 10:43] man-git007 commented on #393
@AbhishekSka Does the issue still persist?

[2022-08-11 10:47] man-git007 commented on #381
@SauravSilwal10 Does the issue still persist?

[2022-08-11 10:48] man-git007 commented on #384
@sriza any progress to this issue?

[2022-08-11 10:54] SauravSilwal10 opened #404 "Bug :Organization Detail>>recipient-org-budget"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

- [x] **Issue 1 : Icon is missing**
Actual Result
![Screenshot from 2022-08-11 16-41-00](https://user-images.githubusercontent.com/78422663/184118646-c05ab50f-29c2-41fc-9b58-b6f6aca0f4ff.png)

Expected Result
- Icon should be present

[2022-08-11 11:39] man-git007 commented on #390
@SauravSilwal10 Changes have been deployed to the staging server. Please check once.

[2022-08-11 11:39] man-git007 commented on #392
@SauravSilwal10 Changes have been deployed to the staging server. Please check once

[2022-08-11 11:40] Sanilblank commented on #365
@cormachallinanderilinx This issue has been fixed as of now. The API is working as it needs to as of now.

Thank you for the help.

[2022-08-11 11:41] man-git007 commented on #395
@SauravSilwal10 Deployed to the staging server. Also regarding issue 1, @code attribute is not mandatory according to this [link](https://docs.google.com/spreadsheets/d/1hxeH0JAUl8Ln8zYiQaqkhL1phsLNc_C6kDt_lnI99RQ/edit#gid=650896675&range=A288)

[2022-08-15 03:51] sriza commented on #384
@SauravSilwal10
The fixes to this issue is deployed to staging site. Please have a look.

[2022-08-15 06:35] titungdup opened #406 "Frontend improvements and issue fixes"
- [x] Removed download buttons from activity listing page
 - [x] Added loader on activity list page, activity sidebar elements form
 - [x] Added sidebar on missing activity forms

[2022-08-15 11:07] nirvanalama opened #407 "Bulk Publish Flow"
### **Bulk** Publish Flow

https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=9481%3A163952&node-id=9481%3A183768&viewport=-2444%2C-461%2C0.06&scaling=min-zoom&starting-point-node-id=9481%3A183768

@k8hughes @titiolukole @Rohini-IATI @praweshsth

Posted above is the link to the **Bulk Publish Flow.** Please interact with the flow and let us know if you have any feed

[2022-08-17 03:33] man-git007 opened #408 "Manage routes"
manage routes for activity, result, indicator, and period elements.

**TASKS**

- [x] rename `activities` to `activity`
- [x] manage RedirectActivity middleware
- [x] manage results, indicators and period routes
- [x] Mange route in php and vue
- [x] Sub-group middleware for transactions, result, indicator and period
- [x] Refactor code

cc @sriza @Sanilblank

[2022-08-17 05:45] SauravSilwal10 commented on #397
@man-git007 The issue is still present. Would you kindly review it again?

cc @praweshsth

[2022-08-17 06:03] SauravSilwal10 commented on #395
The IATI standard makes document-link (language **@code**) mandatory. But in this [link](https://docs.google.com/spreadsheets/d/1hxeH0JAUl8Ln8zYiQaqkhL1phsLNc_C6kDt_lnI99RQ/edit#gid=650896675&range=A288) the **@code** attribute is not mandatory. @praweshsth Could you verify it? (https://docs.google.com/spreadsheets/d/1hxeH0JAUl8Ln8zYiQaqkhL1phsLNc_C6kDt_lnI99RQ/edit#gid=650896675&range=A288)

cc @

[2022-08-17 06:10] #394 closed

[2022-08-17 07:22] SauravSilwal10 opened #409 "Bug :Organization Detail>> recipient-region-budget issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

- [x] Issue 1 : Unnecessary form field
Actual Result
![Screenshot from 2022-08-17 12-41-02](https://user-images.githubusercontent.com/78422663/185054710-c9b71502-5377-4e7e-a887-51479148a9b2.png)
Expected Result
- The unnecessary form

[2022-08-17 07:26] man-git007 commented on #395
@praweshsth Should we make the updates?

[2022-08-17 07:31] man-git007 commented on #397
@SauravSilwal10
The attributes are required only when `@vocabulary` is selected. If not selected it is not required. Now it does create problems from the user's perspective. What should we do @praweshsth? Can we ignore it for now?

[2022-08-17 07:49] SauravSilwal10 commented on #384
@sriza policy marker information doesn't display on the Activity detail page. Please review again.

https://user-images.githubusercontent.com/78422663/185064210-8908cda7-2dbc-4036-befd-c7209ec19620.mp4

[2022-08-17 09:16] SauravSilwal10 opened #411 "Bug :Organization Detail>> total-expenditure issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

- [x]  **Issue 1: Unnecessary **@ref**  field present in edit form**

Actual Result
![Screenshot from 2022-08-17 13-57-51](https://user-images.githubusercontent.com/78422663/185068926-76845eec-ffe6-499d-b066-bf80b0596d85.png)

Except

[2022-08-18 05:55] SauravSilwal10 opened #413 "Bug :Organization Detail>>document-link issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

- [ ] **Issue 1: an inappropriate way to display language**
Actual Result
![Screenshot from 2022-08-18 11-06-51](https://user-images.githubusercontent.com/78422663/185300182-5abec3bd-4fdc-419f-8eef-1a557907dbee.png)
Expected Result
!

[2022-08-18 06:30] SauravSilwal10 commented on #401
@sriza On the org detail page, the secondary reporter just shows the true boolean value. Please review again.

https://user-images.githubusercontent.com/78422663/185309804-04498ed2-6db8-4070-b528-1785f4b718e2.mp4

[2022-08-18 07:48] SauravSilwal10 commented on #402
@sriza The organisation-identifier must not contain any of the symbols /, &, | or ?. Please review again

![Image](https://user-images.githubusercontent.com/78422663/185339524-15ddb1cd-7525-4b5a-ab8a-ec72fa0e19a0.png)

[2022-08-18 08:06] SauravSilwal10 commented on #403
@sriza Issue 5 still exists.

![Image](https://user-images.githubusercontent.com/78422663/185342481-9535e58e-5aba-4bd6-ad1f-a14d5721d152.png)

- [ ] Not available message should present in Value Amount

![Image](https://user-images.githubusercontent.com/78422663/185342830-a20bec29-77bf-48d5-aa2b-a8dc01c642a7.png)

- [ ] Font size of the narrative content should be equal to the font size of the nar

[2022-08-18 08:33] SauravSilwal10 commented on #404
@sriza Issue 5 still exists

- [ ] unnecessary validation in edit form

![Image](https://user-images.githubusercontent.com/78422663/185348960-2a4f116d-45b6-4fba-a960-4c1e672062e4.png)

- [ ] Font size of the narrative content should be equal to the font size of the narrative.

![Image](https://user-images.githubusercontent.com/78422663/185349372-1d73525b-bf11-4488-90cb-187afdc56727.png)

[2022-08-21 11:20] SauravSilwal10 opened #416 "Bug :Activity Detail>>Publishing issue"
Context

- Desktop
- Chrome 102.0.5005.61

Precondition

- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

- [x] Issue 1: After unpublishing activity data popup window is constantly displayed screen @jenishshrestha

Actual Result
https://user-images.githubusercontent.com/78422663/185787096-b5729e93-a593-47c8-ad41-dc532429b27b.mp4

Expec

[2022-08-22 08:19] jenishshrestha commented on #389
This issue has been fixed in branch 377-fixings-bugs

[2022-08-22 12:55] k8hughes commented on #407
when I click on this nothing changes, it seems like it is only a one page design.  Can you let me know how to click though?

[2022-08-22 13:39] praweshsth commented on #407
@k8hughes  Click the check boxes to move ahead. You will see button, 'Publish Selected'. Click it.

[2022-08-22 15:02] k8hughes commented on #407
![Screenshot 2022-08-22 at 16 02 20](https://user-images.githubusercontent.com/36768381/185953977-775a7d26-b2b1-4528-ade2-9f3c46c572a7.png)
So this message I don't understand as it says both that core elements are complete and are not complete...

[2022-08-22 15:04] k8hughes commented on #407
when I got to the end of the flow and I had done the bulk publish, I then wanted to view my validation error for each activity , but I wasn't clear how to do this, can we discuss tomorrow on the call?

[2022-08-23 04:29] Sanilblank opened #418 "Bulk Publishing"
Implement bulk publishing features for publishing multiple activities by the user

TASKS

- [x] Check selected activities core elements completed
- [x] Selection of activities and individual validation on IATI
- [x] Save validation response in database
- [x] Show categorized and summarized list of activities and errors
- [x] Initialize jobs with status for performing bulk publishing
- [x] Show mod

[2022-08-23 04:51] praweshsth commented on #407
This is just to show that which activities' core elements are completed and which activities' core elements are not. Here, we used the same names of the activities in both cases and hence the confusion. @k8hughes

[2022-08-23 04:54] praweshsth commented on #407
Just before publshing the activities at the end, the user can see the errors, warnings and critical errors in each activity by expanding and similar to single activity publishing, all the errors, warnings and critical errors are listed within the activities' detail pages

![Uploading Screen Shot 2022-08-23 at 10.34.13.png…]()

[2022-08-23 05:44] SauravSilwal10 opened #420 "Bug :Activity Detail>>Publishing issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition

- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

- [ ]  **Issue 1: Show and hide button is not  working properly**

Actual Result
https://user-images.githubusercontent.com/78422663/186078654-c5a133b0-584f-45f7-b51c-65f2fb0bf831.mp4

Expected Result

- Show and hide button should w

[2022-08-23 09:04] SauravSilwal10 opened #421 "Bug :Activity Detail>>Publishing issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

- [x] **Issue 1 :After publishing and editing activity data, the user cannot unpublish the activity data.**

steps
1. publish activity data
2. After publishing activity data  edit the activity data

Actual Result
![Screenshot from 20

[2022-08-24 06:26] SauravSilwal10 opened #422 "Bug :Activity Detail>>User can unpublished same activity multiple times"
Context

Desktop
Chrome 102.0.5005.61
Precondition

- https://stage.iatipublisher.yipl.com.np/

- Username: Publisher 3

- Password: test1234

- for created activity
step
- Click the unpublished button

Actual Result
- Users can unpublished same activity multiple times

Expected Result
- An error message should display regarding the unpublished activity data

https://user-images.githubusercontent.

[2022-08-24 10:31] sriza opened #424 "Activity CSV/XML upload"
**Tasks**
- [x] Upload csv/xml file
- [x] Csv/xml file validation
- [x] Import activity to database
- [x] Upload and listing UI

[2022-08-24 10:55] SauravSilwal10 opened #425 "Bug :Routing Issue"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234

- [x]  **Issue 1:When the user wants to edit the iati-identifier an unwanted message is displayed**
Actual Result

https://user-images.githubusercontent.com/78422663/186399015-797d1246-4df6-4e99-b0aa-841f180e4707.mp4

Excepted Result
- The user should be a

[2022-08-25 03:55] man-git007 commented on #425
@SauravSilwal10
**Issues 1,2,3,4,6,11** have been fixed and deployed in the staging server. Could you please verify?
Regarding UI breakdown would hard refresh of the browser might fix it. If not @jenishshrestha could you please look into this?

[2022-08-25 05:16] SauravSilwal10 commented on #425
@man-git007  issue 3 still exists. Would you kindly review it again?

https://user-images.githubusercontent.com/78422663/186578660-bc2d98e8-0d62-44d9-8659-55f1d333c8e8.mp4

@jenishshrestha Issues 3,5,8,9,10 needs to be fixed. Please have a look.

[2022-08-25 08:44] SauravSilwal10 opened #428 "Bug :Search Issue"
Context
- Desktop
- Chrome 102.0.5005.61

Preconditions
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password:12345678

- [x] **Issue 1: Whenever a user types # in the search bar, the search bar continues to rotate.**

Actual Result

https://user-images.githubusercontent.com/78422663/186608675-a0665af6-b0b5-42f0-a419-ac5d07e22805.mp4

Expected Result
- A proper result should be dis

[2022-08-25 08:54] man-git007 commented on #425
@SauravSilwal10 Issue 3 has been fixed

[2022-08-25 08:55] man-git007 commented on #428
@SauravSilwal10 **Issue 2** has been fixed

[2022-08-25 11:06] SauravSilwal10 opened #432 "Bug :Organization Detail>>document-link data is not displaying on the org detail page"
Context
- Desktop
- Chrome 102.0.5005.61

Precondition
- https://stage.iatipublisher.yipl.com.np/
- Username: Publisher 3
- Password: test1234
- for created activity

Steps
- Document link>> fill all the form
- Click the save button

Actual Result
- document-link data is not displaying on the org detail page

Expected Result
- should display on the org detail page

https://user-images.githubuserco

[2022-08-26 04:15] jenishshrestha commented on #425
Issue 5, 7, 8, 9 and 10 have been completed and pushed to branched [408-routes-manage](https://github.com/younginnovations/iatipublisher/compare/408-routes-manage)

[2022-08-26 04:16] jenishshrestha commented on #428
All issues have been completed and pushed to branched [408-routes-manage](https://github.com/younginnovations/iatipublisher/compare/408-routes-manage)

[2022-08-26 12:53] nirvanalama commented on #407
Here is the updated Bulk Publish Flow:

@k8hughes @titiolukole @praweshsth @Rohini-IATI

https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=9481%3A163952&node-id=9481%3A183768&viewport=-2444%2C-461%2C0.06&scaling=min-zoom&starting-point-node-id=9481%3A183768

[2022-08-26 13:12] nirvanalama opened #437 "Import .CSV/.XML file"
Here is the link. Let us know if you have any feedbacks.
@k8hughes @titiolukole @praweshsth @Rohini-IATI @DaveEade49

https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=9741%3A168487&node-id=9742%3A168488&viewport=542%2C294%2C0.05&scaling=min-zoom&starting-point-node-id=9742%3A168488

[2022-08-29 07:01] SauravSilwal10 commented on #428
@man-git007  issue 2 still exists. Would you kindly review it again?

https://user-images.githubusercontent.com/78422663/187142107-f6396c2f-c56c-4267-a772-67e9a878e16a.mp4

@jenishshrestha issue 1 hasn't been solved yet. Please review again.

https://user-images.githubusercontent.com/78422663/187142380-62b25abc-750b-47b4-9fc8-5b484fc989bb.mp4

[2022-08-29 08:18] SauravSilwal10 opened #439 "Bug :Sorting algorithm is not working properly."
Context
- Desktop
- Chrome 102.0.5005.61

Preconditions
- https://stage.iatipublisher.yipl.com.np/
- Username: publisher
- Password:12345678

Actual Result
![Screenshot from 2022-08-29 13-52-38](https://user-images.githubusercontent.com/78422663/187156253-f316c78a-faf5-4c99-a915-948364869d80.png)

Expected Result
- Sorting should be updated as per time.

[2022-08-29 08:29] SauravSilwal10 commented on #425
@jenishshrestha  issue 10 planned-disbursement spacing should be reduced.
Actual Result
![Screenshot from 2022-08-29 13-23-03](https://user-images.githubusercontent.com/78422663/187151774-c0398e1a-d56f-4bf4-9ce9-29ff279bace2.png)

Expected Result

![Screenshot from 2022-08-29 14-14-28](https://user-images.githubusercontent.com/78422663/187158730-36eddf84-b4f3-4a38-865e-8f347e918b2b.png)

- [ ]Plea

[2022-08-29 10:09] #315 closed

[2022-08-29 10:09] #416 closed

[2022-08-29 10:29] jenishshrestha commented on #428
@SauravSilwal10

I have fixed the issue 1 with hash and pushed into branch 408-routes-manage.

[2022-08-29 10:31] jenishshrestha commented on #425
@SauravSilwal10

I have fixed issue 10 planned-disbursement in branch 408-routes-manage.

This button is already fixed in [315-activity-publish-backend-new](https://github.com/younginnovations/iatipublisher/compare/315-activity-publish-backend-new). It will be rebased into this branch soon.

[2022-08-29 11:28] SauravSilwal10 opened #440 "Bug :Error Message Issue"
Context
- Desktop
- Chrome 102.0.5005.61

Preconditions
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password:12345678

- [x] **Issue 1 :Verify address email link redirect to the unwanted page**
Actual Result
https://user-images.githubusercontent.com/78422663/187190977-ed3c6583-5d51-4ee8-8fed-ca1a0d8a7e3d.mp4

Excepted Result
- Verify address email link should redirect to the login

[2022-08-30 13:05] SauravSilwal10 opened #444 "Bug :408-routes-managed issue"
Context
- Desktop
- Chrome 103.0.5060.114

Preconditions
- stage.iatipublisher.yipl.com.np
- Username: Ram
- Password: 12345678

- [x] **Issue 1: Whenever the user clicks the edit button of iati-identifier, the edit form  disappears**
Actual Result

https://user-images.githubusercontent.com/78422663/187429684-52bef8ae-5eb7-42b4-830a-007259eb137a.mp4

Excepted Result
- The edit form should be prese

[2022-08-31 07:16] #68 closed

[2022-08-31 07:18] #145 closed

[2022-08-31 07:23] pravin-yipl opened #446 "Devops: Maintenance and Support"
- [x] Pass env variable on docker build
- [x] Multistage docker build including node run time
- [x] Add env variable in production - k8s

[2022-08-31 07:32] sriza commented on #444
The issues I am looking after: 1, 2, 3, 6, 8 ,10

[2022-08-31 07:42] man-git007 commented on #444
The issue I am looking are: 4,5,7,9,13,14,15,16,17

[2022-08-31 07:44] Sanilblank commented on #444
Issue 2 has already been fixed

[2022-08-31 07:44] SauravSilwal10 opened #447 "Bug :setting>>default issue"
Context
- Desktop
- Chrome 103.0.5060.114

Preconditions
- stage.iatipublisher.yipl.com.np
- Username: Ram
- Password: 12345678
- set default language and currency

- [x] **Issue 1 :Language is not automatically set when a new activity is added.**
Actual Result
https://user-images.githubusercontent.com/78422663/187616866-0d2dea0c-cce0-4c4e-85f3-112456bf3f52.mp4

Excepted Result
- There shouldn't b

[2022-08-31 07:47] jenishshrestha commented on #444
@SauravSilwal10
Issue 13 - I think we don't need edit button in transactions.

The issue I am working on: 14, 15.

[2022-08-31 07:48] Sanilblank commented on #444
The issues I am working on: 2, 12, 16

[2022-08-31 08:33] jenishshrestha commented on #444
Completed Issue 14 and 15 and pushed into 408-routes-manage.

[2022-08-31 08:36] man-git007 commented on #444
Issues 4,7,17 are fixed. Issue 5,9 have been assigned to @jenishshrestha Issue 16 has been assigned to @Sanilblank

[2022-08-31 08:38] man-git007 commented on #444
@SauravSilwal10 Regarding Issue 17, we will ignore the special characters for now.

[2022-08-31 08:40] man-git007 commented on #444
@SauravSilwal10 What does Issue 16 mean?

[2022-08-31 08:42] man-git007 commented on #439
@SauravSilwal10 Fixed. Please check

[2022-08-31 08:43] man-git007 commented on #428
@SauravSilwal10 Issue 2 has been fixed. This also relates to this [comment](https://github.com/younginnovations/iatipublisher/issues/444#issuecomment-1232639077)

[2022-08-31 08:48] SauravSilwal10 commented on #444
@man-git007  whenever the user adds the activity, the activity created successfully popup appears at the top of add activity which interferes with the add activity button.

[2022-08-31 08:50] man-git007 commented on #444
OK. Let's ignore this for now but log this issue. We will work on it later

[2022-08-31 08:52] jenishshrestha commented on #444
Issue 5 and 9 have been fixed and pushed.

[2022-08-31 08:54] nirvanalama opened #449 "Proxy Design flow"
### Proxy Design Prototype

@praweshsth @titiolukole @k8hughes @DaveEade49

https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=9984%3A170652&node-id=9987%3A170928&viewport=564%2C246%2C0.18&scaling=scale-down&starting-point-node-id=9987%3A170928

Let us know if you have any feedbacks.

[2022-08-31 09:03] sriza commented on #444
Issue 1,3,4 and 8 are fixed and pushed.

[2022-08-31 09:12] SauravSilwal10 commented on #444
@man-git007  when the user clicks the updated button and time sort in descending order. The data after pagination are not displayed. Please review this issue.

https://user-images.githubusercontent.com/78422663/187643126-c9f14bb9-9244-4161-b688-b3ca4dbf70d5.mp4

[2022-08-31 09:35] jenishshrestha commented on #444
Issue no. 10 and 11 has been fixed and pushed.

[2022-08-31 10:49] SauravSilwal10 commented on #444
@man-git007 Regarding issue 7. When a user wants to save the transactions edit the form, a back-end error message is displayed. Please have a look

https://user-images.githubusercontent.com/78422663/187661969-792c23b2-bb83-4182-97a0-e386f3fbcb67.mp4

[2022-08-31 11:19] SauravSilwal10 commented on #444
@Sanilblank Activity listing page publish button is not working .Please have a look.

https://user-images.githubusercontent.com/78422663/187666743-f319e9e2-8802-4a2b-b296-ec0c2fac6a59.mp4

[2022-08-31 11:25] SauravSilwal10 commented on #444
@Sanilblank  Regrading Issue 2 .Value of other-identifier is not displayed on activity detail page .Please review again.

https://user-images.githubusercontent.com/78422663/187667921-2204b92c-451f-4e19-acda-854ffb6319db.mp4

[2022-08-31 11:31] SauravSilwal10 opened #452 "Issue 3: After clicking the delete button on the activity detail page delete popup display twice"

[2022-08-31 11:32] #452 closed

[2022-08-31 11:36] SauravSilwal10 commented on #444
@jenishshrestha

- [ ] **Issue 1: UI breakdown**
![Screenshot from 2022-08-31 17-13-31](https://user-images.githubusercontent.com/78422663/187668650-4d921ee3-7ab8-4f60-93b0-b506d315a1c6.png)

- [ ] **Issue 2 : Spacing is needed**
![Screenshot from 2022-08-31 17-14-26](https://user-images.githubusercontent.com/78422663/187668804-b0485912-ebd9-4074-bdfa-a9b50277e8cb.png)
Also please review this issu

[2022-09-01 04:22] praweshsth opened #454 "Change the support email address"
In the footer, change the support email address from 'support@iatistandard.org' to 'PubToolTest@iatistandard.org'

[2022-09-01 05:38] Sanilblank commented on #444
Issues 2, 12 and 16 have been fixed and pushed.
Regarding other identifier info not being shown in detail page, form rendering and storing in db as well as retrieval from db are working as intended.
It seems to be an issue in the FE side @jenishshrestha please look into it.

[2022-09-01 05:38] Sanilblank commented on #444
This issue has been fixed and pushed

[2022-09-01 05:39] Sanilblank commented on #444
I have worked on this issue as well.

[2022-09-01 07:04] SauravSilwal10 commented on #444
@man-git007 when user saves the recipient region and period edit form. A backend error message is displayed. Please have a look.

https://user-images.githubusercontent.com/78422663/187852667-1235058f-77e8-4f30-933e-2bf3208707d0.mp4

[2022-09-01 07:17] SauravSilwal10 commented on #444
@Sanilblank issue 12 still exists. Can you review it again?

https://user-images.githubusercontent.com/78422663/187855001-05d1a945-fb3c-41ac-8868-7ebc893791e4.mp4

[2022-09-01 07:28] Sanilblank commented on #444
This is because the new branch with the problem fixes has not yet been deployed to staging. @SauravSilwal10

[2022-09-01 07:29] nirvanalama commented on #437
@Sanilblank

[2022-09-01 07:30] nirvanalama commented on #407
@Sanilblank

[2022-09-01 07:30] nirvanalama commented on #449
@Sanilblank

[2022-09-01 08:11] DaveEade49 commented on #437
Hi,
1. on the page where the upload has identified two errors ( for 4206 and 4113 ) - is there a way to see what the errors and to correct them?
2. On that same page 4113 is in **bold** whereas 4206 is not - is there any significance to this?
3. On page 9 "Your Activities" after the successful import the activities which have been imported don't show - is this just because it's a "Mock Up"?
4. On

[2022-09-02 04:27] man-git007 commented on #408
Merged to main branch and closed manually

[2022-09-02 04:27] #408 closed

[2022-09-02 04:30] #439 closed

[2022-09-02 04:51] SauravSilwal10 opened #458 "Bug : UI issue"
- [x] **Issue 1 : Core element icon is  missing from collaboration-type.**
Actual Result
![Screenshot from 2022-09-01 15-54-07](https://user-images.githubusercontent.com/78422663/187890814-fa958370-ff99-48d2-a1c5-2990ea8677c1.png)
Expected Result
- Core element icon should be present
- [ ] **Issue 2: Hyphen should be used instead of underscore**
Actual Result
![Screenshot from 2022-09-01 16-19-45]

[2022-09-02 04:58] #444 closed

[2022-09-02 04:59] #432 closed

[2022-09-02 04:59] #428 closed

[2022-09-02 05:00] #425 closed

[2022-09-02 05:07] SauravSilwal10 opened #459 "Question regrading activity"
**Question 1**: @man-git007  Is it okay to have an empty listing page? or do I have to label it as a bug?
![Screenshot from 2022-09-02 09-47-22](https://user-images.githubusercontent.com/78422663/188056880-b928b45a-f2a3-43c5-881f-69fc8dd75807.png)
**Question 2:** #397 @praweshsth Does it cause issues from the user's point of view? What should we do? Can we ignore it for now?
**Question 3:** @man-g

[2022-09-02 05:12] #421 closed

[2022-09-02 05:13] #392 closed

[2022-09-02 05:13] #368 closed

[2022-09-02 05:13] #358 closed

[2022-09-02 05:14] #348 closed

[2022-09-02 05:14] #270 closed

[2022-09-02 05:15] #268 closed

[2022-09-02 05:15] #269 closed

[2022-09-02 05:15] #254 closed

[2022-09-02 05:16] #245 closed

[2022-09-02 05:16] #231 closed

[2022-09-02 05:16] #228 closed

[2022-09-02 05:17] #227 closed

[2022-09-02 05:17] #216 closed

[2022-09-02 05:17] #218 closed

[2022-09-02 05:21] SauravSilwal10 opened #460 "Bug :"
- [ ] **Issue 1: The activity listing page publish button is not working**
Actual Result
https://user-images.githubusercontent.com/78422663/187666743-f319e9e2-8802-4a2b-b296-ec0c2fac6a59.mp4

Expected Result
- The system should function properly.

- [ ] **Issue 2: When the user deletes/publishes activity, the system freezes**
Actual Result
https://user-images.githubusercontent.com/78422663/1874421

[2022-09-02 05:46] SauravSilwal10 opened #462 "Bug: Activity Issue"
- [x] **Issue 1: Indicator listing page  display wrong information**
Actual Result
https://user-images.githubusercontent.com/78422663/188055878-76d00d46-27af-4aa9-a20e-f2094ae2917d.mp4
Expected Result
- Accurate information should be displayed
- [x] **Issue 2: element status of other-identifier is not working**
Actual Result

https://user-images.githubusercontent.com/78422663/188067225-8f10dcc1-65

[2022-09-02 09:23] man-git007 commented on #458
@SauravSilwal10 Regarding Issue 2: Should the hyphen be in all attributes like a date as well?

[2022-09-02 09:25] SauravSilwal10 commented on #458
@man-git007 Yes, if it's feasible.

[2022-09-02 10:22] man-git007 commented on #449
@titungdup Could you please go through the design and implement the UI part of it?

[2022-09-05 10:03] man-git007 opened #469 "Delete Module"
Add delete module for result, indicator, period, and transaction module

Note: The related data should also be deleted

[2022-09-05 11:52] SauravSilwal10 opened #470 "Bug : Drop Down Issue"
Context
- Desktop
- Chrome 103.0.5060.114

Preconditions
- stage.iatipublisher.yipl.com.np
- Username: Ram
- password: 12345678

Steps
- Select the drop-down options

Actual Result
- remove the icon is missing from the drop-down options

Expected Result
- remove the icon should be in the drop-down options

https://user-images.githubusercontent.com/78422663/188442470-e3bb2ba7-67a8-4a45-bf68-27d76eb

[2022-09-06 09:21] #403 closed

[2022-09-06 09:29] #409 closed

[2022-09-06 09:33] #413 closed

[2022-09-06 09:35] #411 closed

[2022-09-06 10:27] nirvanalama commented on #437
Hello,

### 1. on the page where the upload has identified two errors ( for 4206 and 4113 ) - is there a way to see what the errors and to correct them?
**- You can click on the (show 2 errors) to expand. As, the activities are being imported we cannot let the users to correct the errors. But they can go back to the .cvl/.xml file and correct it there instead.**

### 2. On that same page 4113 is i

[2022-09-06 11:18] SauravSilwal10 opened #471 "Bug: Organization issue"
Context
- Desktop
- Chrome 103.0.5060.114

Preconditions
- https://stage.iatipublisher.yipl.com.np
- Username: Ram
- Password:12345678

- [x] **Issue 1 :organisation-identifier unsuccessful notifications is in green color**
Actual Result

Expected Result
- unsuccessful notifications color should be red

- [x] **Issue 2: Inconsistent way to display budget line**

Actual Result
![Screenshot from 202

[2022-09-09 09:35] SauravSilwal10 opened #477 "Bug : Delete module>> Period delete button is not working."
Context
- Desktop
- Chrome 103.0.5060.114

Preconditions
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password:12345678
- for created activity

Steps
- Period listing page  >> click the delete button

Actual Result
-  delete button is not working.

Expected Result
- Should work properly.

https://user-images.githubusercontent.com/78422663/189320119-81138545-f62f-4c5a-a78f-010db50ea

[2022-09-09 10:10] man-git007 commented on #477
@SauravSilwal10 Done and deployed to the staging server. Please verify.

[2022-09-09 10:20] man-git007 commented on #462
@SauravSilwal10 Worked on it and after delete module tested. Will deploy this update.

[2022-09-09 10:20] man-git007 commented on #460
@Sanilblank Lets look on it next week.

[2022-09-09 10:21] man-git007 commented on #458
@SauravSilwal10 @jenishshrestha
Issue 1 has been done and will be deployed later

[2022-09-09 11:51] #477 closed

[2022-09-09 12:49] man-git007 commented on #462
@SauravSilwal10 Deployed to the staging server. Lets check this on Monday

[2022-09-09 12:50] man-git007 commented on #458
@SauravSilwal10 Deployed to the staging server. Lets check this on Monday

[2022-09-12 05:28] #462 closed

[2022-09-12 07:22] man-git007 commented on #460
@Sanilblank Does the issue still persist?

cc @SauravSilwal10

[2022-09-12 07:40] Sanilblank commented on #460
@man-git007 I tested on different branches in local and the issue no longer exists. For testing on staging, I tried logging in with the credentials Saurav provided me but they were incorrect, we will need to test this feature again when deploying a new branch to staging.

[2022-09-12 10:20] man-git007 commented on #460
@SauravSilwal10 Could you look into this?

cc @Sanilblank

[2022-09-12 10:23] SauravSilwal10 commented on #460
@man-git007 OK, I'll check it.

[2022-09-12 10:27] man-git007 commented on #469
This has been done and merged to the `main` branch. So, closing manually

[2022-09-12 10:27] #469 closed

[2022-09-12 10:29] man-git007 commented on #397
@SauravSilwal10 Please refer this [link](https://docs.google.com/spreadsheets/d/1hxeH0JAUl8Ln8zYiQaqkhL1phsLNc_C6kDt_lnI99RQ/edit#gid=1664498206&range=A1). If all OK lets close this issue

[2022-09-12 10:29] man-git007 commented on #395
@SauravSilwal10 Please refer to this [link](https://docs.google.com/spreadsheets/d/1hxeH0JAUl8Ln8zYiQaqkhL1phsLNc_C6kDt_lnI99RQ/edit#gid=1664498206&range=A1). If all OK let's close this issue

[2022-09-12 10:30] man-git007 commented on #393
@AbhishekSka @SauravSilwal10 Does the issue still persist? if not let's close this issue

[2022-09-12 10:30] man-git007 commented on #391
@AbhishekSka Lets close this issue with a comment

[2022-09-12 10:33] man-git007 commented on #390
@SauravSilwal10 Can this issue be closed? Please refer to this [link](https://docs.google.com/spreadsheets/d/1hxeH0JAUl8Ln8zYiQaqkhL1phsLNc_C6kDt_lnI99RQ/edit#gid=1664498206&range=A1) if any confusion

[2022-09-12 10:33] man-git007 commented on #388
@SauravSilwal10 If this issue has been sloved? then lets close this issue

[2022-09-12 10:34] man-git007 commented on #386
@AbhishekSka Lets close this issue.

cc @praweshsth @SauravSilwal10

[2022-09-12 10:35] man-git007 commented on #384
@SauravSilwal10 If this issue has been fixed. Let's close this issue

cc @sriza

[2022-09-12 10:36] man-git007 commented on #381
@SauravSilwal10 If all is OK let's close this issue. Also @jenishshrestha Could you please verify from your side as well?

cc @jenishshrestha

[2022-09-12 10:37] man-git007 commented on #342
This has been merged to `main` branch and is manually closed

[2022-09-12 10:37] #342 closed

[2022-09-12 10:37] man-git007 commented on #313
This has been merged to `main` branch and manually closed

[2022-09-12 10:37] #313 closed

[2022-09-12 10:42] man-git007 commented on #214
@Man0zZ  Does the issue still persist? If yes lets work on it. If not @SauravSilwal10 Please close the issue.

cc @sriza

[2022-09-12 10:42] man-git007 commented on #211
@AbhishekSka Does the issue still persist? if not let's close this issue

[2022-09-12 11:46] SauravSilwal10 opened #483 "Bug :More publishing issue"
Context
- Desktop
- Chrome 103.0.5060.114

Preconditions
- Username: Ram
- Password: 12345678
- https://stage.iatipublisher.yipl.com.np/

- [ ]  #**Issue 1: publishing/unpublishing/republishing process is not smooth.**
Actual Result
https://user-images.githubusercontent.com/78422663/189644446-9feb8fd7-35b6-4b6c-8fb3-8cc05207334e.mp4
Expected Result
- Should be smooth
- [x] **Issue 2: The default v

[2022-09-12 12:07] SauravSilwal10 commented on #460
@Sanilblank This problem has been fixed. Please go here #483 for more information on publishing bugs.

CC @man-git007

[2022-09-12 12:10] #400 closed

[2022-09-12 12:14] #390 closed

[2022-09-12 12:14] #388 closed

[2022-09-12 12:15] #384 closed

[2022-09-12 12:25] #395 closed

[2022-09-13 03:22] Sanilblank opened #484 "Proxy login"
TASKS

- [x] Create roles admin and superadmin
- [x] Create a superadmin who can login into the system to view all organizations
- [x] Superadmin must be able to masquerade as any organization admin
- [x] Create separate page to list organizations registered in the system

[2022-09-13 03:27] man-git007 commented on #454
@sriza I think this has been done. If so let close this issue

cc @praweshsth

[2022-09-13 03:28] man-git007 commented on #154
@AbhishekSka @SauravSilwal10 Can we close this issue?

[2022-09-13 03:29] man-git007 commented on #156
@sriza Have we fixed this issue?

cc @SauravSilwal10

[2022-09-13 03:29] man-git007 commented on #157
@AbhishekSka @SauravSilwal10 What is the status of this issue? If fixed lets close this issue

cc @sriza

[2022-09-13 03:30] man-git007 commented on #158
@sriza @SauravSilwal10 What is the status of this ticket?

[2022-09-13 03:31] man-git007 commented on #160
@AbhishekSka Is this issue resloved? If yes lets close this issue.

cc @sriza

[2022-09-13 03:31] man-git007 commented on #162
@AbhishekSka What is the status of this issue?

[2022-09-13 03:32] man-git007 commented on #172
@sriza @SauravSilwal10 Do we still have this issue? If not let's close this issue

[2022-09-13 03:33] man-git007 commented on #175
@sriza What is the status of this issue?

[2022-09-13 03:33] man-git007 commented on #197
@jenishshrestha @titungdup @SauravSilwal10 Does this issue still persist?

[2022-09-13 03:34] man-git007 commented on #198
@sriza Have we worked on this issue?

[2022-09-13 03:34] man-git007 commented on #204
@AbhishekSka @SauravSilwal10 If this issue has been resoled, let's close this issue

[2022-09-13 03:35] man-git007 commented on #207
@sriza What is the status for this issue?

[2022-09-13 03:38] sriza commented on #207
@man-git007 This issue has already been fixed and can be closed.

cc @SauravSilwal10

[2022-09-13 03:39] man-git007 commented on #209
@AbhishekSka @SauravSilwal10 Can we close this issue?

[2022-09-13 03:39] man-git007 commented on #211
@AbhishekSka @SauravSilwal10 Can we close this issue?

[2022-09-13 03:40] man-git007 commented on #214
@SauravSilwal10 Can we close this issue?

[2022-09-13 03:40] sriza commented on #198
@man-git007
We have already worked on this issue.

cc @SauravSilwal10 @AbhishekSka

[2022-09-13 03:40] man-git007 commented on #217
@SauravSilwal10 can we close this issue?

[2022-09-13 03:41] man-git007 commented on #219
@sriza Can we look into this?

[2022-09-13 03:42] man-git007 commented on #381
@SauravSilwal10 Can we close this issue?

[2022-09-13 03:42] man-git007 commented on #386
Closing this issue manually.

[2022-09-13 03:42] #386 closed

[2022-09-13 03:43] man-git007 commented on #391
Closed manually

[2022-09-13 03:43] #391 closed

[2022-09-13 03:44] man-git007 commented on #393
@AbhishekSka @SauravSilwal10 What is the status?

[2022-09-13 03:45] man-git007 commented on #397
@SauravSilwal10 Lets look into this today.

[2022-09-13 03:48] SauravSilwal10 commented on #154
@man-git007 This issue hasn't been fixed.

cc @sriza

[2022-09-13 03:50] #158 closed

[2022-09-13 03:52] SauravSilwal10 commented on #158
Issue fixed
cc @man-git007  @sriza

[2022-09-13 03:59] SauravSilwal10 commented on #162
Issue Fixed
cc @man-git007  @AbhishekSka

[2022-09-13 03:59] #162 closed

[2022-09-13 04:44] man-git007 commented on #377
@jenishshrestha @titungdup @SauravSilwal10
I think, we can close this issue.

[2022-09-13 04:45] man-git007 commented on #376
@AbhishekSka @jenishshrestha Can we close this issue?

[2022-09-13 04:45] man-git007 commented on #375
@jenishshrestha @sriza @AbhishekSka Can we close this issue?

[2022-09-13 04:46] man-git007 commented on #374
@AbhishekSka @sriza What is the status of this issue? Can we close this issue?

[2022-09-13 04:46] man-git007 commented on #372
@AbhishekSka @jenishshrestha @sriza What is the status of this issue?

[2022-09-13 04:48] man-git007 commented on #371
@praweshsth We need to discuss this issue.

cc @jenishshrestha @AbhishekSka @sriza @SauravSilwal10

[2022-09-13 04:48] man-git007 commented on #367
@jenishshrestha What is the status for this issue?

[2022-09-13 04:49] man-git007 commented on #365
@Sanilblank Can we close this issue?

[2022-09-13 04:49] man-git007 commented on #364
@Sanilblank @jenishshrestha What is the status of this issue?

[2022-09-13 04:49] man-git007 commented on #362
@AbhishekSka Can we close this issue

cc @sriza @SauravSilwal10

[2022-09-13 04:50] man-git007 commented on #357
@sriza This might have been solved. If yes can we close this issue?

cc @AbhishekSka @SauravSilwal10

[2022-09-13 04:51] man-git007 commented on #346
@sriza What is the status of this issue? Also, which branch is related to this issue? Please mention the branch and if merged to the `main` branch lets close this issue.

cc @SauravSilwal10

[2022-09-13 04:52] man-git007 commented on #338
@SauravSilwal10 What is the status of this issue?

[2022-09-13 04:53] man-git007 commented on #326
@sriza What is the status of this issue?

cc @SauravSilwal10

[2022-09-13 04:54] man-git007 commented on #325
@SauravSilwal10 @sriza What is the status of this issue? If completed let's close this issue.

[2022-09-13 04:54] man-git007 commented on #324
@SauravSilwal10 @sriza  What is the status of this issue? If completed let's close this issue.

[2022-09-13 04:54] man-git007 commented on #322
@SauravSilwal10 @sriza What is the status of this issue? If completed let's close this issue.

[2022-09-13 04:55] man-git007 commented on #321
@SauravSilwal10 @sriza What is the status of this issue? If completed let's close this issue.

[2022-09-13 04:55] man-git007 commented on #320
@SauravSilwal10 @sriza @jenishshrestha  What is the status of this issue? If completed let's close this issue.

[2022-09-13 04:55] man-git007 commented on #317
@AbhishekSka Can we close this issue?

[2022-09-13 04:56] man-git007 commented on #316
@AbhishekSka @SauravSilwal10 What is the status of this issue?

[2022-09-13 04:57] man-git007 commented on #306
@Sanilblank @sriza What is the status of this issue? Have all these issues been fixed?

[2022-09-13 05:03] SauravSilwal10 commented on #157
@sriza This issue has not been fixed yet. Please have a look.

cc @man-git007  @AbhishekSka

[2022-09-13 05:05] SauravSilwal10 commented on #198
Issue fixed.

Cc @man-git007 @AbhishekSka @sriza

[2022-09-13 05:05] #198 closed

[2022-09-13 05:12] SauravSilwal10 commented on #197
Issue Fixed.
@man-git007 @jenishshrestha @titungdup

[2022-09-13 05:12] #197 closed

[2022-09-13 05:14] SauravSilwal10 commented on #204
Issue Fixed
 CC @man-git007 @AbhishekSka

[2022-09-13 05:14] #204 closed

[2022-09-13 05:32] SauravSilwal10 commented on #207
Issue Fixed

cc @man-git007 @sriza

[2022-09-13 05:32] #207 closed

[2022-09-13 05:34] #209 closed

[2022-09-13 05:44] SauravSilwal10 commented on #214
Issue Fixed
@man-git007

[2022-09-13 05:44] #214 closed

[2022-09-13 05:45] #217 closed

[2022-09-13 06:20] SauravSilwal10 commented on #316
@sriza Please have a look over this issue. Then we could decide to end this issue.

- [ ] **Issue 1**
Actual Result
![Screenshot from 2022-09-13 12-01-11](https://user-images.githubusercontent.com/78422663/189824386-a1b8edae-3684-481f-b747-d896fdfbdc3c.png)
Expected Result
![Screenshot from 2022-09-13 12-01-44](https://user-images.githubusercontent.com/78422663/189824464-e0aaac89-5f65-46db-85af-c1

[2022-09-13 06:22] SauravSilwal10 commented on #219
Issue fixed

cc @man-git007 @sriza

[2022-09-13 06:22] SauravSilwal10 commented on #381
Issue F

[2022-09-13 06:22] #381 closed

[2022-09-13 06:32] SauravSilwal10 commented on #393
@man-git007 There is still one logical problem, and @Sriza is addressing them. When it's finished, I'll close this ticket.

[2022-09-13 06:36] SauravSilwal10 commented on #397
@@praweshsth We need to discuss this issue.

cc @man-git007

[2022-09-13 06:39] SauravSilwal10 commented on #362
Issue Fixed
 cc @man-git007  @sriza @AbhishekSka

[2022-09-13 06:39] #362 closed

[2022-09-13 07:11] SauravSilwal10 commented on #320
Issue Fixed
cc @man-git007  @sriza  @jenishshrestha

[2022-09-13 07:11] #320 closed

[2022-09-13 07:28] SauravSilwal10 commented on #338
@man-git007 and @praweshsth we need to discuss this issue.

cc @sriza  @Sanilblank

[2022-09-13 07:30] SauravSilwal10 commented on #326
Issue Fixed
cc @man-git007 @sriza

[2022-09-13 07:30] #326 closed

[2022-09-13 07:33] SauravSilwal10 commented on #325
Issue Fixed

cc @man-git007 @sriza

[2022-09-13 07:33] #325 closed

[2022-09-13 07:52] SauravSilwal10 commented on #322
Issue Fixed

cc @man-git007  @sriza

[2022-09-13 07:52] #322 closed

[2022-09-13 08:18] SauravSilwal10 commented on #324
This Issue has not been solved yet. @sriza

cc @man-git007

[2022-09-13 08:18] SauravSilwal10 commented on #317
Issue Fixed

@man-git007 @AbhishekSka

[2022-09-13 08:18] #317 closed

[2022-09-13 08:20] SauravSilwal10 commented on #321
Issue Fixed
 cc @man-git007  @sriza

[2022-09-13 08:20] #321 closed

[2022-09-13 08:21] SauravSilwal10 commented on #306
Issue Fixed
 cc @man-git007  @sriza @Sanilblank

[2022-09-13 08:21] #306 closed

[2022-09-13 08:26] #389 closed

[2022-09-13 08:27] #375 closed

[2022-09-13 08:27] SauravSilwal10 commented on #375
Issue Fixed

[2022-09-13 08:29] SauravSilwal10 commented on #374
@sriza This has not been fixed yet.

cc @man-git007  @AbhishekSka

[2022-09-13 08:33] #303 closed

[2022-09-13 08:42] nirvanalama opened #486 "Assistive text below the text fields"
Here are two design option for the Additional Information below the text fields

### Sticky Option

https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=8596%3A139561&node-id=10397%3A172722&viewport=-336%2C1183%2C0.13&scaling=min-zoom&starting-point-node-id=10397%3A172722&show-proto-sidebar=1

https://user-images.githubusercontent.com/57661914/189868921-b1cbd33a-6d49-

[2022-09-13 08:50] #299 closed

[2022-09-13 08:50] #298 closed

[2022-09-13 08:51] #281 closed

[2022-09-13 08:53] #279 closed

[2022-09-13 08:54] #276 closed

[2022-09-13 08:54] #252 closed

[2022-09-13 08:55] #180 closed

[2022-09-13 08:56] #187 closed

[2022-09-13 08:57] #224 closed

[2022-09-13 08:58] #264 closed

[2022-09-13 08:58] #275 closed

[2022-09-13 08:59] #239 closed

[2022-09-13 08:59] #236 closed

[2022-09-14 02:59] man-git007 commented on #159
@SauravSilwal10 @Man0zZ @AbhishekSka Can we close this issue?

[2022-09-14 02:59] man-git007 commented on #148
@AbhishekSka What is the status of this issue?

cc @SauravSilwal10

[2022-09-14 03:00] man-git007 commented on #149
@sriza Has this issue been solved? If yes @SauravSilwal10 Please close this issue

cc @AbhishekSka

[2022-09-14 03:01] man-git007 commented on #147
@sriza Have we fixed this issue?

cc @SauravSilwal10

[2022-09-14 03:02] man-git007 commented on #150
@sriza Has this issue been solved? if not @jenishshrestha  Can you look into this? @SauravSilwal10 If fixed lets close this issue

cc @AbhishekSka

[2022-09-14 03:03] man-git007 commented on #151
@sriza Does the issue still persist? If yes please fix this today.

cc @Sanilblank @SauravSilwal10 @AbhishekSka

[2022-09-14 03:04] man-git007 commented on #153
@sriza @Sanilblank Can you both look into this?

cc @SauravSilwal10 @AbhishekSka

[2022-09-14 03:06] man-git007 commented on #154
@SauravSilwal10 Lets halt this issue for now and maintain it as a backlog tasks

cc @AbhishekSka

[2022-09-14 03:08] man-git007 commented on #157
@SauravSilwal10 Lets halt this issue for now and maintain it in a backlog.

cc @sriza @AbhishekSka @jenishshrestha @Man0zZ

[2022-09-14 03:09] man-git007 commented on #160
@SauravSilwal10 Can you re-confirm the issue?

[2022-09-14 03:10] man-git007 commented on #163
@SauravSilwal10 @AbhishekSka Does the issue still persist?

[2022-09-14 03:11] man-git007 commented on #164
@SauravSilwal10 @AbhishekSka Does the issue still persist? If not let's close the issue

cc @sriza

[2022-09-14 03:13] man-git007 commented on #165
@SauravSilwal10 Does the issue still persist? If yes @sriza Let's fix this today.
Also, this issue is also mentioned in #151

cc @praweshsth @sriza @Sanilblank

[2022-09-14 03:14] man-git007 commented on #166
@SauravSilwal10 Please verify the fix and close the issue if done

cc @Man0zZ @AbhishekSka

[2022-09-14 03:14] man-git007 commented on #168
@AbhishekSka @SauravSilwal10 What is the status of this issue?

cc @Man0zZ

[2022-09-14 03:15] man-git007 commented on #169
@SauravSilwal10 @praweshsth @nirvanalama What is the status of this issue?

[2022-09-14 03:16] SauravSilwal10 commented on #166
Issue fixed

cc @man-git007 @Man0zZ @AbhishekSka

[2022-09-14 03:16] #166 closed

[2022-09-14 03:16] man-git007 commented on #175
@SauravSilwal10 Can you look into this issue?

[2022-09-14 03:17] man-git007 commented on #177
@sriza What is the status of this issue?

cc @SauravSilwal10

[2022-09-14 03:18] man-git007 commented on #193
@SauravSilwal10 This issue seems to be fixed. Please check once.

cc @sriza

[2022-09-14 03:18] man-git007 commented on #200
@SauravSilwal10 Does the issue still persist?

cc @AbhishekSka

[2022-09-14 03:19] man-git007 commented on #205
@SauravSilwal10 Seems to be fixed. Please check once

cc @AbhishekSka

[2022-09-14 03:19] SauravSilwal10 commented on #200
Issue Fixed
 cc @man-git007  @sriza @AbhishekSka

[2022-09-14 03:19] #200 closed

[2022-09-14 03:20] man-git007 commented on #210
@SauravSilwal10 Does the issue still persist? If yes @Man0zZ @jenishshrestha @titungdup Can you look into this?

cc @sriza

[2022-09-14 03:20] sriza commented on #346
@man-git007 The branch related to this issue has already been merged to the main branch.

[2022-09-14 03:20] #346 closed

[2022-09-14 03:21] man-git007 commented on #212
@SauravSilwal10 If the issue still persist then lets keep this in a backlog

cc @sriza @praweshsth

[2022-09-14 03:22] SauravSilwal10 commented on #149
@sriza This issue has not been fixed . Please have a look.

cc @man-git007  @AbhishekSka

[2022-09-14 03:22] man-git007 commented on #213
@AbhishekSka @SauravSilwal10 Does the issue still persist?

cc @Man0zZ

[2022-09-14 03:23] man-git007 commented on #219
@SauravSilwal10 Can we close this issue?

[2022-09-14 03:23] man-git007 commented on #220
@SauravSilwal10 Does the issue still persist? If not lets close this issue

[2022-09-14 03:24] man-git007 commented on #223
@SauravSilwal10 @AbhishekSka Does the issue still persist?

[2022-09-14 03:24] sriza commented on #454
@man-git007 Replacement of support email has already been done.

[2022-09-14 03:24] #454 closed

[2022-09-14 03:25] man-git007 commented on #234
@sriza Have we fixed the issue? If not let's fix this today.

cc @SauravSilwal10

[2022-09-14 03:26] man-git007 commented on #237
@sriza and @Sanilblank  Can we look into this?

cc @SauravSilwal10

[2022-09-14 03:27] man-git007 commented on #240
@sriza Have we fixed this issue? If this is related to UI @jenishshrestha @Man0zZ Can you guys look into this?

cc @SauravSilwal10

[2022-09-14 03:28] man-git007 commented on #244
Closed manually.

[2022-09-14 03:28] #244 closed

[2022-09-14 03:28] man-git007 commented on #266
@SauravSilwal10 Please check the fix

[2022-09-14 03:29] #440 closed

[2022-09-14 03:29] #471 closed

[2022-09-14 03:30] man-git007 commented on #288
@SauravSilwal10 What is the status of this issue?

cc @sriza @praweshsth @Man0zZ @jenishshrestha

[2022-09-14 03:31] man-git007 commented on #290
@SauravSilwal10 This seems to have been fixed. Can you verify this?

[2022-09-14 03:32] man-git007 commented on #292
@SauravSilwal10 This issue seems to be fixed. Can you re-verify?

cc @Man0zZ @sriza

[2022-09-14 03:32] SauravSilwal10 commented on #151
Issue Fixed
 cc @man-git007 @sriza @AbhishekSka

[2022-09-14 03:32] #151 closed

[2022-09-14 03:33] man-git007 commented on #304
@AbhishekSka @SauravSilwal10 What is the status of this issue?

cc @Man0zZ @sriza @jenishshrestha

[2022-09-14 03:35] man-git007 commented on #149
@SauravSilwal10 lets put this issue in a backlog

[2022-09-14 03:37] SauravSilwal10 commented on #163
Issue Fixed
cc @man-git007 @AbhishekSka

[2022-09-14 03:37] #163 closed

[2022-09-14 03:38] SauravSilwal10 commented on #149
@man-git007  okay

[2022-09-14 03:38] #149 closed

[2022-09-14 03:39] SauravSilwal10 commented on #164
Issue fixed

cc @man-git007 @sriza @AbhishekSka

[2022-09-14 03:39] #164 closed

[2022-09-14 03:43] man-git007 commented on #422
@Sanilblank What is the status of this issue?

[2022-09-14 03:44] man-git007 commented on #483
@Sanilblank What is the status of this issue?

[2022-09-14 03:46] man-git007 commented on #458
@titungdup What is the status of this issue?

[2022-09-14 03:47] man-git007 commented on #447
@sriza @Sanilblank What is the status of this issue?

[2022-09-14 03:48] man-git007 commented on #406
@titungdup Can we close this issue?

[2022-09-14 03:50] man-git007 commented on #396
@SauravSilwal10 What is the status for this issue?

[2022-09-14 03:56] man-git007 commented on #262
@Man0zZ If done. please close the issue

[2022-09-14 03:57] man-git007 commented on #261
@titungdup If done, please close the issue

[2022-09-14 03:57] man-git007 commented on #253
@SauravSilwal10 @jenishshrestha What is the status of this issue?

[2022-09-14 03:59] man-git007 commented on #233
@jenishshrestha @SauravSilwal10 What is the status of this issue?

[2022-09-14 04:01] #261 closed

[2022-09-14 04:02] #406 closed

[2022-09-14 04:14] sriza commented on #165
@SauravSilwal10 @man-git007 This issue has already been fixed.

[2022-09-14 04:18] #28 closed

[2022-09-14 04:19] man-git007 commented on #30
@sriza Can we close this issue?

[2022-09-14 04:19] man-git007 commented on #47
Manually closed

[2022-09-14 04:19] #47 closed

[2022-09-14 04:19] SauravSilwal10 commented on #193
Issue Fixed
cc @man-git007 @sriza

[2022-09-14 04:19] #193 closed

[2022-09-14 04:20] man-git007 commented on #54
@Man0zZ @AbhishekSka @SauravSilwal10 Can we close this issue?

[2022-09-14 04:20] #262 closed

[2022-09-14 04:23] sriza commented on #30
@man-git007 The login module has been completed and thus this issue can be closed.

[2022-09-14 04:23] #30 closed

[2022-09-14 04:24] man-git007 commented on #144
@sriza @Man0zZ Is this issue completed?

cc @SauravSilwal10

[2022-09-14 04:24] SauravSilwal10 commented on #165
Issue Fixed

cc @man-git007

[2022-09-14 04:24] #165 closed

[2022-09-14 04:26] sriza commented on #144
@man-git007 The tasks related to this issue have been completed.

[2022-09-14 04:26] #144 closed

[2022-09-14 04:31] SauravSilwal10 commented on #233
Issue Fixed
cc @man-git007 @jenishshrestha

[2022-09-14 04:31] #233 closed

[2022-09-14 04:45] SauravSilwal10 commented on #213
Issue fixed
cc @AbhishekSka @man-git007 @Man0zZ

[2022-09-14 04:45] #213 closed

[2022-09-14 04:46] SauravSilwal10 commented on #290
Issue Fixed
cc @man-git007

[2022-09-14 04:46] #290 closed

[2022-09-14 04:47] SauravSilwal10 commented on #212
okay
@man-git007

[2022-09-14 04:49] SauravSilwal10 commented on #205
Issue Fixed

cc @man-git007 @AbhishekSka

[2022-09-14 04:49] #205 closed

[2022-09-14 04:50] #219 closed

[2022-09-14 04:51] SauravSilwal10 commented on #220
Issue Fixed
 cc @man-git007

[2022-09-14 04:51] #220 closed

[2022-09-14 05:58] man-git007 commented on #72
@jenishshrestha Can we close this issue?

[2022-09-14 05:59] man-git007 commented on #57
@SauravSilwal10 @AbhishekSka Can we close this issue?

[2022-09-14 06:00] man-git007 commented on #77
@Man0zZ What is the status of this issue and which branch is related to this issue?

[2022-09-14 06:00] man-git007 commented on #96
@Sanilblank Can we close this issue?

[2022-09-14 06:01] man-git007 commented on #112
@sriza @praweshsth @SauravSilwal10 Can we close this issue?

[2022-09-14 06:01] man-git007 commented on #116
@sriza @SauravSilwal10 @praweshsth Can we close this issue?

[2022-09-14 06:02] man-git007 commented on #138
@Man0zZ What is the status of this issue and what branch is related with this issue?

[2022-09-14 06:03] man-git007 commented on #152
@AbhishekSka @SauravSilwal10 Can we close this issue?

[2022-09-14 06:06] man-git007 commented on #159
@nirvanalama Can you look at issue no. 3 and this [link](https://github.com/younginnovations/iatipublisher/issues/159#issuecomment-1145877576)

[2022-09-14 06:08] man-git007 commented on #190
@jenishshrestha What is the status of this issue?

[2022-09-14 06:11] man-git007 commented on #235
@nirvanalama Are all the feedbacks that you have provided completed? if not @titungdup Can you look into this?

cc @SauravSilwal10 @jenishshrestha

[2022-09-14 06:12] SauravSilwal10 commented on #152
#177 is remaining which comes under a backlog issue.

cc @man-git007 @AbhishekSka

[2022-09-14 06:12] #152 closed

[2022-09-14 06:29] nirvanalama commented on #159
The issue is not clear. @man-git007  The link is of the same issue.

[2022-09-14 06:30] nirvanalama commented on #235
@man-git007 yes

[2022-09-14 06:50] nirvanalama commented on #169
@man-git007 Is this a Design issue or frontend/dev issue?

[2022-09-14 07:03] praweshsth commented on #169
@jenishshrestha Please look into these issue

[2022-09-14 07:30] SauravSilwal10 opened #487 "Bug : Arrangement of label fields"
- [x] **Issue 1: Iati- Identifier**
Actual Result
![Screenshot from 2022-09-14 13-04-30](https://user-images.githubusercontent.com/78422663/190087473-5e9d6cea-10db-4c83-a137-bd3e0067a9aa.png)

Expected Result
- Should be aligned in the same line

- [x] **Issue 2: Transactions**
Actual Result
![Screenshot from 2022-09-14 13-09-04](https://user-images.githubusercontent.com/78422663/190088439-28af780

[2022-09-14 07:33] man-git007 commented on #235
Closing manually

[2022-09-14 07:35] SauravSilwal10 commented on #266
Issue fixed

cc @man-git007

[2022-09-14 07:35] #266 closed

[2022-09-14 07:36] SauravSilwal10 commented on #292
Issue Fixed

cc @man-git007 @sriza

[2022-09-14 07:36] #292 closed

[2022-09-14 07:37] SauravSilwal10 commented on #288
Issue Fixed

cc @sriza @praweshsth @Man0zZ @jenishshrestha @titungdup

[2022-09-14 07:37] #288 closed

[2022-09-14 07:39] SauravSilwal10 commented on #304
Issue Fixed

cc @man-git007

[2022-09-14 07:39] #304 closed

[2022-09-14 07:41] SauravSilwal10 commented on #396
The proper validation of the percentage is remaining.@sriza is working on it.

cc @man-git007

[2022-09-14 07:43] #404 closed

[2022-09-14 07:44] #401 closed

[2022-09-14 07:46] #172 closed

[2022-09-14 07:56] titungdup commented on #168
@man-git007 All issues are resolved. Closing this issue.

[2022-09-14 07:56] #168 closed

[2022-09-14 08:00] titungdup commented on #240
@man-git007 All issues resolved. Closing it.

[2022-09-14 08:00] #240 closed

[2022-09-14 08:06] titungdup commented on #211
@man-git007 Issue resolved.

[2022-09-14 08:06] #211 closed

[2022-09-14 08:13] SauravSilwal10 opened #488 "Bug : Linked Data URI is present in Settings"
Context
- Chrome 104.0.5112.101
- Desktop

Preconditions
- https://stage.iatipublisher.yipl.com.np
- Username: Ram
- Password:12345678

Steps
- Go to setting

Actual Result
![Screenshot from 2022-09-14 13-56-03](https://user-images.githubusercontent.com/78422663/190098565-dbc9aaf9-06a4-4829-a9c6-fe50f1153e55.png)

Expected Result
- Linked Data URI should be removed from Settings

[2022-09-14 08:43] titungdup commented on #150
@man-git007 Issue resolved.

[2022-09-14 08:43] #150 closed

[2022-09-14 09:00] SauravSilwal10 commented on #210
Issue fixed
@man-git007

[2022-09-14 09:00] #210 closed

[2022-09-14 09:02] titungdup commented on #253
@man-git007 Issue resolved.

[2022-09-14 09:02] #253 closed

[2022-09-14 09:12] SauravSilwal10 commented on #376
Issue fixed

[2022-09-14 09:12] #376 closed

[2022-09-14 09:17] SauravSilwal10 commented on #223
Issue fixed

cc @man-git007 @AbhishekSka

[2022-09-14 09:17] #223 closed

[2022-09-14 09:19] man-git007 commented on #7
@praweshsth Can we close this issue?

[2022-09-14 09:27] SauravSilwal10 commented on #234
Issue fixed
Cc @man-git007 @sriza

[2022-09-14 09:27] #234 closed

[2022-09-14 09:36] titungdup commented on #159
@man-git007 Issue no. 3 is resolved. We can close this issue.

[2022-09-14 09:36] #159 closed

[2022-09-14 09:58] #365 closed

[2022-09-14 10:01] Sanilblank commented on #364
@man-git007 It seems that when a user clicks multiple times, the same data is saved numerous times.
We may control this by disabling the save button once the user has opted to save the data.
@jenishshrestha

[2022-09-14 10:14] Sanilblank commented on #422
@man-git007 This issue has been fixed

[2022-09-14 10:14] #422 closed

[2022-09-14 10:14] Sanilblank commented on #483
@man-git007 Will look into this issue soon

[2022-09-14 10:24] Sanilblank commented on #175
I have just tried this and it seems to be working fine. Will close the issue now.

[2022-09-14 10:24] #175 closed

[2022-09-14 10:25] Sanilblank commented on #96
Yes this issue can be closed.

[2022-09-14 10:25] #96 closed

[2022-09-14 10:25] #7 closed

[2022-09-14 10:56] SauravSilwal10 commented on #147
Issue Fixed
cc @man-git007 @sriza

[2022-09-14 10:56] #147 closed

[2022-09-14 11:05] SauravSilwal10 commented on #156
Issue Fixed

cc @man-git007 @sriza

[2022-09-14 11:05] #156 closed

[2022-09-14 11:06] SauravSilwal10 commented on #367
Issue fixed

cc @man-git007 @jenishshrestha

[2022-09-14 11:06] #367 closed

[2022-09-14 11:09] SauravSilwal10 commented on #160
Issue Fixed
cc @man-git007

[2022-09-14 11:09] #160 closed

[2022-09-14 11:15] Man0zZ commented on #138
@man-git007 This issue is yet to be fixed. It is related to **77-auth-translation** branch

[2022-09-14 11:16] Man0zZ commented on #77
@man-git007 This issue is yet to be fixed. It is related to 77-auth-translation branch

[2022-09-14 11:18] Man0zZ commented on #138
@man-git007 There is animation left . It is related to 138-error-messages branch

[2022-09-14 11:36] pravin-yipl commented on #446
- [ ] Pass env as a file
- [ ] add supervisor conf and install supervisor in dockerfile
- [ ] add redis server and config on k8s cluster

[2022-09-14 11:39] jenishshrestha commented on #72
Yes

[2022-09-14 11:42] jenishshrestha commented on #190
Could not get the third issue to work. Vue stops working if remove codes from app.ts.

[2022-09-14 11:51] jenishshrestha commented on #364
Ok. I will look into this.

[2022-09-14 11:52] SauravSilwal10 opened #489 "Backlog"
- [ ] **Issue 1**: #154
- [ ] **Issue 2**: #157
- [ ] **Issue 3**: #372
- [x] **Issue 4**: #397
- [ ] **Issue 5:When inserting the special character like #,_,% without matching the IATI-identifier and Title name, the result is displayed.**
Actual Result

https://user-images.githubusercontent.com/78422663/190144009-37a2013b-704e-4731-9227-05b367bc8eb0.mp4

Excepted Result
- Result shouldn't  be dis

[2022-09-14 11:55] SauravSilwal10 commented on #154
Please refer to the Issue #489

cc @titungdup @sriza

[2022-09-14 11:55] #154 closed

[2022-09-14 11:56] SauravSilwal10 commented on #372
Please refer to the Issue #489

[2022-09-14 11:56] #372 closed

[2022-09-14 11:56] #374 closed

[2022-09-14 11:58] SauravSilwal10 commented on #338
please refer to the issue #489

[2022-09-14 11:58] #338 closed

[2022-09-14 11:58] SauravSilwal10 commented on #157
please refer to the issue #489

cc @sriza

[2022-09-14 11:58] #157 closed

[2022-09-14 11:59] jenishshrestha commented on #377
PR #378 needs to be merged for some of the issues to be fixed.

[2022-09-14 12:06] jenishshrestha commented on #420
Issue number 1 and 2 seems to be working now.

Issue number 3 needs to be fixed.

[2022-09-14 12:21] praweshsth commented on #486
@nirvanalama

1. The first iteration, where the information is sticky in the side.
2. Change 'Assistive text' to 'Help'
3. Show 'IATI Standard Reference' at the top of all the hover over text

[2022-09-15 02:46] man-git007 commented on #364
@SauravSilwal10 lets move this issue to backlog

[2022-09-15 02:47] man-git007 commented on #190
@titungdup lets look into this today

[2022-09-15 02:48] man-git007 commented on #72
@jenishshrestha tick the tasks completed and close the issue

[2022-09-15 02:50] man-git007 commented on #138
@Man0zZ How much time will it take to finish this issue?
@sriza @SauravSilwal10 Is this feature required or can we halt for now?

[2022-09-15 02:51] man-git007 commented on #77
@Man0zZ OK. We will use this branch during our translation feature

cc @sriza @Sanilblank @jenishshrestha @SauravSilwal10

[2022-09-15 03:41] man-git007 commented on #489
@sriza @jenishshrestha Lets look into issue 7,8,9,10

[2022-09-15 03:42] man-git007 commented on #190
@SauravSilwal10 Move this issue to backlog

[2022-09-15 03:44] man-git007 commented on #377
@SauravSilwal10 Move this issue to backlog

[2022-09-15 03:46] man-git007 commented on #470
@SauravSilwal10 Move this issue to backlog.
@jenishshrestha Can we fix this issue today?

[2022-09-15 03:47] man-git007 commented on #458
@titungdup Can we test this today in the stage server?
@SauravSilwal10 Move this issue to backlog

[2022-09-15 03:49] man-git007 commented on #420
@jenishshrestha lets fix the issue today

[2022-09-15 03:49] man-git007 commented on #420
@SauravSilwal10 move this issue to backlog

[2022-09-15 03:49] SauravSilwal10 commented on #377
@man-git007 Okay

[2022-09-15 04:35] SauravSilwal10 opened #490 "Bug : Core element is missing from sidebar of activity detail page"
Context
- Chrome 104.0.5112.101
- Desktop

Preconditions
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password:12345678
- for created activity

Steps
- click the core element

Actual Result

https://user-images.githubusercontent.com/78422663/190315426-b3dff54f-d059-4def-b211-0ce3369240df.mp4

Excepted Result
-  core element  should be present

[2022-09-15 04:39] SauravSilwal10 commented on #177
Please refer to this link  #489
cc @sriza

[2022-09-15 04:39] #177 closed

[2022-09-15 04:41] SauravSilwal10 commented on #212
please refer to this issue #489

[2022-09-15 04:41] #212 closed

[2022-09-15 04:42] SauravSilwal10 commented on #190
Please refer to this issue

cc @jenishshrestha