[2022-09-15 04:42] #190 closed

[2022-09-15 04:49] nirvanalama commented on #486
@praweshsth @Rohini-IATI @DaveEade49 @k8hughes

https://user-images.githubusercontent.com/57661914/190316983-55312ea9-ad84-430b-92e3-025382331c5d.mov

[2022-09-15 04:51] SauravSilwal10 commented on #397
Please refer to this issue #489.

[2022-09-15 04:51] #397 closed

[2022-09-15 05:25] Man0zZ commented on #138
@man-git007  don't know, have to see it.

[2022-09-15 07:34] Sanilblank commented on #418
For this to work, horizon and redis need to be setup.
Install redis on your system and then run composer update.

QUEUE_DRIVER=redis
QUEUE_CONNECTION=redis
REDIS_CLIENT=predis

Set these in .env file.
Also, if validator API key and such required for publishing activities have not been set in .env file then need to set them.

[2022-09-15 08:46] SauravSilwal10 opened #492 "Bug:@budget-not-provided attribute is missing from setting."
Context
- Chrome 104.0.5112.101
- Desktop

Preconditions
- https://stage.iatipublisher.yipl.com.np/
- Username: Ram
- Password:12345678

Steps
- Go to setting

Actual Result
![Screenshot from 2022-09-15 14-30-34](https://user-images.githubusercontent.com/78422663/190358735-426cdf5e-0266-4411-8963-91a881c60f95.png)
Excepted Result
- @budget-not-provided attribute should be present instead of @linke

[2022-09-15 08:55] sriza commented on #424
Please follow the commands in the following gist to configure supervisor and redis locally to work with this branch:
https://gist.github.com/ankurk91/98ce4444e7d72b8d50bd9127ad9c888f

[2022-09-15 09:37] nirvanalama commented on #486
@Rohini-IATI @k8hughes @praweshsth @DaveEade49

There was little space on the right side so we had to move the Help text to the left.

https://user-images.githubusercontent.com/57661914/190370406-d1d9c2dd-7881-4179-932c-7731095724f7.mov

[2022-09-15 10:54] titungdup commented on #458
@man-git007 All issues are fixed except for Issue 2 which needs discussion.

[2022-09-15 14:08] #377 closed

[2022-09-16 04:24] man-git007 commented on #470
@jenishshrestha Did you get time to look into this? If not lets assign to @titungdup

[2022-09-16 04:30] man-git007 commented on #490
@titungdup Can you please look into this.

[2022-09-16 04:31] man-git007 commented on #364
@titungdup Let disable the button upon click. This might solve the issue.

[2022-09-16 04:44] man-git007 commented on #316
@titungdup Can you look into this?

[2022-09-16 05:15] Sanilblank commented on #483
Regarding issue no 1. The process seems somewhat not smooth because the page is reloaded after completion of publishing and publishing. This had to be done as making the publish, republish, unpublish buttons dynamic on the activities list page seemed difficult without reloading the page. For maintaining consistency in the code, similar process was applied for activity detail page. If needed we can

[2022-09-16 05:37] Sanilblank commented on #488
This issue has been worked on by Shreeja

[2022-09-16 05:51] man-git007 commented on #458
@SauravSilwal10 Let's move issue 2 to backlog and test all the other issues. If ok we will close this issue and the issue2 will be moved to the backlog

cc @praweshsth @titungdup

[2022-09-16 05:51] man-git007 commented on #458
@SauravSilwal10 Let's move issue 2 to backlog and test all the other issues. If ok we will close this issue and the issue2 will be moved to the backlog

cc @praweshsth @titungdup

[2022-09-16 07:28] SauravSilwal10 commented on #492
Issue Fixed

[2022-09-16 07:28] #492 closed

[2022-09-16 07:29] SauravSilwal10 commented on #488
Issue Fixed

[2022-09-16 07:29] #488 closed

[2022-09-16 08:03] SauravSilwal10 commented on #458
For issue 2 please refer to issue #489

[2022-09-16 08:03] #458 closed

[2022-09-16 11:27] k8hughes commented on #486
As I didn't join the discussion on this one I don't feel able to comment @Rohini-IATI are you happy?

[2022-09-16 11:43] DaveEade49 commented on #486
Moving the help box to the left makes sense due to space - so that is fine with me.

Have we also checked how it renders on a tablet?

Dave

[2022-09-16 14:35] Rohini-IATI commented on #486
Yes this is great, please implement

[2022-09-19 06:20] praweshsth opened #507 "Show Help text and hover text"
Show help text and hover text in add/edit form and detail pages of activity and organisation files.

Design link: https://github.com/younginnovations/iatipublisher/issues/486#issuecomment-1247847188

[2022-09-19 06:27] praweshsth opened #508 "Code refactor"
Refactor codes as much as possible

**TASKS**

- [x] Update env
- [x] Remove superadmin create command
- [x] Update migration files
- [x] Mange routes
- [x] Codes manage

[2022-09-19 06:28] praweshsth commented on #508
@sriza @Sanilblank

[2022-09-20 07:45] jenishshrestha commented on #420
@man-git007 @SauravSilwal10
These issues does not exist. I think these have already been resolved.

[2022-09-20 07:47] #72 closed

[2022-09-20 09:43] man-git007 commented on #470
@titungdup We have merged this to the `main` branch, right? If we have merged it lets close this issue.

[2022-09-20 09:51] titungdup commented on #470
@man-git007 okay.

[2022-09-20 09:51] #470 closed

[2022-09-20 12:10] jenishshrestha commented on #364
This has been fixed in branch [code-and-bug-fixes](https://github.com/younginnovations/iatipublisher/tree/code-and-bug-fixes).
Submit button has been disable after a single click and the form will only be submitted once.

[2022-09-21 07:31] praweshsth opened #510 "Feedback on bulk publish"
- [x] 1. When multiple activity files are selected, remove ‘Delete Selected’ button
- [x] 2. When an activity is just created and validated using IATI Validator so in the error message in the activity detail page:
       - there is a critical error ‘ Element 'iati-activity', attribute 'humanitarian': 'yes' is not a valid value of the atomic type 'xs:boolean’.’ The humanitarian value in the XML not

[2022-09-21 07:42] man-git007 commented on #510
@titungdup Can you look into Issue 1,3
@Sanilblank Can you look into Issues 2,4,5,6

cc @praweshsth @AbiChitrakar @SauravSilwal10

[2022-09-21 07:47] praweshsth opened #511 "Feedback from Prawesh"
- [x] 1. In settings, ‘Budget Not Provided’ need not be mandatory and doesn’t contribute in completion of settings. Now, when the field is empty, the system tells users that settings is not complete.
- [x] 2. For Budget Not Provided, put the hover over text ‘A code indicating the reason why this activity does not contain any iati-activity/budget elements. The attribute MUST only be used when no bu

[2022-09-21 07:49] praweshsth commented on #511
1,2 - @sriza
3 - @jenishshrestha
4 - @jenishshrestha
5 - @jenishshrestha
6 - @jenishshrestha

[2022-09-21 09:26] jenishshrestha commented on #487
Fixed this issue in branch [code-and-bug-fixes](https://github.com/younginnovations/iatipublisher/compare/code-and-bug-fixes)

[2022-09-22 04:16] jenishshrestha commented on #490
This is has been fixed in branch [code-and-bug-fixes](https://github.com/younginnovations/iatipublisher/compare/code-and-bug-fixes).

[2022-09-22 05:11] man-git007 commented on #420
@SauravSilwal10 If all these issue have been resolved, lets close this issue

[2022-09-22 06:52] praweshsth commented on #511
@Sanilblank take a look at these too.

[2022-09-22 08:18] man-git007 commented on #487
Seems OK

[2022-09-22 09:30] #490 closed

[2022-09-22 09:30] #487 closed

[2022-09-22 10:10] jenishshrestha commented on #510
Completed and pushed in branch 418-bulk-publishing.

[2022-09-22 11:37] man-git007 commented on #507
@titungdup Please go through the tasks mentioned above

cc @jenishshrestha @sriza @SauravSilwal10 @AbiChitrakar @Sanilblank

[2022-09-23 03:41] man-git007 commented on #510
@SauravSilwal10 Please verify this.

[2022-09-23 03:42] man-git007 commented on #418
@SauravSilwal10 Could you please verify this in the staging server?

[2022-09-23 03:44] man-git007 commented on #483
@SauravSilwal10 What is the status of this issue?

cc @Sanilblank

[2022-09-23 03:45] man-git007 commented on #447
@Sanilblank What is the status of this issue?

cc @SauravSilwal10 @sriza

[2022-09-23 03:48] man-git007 commented on #371
This issue is related to the #507 issue. We will close this issue after #507 is resolved

cc @jenishshrestha @praweshsth @SauravSilwal10

[2022-09-23 04:14] praweshsth commented on #510
@Sanilblank for issue no. 4, let's put a notification that the user can refresh the activity listing page or go to listing page to see the changes after all the activities have been published.

[2022-09-23 05:57] SauravSilwal10 opened #522 "Bug : Bulk Publishing issue"
Context
- Chrome :  104.0.5112.101
- Desktop

Preconditons
- https://stage.iatipublisher.yipl.com.np/
- Username:Ram
- Password:12345678

Steps
- Create a activity
- Fill all the core element
- click published selected in activity listing page

Actual Result
- "Error has occurred while validating activities" a notification is displayed.

Excepted Result
- Bulk Publishing process should conduct smo

[2022-09-23 06:25] Man0zZ opened #523 "sign up page responsive"
- [x]  Register page responsiveness

[2022-09-23 06:39] Sanilblank commented on #511
@praweshsth Regarding Issue 4
As of now, the system has no way of changing the default values of activity so according to your suggestion, if a user creates activity without completing the settings default values, the user will never be able to publish the activity.
Maybe it would be better if we actually did not let them create an activity unless the settings default values are completed.

[2022-09-23 06:46] jenishshrestha commented on #511
Issue 3 and 7 completed and pushed.
Issue 5 was completed in code-and-bug-fixes branch.

[2022-09-23 08:26] Sanilblank commented on #511
@praweshsth Regarding issues
Issues 1,2,10 have been solved
Issue 8:
The current API of the iati validator responds with 1 in critical issues when there are one or more critical issues present so the count is being shown as 1 in our UI. But according to the document shared by them stating the upgrade to their validator system attached below, starting from 1st October, the critical errors will be r

[2022-09-23 08:31] Sanilblank commented on #510
@jenishshrestha

[2022-09-23 08:40] SauravSilwal10 commented on #522
Issue fixed

[2022-09-23 08:40] #522 closed

[2022-09-23 09:07] SauravSilwal10 opened #526 "Bug : User experience is poor while publishing activities and bulk publications"
Context
- Chrome : 104.0.5112.101
- Desktop

Preconditions
- https://stage.iatipublisher.yipl.com.np/
- Username:Ram
- Password:12345678

Actual  Result

https://user-images.githubusercontent.com/78422663/191926828-a49957d7-c65d-459e-b4d3-2bf9bcbfeb4d.mp4

https://user-images.githubusercontent.com/78422663/191926856-b6041fb7-005c-4c57-96a2-957ac015c8f2.mp4

Expected Result
- The background button

[2022-09-23 10:26] Man0zZ commented on #523
- [ ] Register page responsiveness

[2022-09-23 10:26] Man0zZ opened #527 "reset page responsive"
- [x] Reset page responsiveness

[2022-09-23 10:27] Man0zZ commented on #527
- [ ] Reset page responsiveness

[2022-09-23 12:24] #511 closed

[2022-09-26 06:23] Sanilblank opened #533 "Override activity default values"
TASKS

- [ ] Create a page for overriding default values for activities
- [ ] Save the new values in database
- [ ] Update previously published condition to show only if activity is published and in draft state

[2022-09-26 06:41] Sanilblank commented on #447
This issue has been resolved

[2022-09-26 06:41] #447 closed

[2022-09-26 07:30] Man0zZ opened #535 "web optimization"

[2022-09-26 07:51] Sanilblank commented on #533
Design link:
https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=34%3A327&node-id=10814%3A177989&viewport=-7628%2C-1904%2C0.19&scaling=min-zoom&starting-point-node-id=10814%3A177989&show-proto-sidebar=1

@jenishshrestha

[2022-09-26 09:22] Man0zZ opened #536 "activity header responsive"
- [x] activity header responsive

[2022-09-27 03:33] titungdup opened #538 "UI fixes"
- [x] Make form error message text size smaller
- [x] Remove mandatory help hover text
- [x] Make required field (*) sign bigger

[2022-09-27 03:33] Sanilblank commented on #533
Please have a look at the design @praweshsth @man-git007

[2022-09-27 07:54] jenishshrestha commented on #483
Issue 4 has been solved in branch 533-override-activity-default-values.
Same issue #526

[2022-09-27 07:55] jenishshrestha commented on #526
Solved in branch 533-override-activity-default-values.

[2022-09-27 09:43] man-git007 commented on #510
@Sanilblank Can we close this issue?

cc @praweshsth @SauravSilwal10

[2022-09-27 09:47] man-git007 commented on #527
@Man0zZ Can we close this issue?

[2022-09-27 09:47] man-git007 commented on #523
@Man0zZ can we close this issue?

[2022-09-27 09:52] man-git007 commented on #446
@pravin-yipl What is the status of this issue?If this has been done and merged in `main` branch then lets close this issue

[2022-09-27 09:56] pravin-yipl commented on #446
Yes. It's done

[2022-09-27 09:56] #446 closed

[2022-09-28 03:18] Man0zZ commented on #523
@man-git007 yes

[2022-09-28 03:18] Man0zZ commented on #527
@man-git007 yes

[2022-09-28 03:32] AbiChitrakar opened #544 "Checking Hover and Help section in different labels ."
Context
- Version 105.0.5195.125 (Official Build) (64-bit)
- Desktop

Preconditions
- https://stage.iatipublisher.yipl.com.np/
- Username:abuie
- Password:aaaaaaaa

Actual  Result
- [ ] **Reporting Organization** Page is leading to 404 Not Found. So can not check the sub-element and attributes present in it.

- [x]  Under **activity-status**, we can not  hover to view texts and Help is also missin

[2022-09-28 03:56] Man0zZ opened #546 "setting page responsive"
- [x] setting page responsive

[2022-09-28 05:18] Man0zZ opened #547 "activity data responsive"
- [x] activity data page responsive

[2022-09-28 10:01] Sanilblank commented on #544
@AbiChitrakar Regarding the issues

1. Under country-budget-items ,under the vocabulary attribute the Help field is missing.
This field does not have help section in the docs

2. Regaring the vocabulary-uri fields the field appears only when user selects 99 or 98 from vocabulary dropdown
3. The amount field is required for us to create the XML data tho it is not actually considered an attribute or

[2022-09-28 10:29] SauravSilwal10 opened #549 "Bug :"
Context
- Desktop
- Chrome : 104.0.5112.101

Preconditions
- iatipublisher-dev.yipl.com.np
- Username: admin1234
- Password: 12345678

- [x] **Issue 1 : iati-identifier cancel button is not working**

Actual Result

https://user-images.githubusercontent.com/78422663/192754923-a2f3d3db-ecff-451c-b37d-842af00a3e4b.mp4

Excepted Result
- Should work properly

- [x] **Issue 2 : No Url validation for d

[2022-09-29 03:27] Man0zZ opened #553 "organisation data responsive"
- [x] organisation data page responsive

[2022-09-29 06:21] SauravSilwal10 opened #554 "Issue Regrading import activity"
Context
- Desktop
- Chrome

Preconditions
- https://iatipublisher-dev.yipl.com.np/
- Username:admin123
- Password: password

- [x] **Issue 1 : No validation for XML file**
Steps
- Upload unrelated XML file

Actual Result
https://user-images.githubusercontent.com/78422663/192940199-2771688e-3950-4ad8-86e5-55274f2ff811.mp4

Expected Result
- The XML file should be properly validated.

- [x] **Issue

[2022-09-29 07:50] #544 closed

[2022-09-29 09:25] SauravSilwal10 opened #562 "500 error while importing the activity"
Context
- Chrome:104.0.5112.101
- Desktop

Preconditions
- https://iatipublisher-dev.yipl.com.np/
- Username:admin123
- Password:password

Actual Result
https://user-images.githubusercontent.com/78422663/192994025-a2afc633-56a6-4164-befe-38923ea1b8b1.mp4

Execpted Result
- Activity should be import smoothly

[2022-09-29 11:10] Man0zZ opened #563 "UI improvements"
- [ ] hamburger menu overlay
- [ ] form spacing

[2022-09-29 11:14] SauravSilwal10 opened #564 "Bug: UI BreakDown"
- [ ] **Issue 1 : Add more button break down in contact info, planned disbursement, result, location,document-link,country-budget-items**
Actual Result
![Screenshot from 2022-09-29 16-55-29](https://user-images.githubusercontent.com/78422663/193016573-4893c9b7-17d7-46b5-ab0a-05ea4c912b02.png)
![Screenshot from 2022-09-29 16-55-10](https://user-images.githubusercontent.com/78422663/193016599-e172c2

[2022-09-29 11:17] #1 closed

[2022-09-29 11:17] #25 closed

[2022-09-29 11:17] #26 closed

[2022-09-29 11:39] AbiChitrakar opened #565 "Checking Hover and Help section in different labels (remaining of previosuly closed) ."
Context
- Version 105.0.5195.125 (Official Build) (64-bit)
- Desktop

Preconditions
- https://iatipublisher-dev.yipl.com.np/
- Username:admin
- Password: password

Actual Results

- [x] Under **indicator**  sub-element, the ? Hover and  Help is missing.
![image](https://user-images.githubusercontent.com/72198302/192933803-b9eac144-1293-47fe-a7b1-fe0f7b28dfd5.png)

- [x] Under **indicator**  sub-el

[2022-09-30 05:57] AbiChitrakar opened #568 "While adding activity manually ,there is still @xml: lang in the very beginning."
### Context ###
- Desktop
- Version 105.0.5195.125 (Official Build) (64-bit)

### Pre-condition ###
- The site is up and running.
- Valid user can login using their valid credentials.

### Steps ###
- Login using valid credentials.
- Click on + ADD ACTIVITY and click add activity manually.
- Notice the **@xml: lang** attribute and the **Select @xml: lang** in the placeholder .

### Actual result #

[2022-09-30 10:28] #484 closed

[2022-10-10 05:16] man-git007 commented on #523
This issue has been completed and merged. So, it has been closed manually

[2022-10-10 05:16] #523 closed

[2022-10-10 05:17] man-git007 commented on #526
@jenishshrestha Please look into this issue today.

cc @SauravSilwal10

[2022-10-10 06:31] Man0zZ opened #589 "hamburger menu fix"
- [x] hamburger menu layout changed

[2022-10-10 07:54] SauravSilwal10 opened #590 "Bug : More UI Issue"
- [x] **Issue 1: Complete status is not working properly whenever the user uses the default value.**
Actual Result

https://user-images.githubusercontent.com/78422663/194820636-51318483-0c84-44c3-a886-7b916acadf6b.mp4

Expected Result
- complete status should work properly.

- [x] **Issue 2 : planned-disbursement (Receiver Activity ID ) value is not displaying activity detail page**
Actual Result

[2022-10-10 08:44] SauravSilwal10 opened #591 "Bug: Transaction and Result Issue"
Context
- Chrome
- Desktop

Preconditions
- https://iatipublisher-dev.yipl.com.np/
- Username: admin123
- password:12345678

Steps
- Fill mandatory element of Transaction and Result
- click save
- Delete Transaction and Result

Actual Result
- double tick and element mark as completed in side bar

Excepted Result
- double tick should be removed from side bar

https://user-images.githubusercontent.

[2022-10-11 04:00] #564 closed

[2022-10-11 04:02] jenishshrestha opened #595 "Refresh Notification after bulk publishing"
- [ ] Display page refresh notification if bulk publishing is completed

[2022-10-11 06:14] SauravSilwal10 opened #598 "Element Testing feedback from DI"
- [ ] **Feedback 1 : Sector Error message**

Actual Result
![Screenshot from 2022-10-11 11-47-42](https://user-images.githubusercontent.com/78422663/195008905-50bf1564-2905-4503-89d9-5f57b37809ec.png)
Excepted Result
- error message should be "should presume 100% percentage for each"

- [x] **Feedback 2 : Contact-info telephone and  website validation**
Actual Result

- Strict validation

Excepted

[2022-10-11 08:25] SauravSilwal10 opened #601 "Bug : Proxy Issue"
Context
- Chrome
- Desktop

Preconditions
1. https://iatipublisher-dev.yipl.com.np/
2. Username: superadmin
3. password: password

- [x] **Issue 1 : Proxy login is unsuccessful**
Actual Result
https://user-images.githubusercontent.com/78422663/195036850-ec3d0296-f7bd-439a-b63b-139b2e888de9.mp4
Excepted Result
-  - Should be successful or should display some error message

- [x] **Issue 2 : Incorre

[2022-10-11 09:14] AbiChitrakar opened #602 "Problems in default-aid type, related activity and legacy data elements as the page are not loading."
### Context ###
- Desktop
- Version 106.0.5249.61 (Official Build) (64-bit)

### Pre-condition ###
- The site is up and running.
- Valid user can login using their valid credentials.

### Steps ###
- Click on default-aid type element.
- Click on related activity element.
- Click on legacy-data element..

### Actual result ###
![image](https://user-images.githubusercontent.com/72198302/195047881-8a

[2022-10-11 09:25] AbiChitrakar opened #604 "Remove Indentification part from ORGANIZATION DATA."
### Context ###
- Desktop
- Version 106.0.5249.61 (Official Build) (64-bit)

### Pre-condition ###
- The site is up and running.
- Valid user can login using their valid credentials.

### Steps ###
- Go to **Organization Data** .
- Notice the Identification and IDENTIFICATION.

### Actual result ###
![image](https://user-images.githubusercontent.com/72198302/195051709-01004b57-e351-48a0-bbc6-41b9e

[2022-10-11 09:56] AbiChitrakar opened #606 "Change the word core to all in, "Fill core elements to get 100% score" under ORGANIZATION DATA."
### Context ###
- Desktop
- Version 106.0.5249.61 (Official Build) (64-bit)

### Pre-condition ###
- The site is up and running.
- Valid user can login using their valid credentials.

### Steps ###
- Login and go to **Organisation Data**.
- Under Publishing Progress ,notice the text **Fill core elements to get 100% score**

### Actual result ###
![image](https://user-images.githubusercontent.com/7

[2022-10-11 11:02] AbiChitrakar opened #607 "Missing Mandatory Icon in Filters under Organzation Data."
### Context ###
- Desktop
- Version 106.0.5249.61 (Official Build) (64-bit)

### Pre-condition ###
- The site is up and running.
- Valid user can login using their valid credentials.

### Steps ###
- Go to Organisation Data.
- See the available options in filters.

### Actual result ###
![Screenshot from 2022-10-11 15-38-35](https://user-images.githubusercontent.com/72198302/195073385-c81b7e1d-99f

[2022-10-11 11:41] Man0zZ opened #608 "#590 UI issue fixes"
#590 Fixes
- [x] Issue 3: Result and Transactions Toast Message displays upward rather than the right side
- [x] Issue 6: Recipient-region font size
- [x] Issue 7: A rotating circle appears outside the search bar
- [x] issue 9: UI breakdown in Location
- [x] Issue 13: document-link(Recipient Country) font is bold(organization)
- [x] Issue 14: Whenever user wants to republish the element, button si

[2022-10-12 05:16] AbiChitrakar opened #610 "Under participating-organization element, ref is present instead of reference ."
### Context ###
- Desktop
- Version 106.0.5249.61 (Official Build) (64-bit)

### Pre-condition ###
- The site is up and running.
- Valid user can login using their valid credentials.

### Steps ###
- Go to articipating organisation element .
- Notice the ref attribute present

### Actual result ###
![image](https://user-images.githubusercontent.com/72198302/195255931-e5710d24-e60a-4dfc-8d46-43090c

[2022-10-12 05:20] AbiChitrakar commented on #610
Similarly under other identifier element ,there is ref keyword for the attribute instead of reference..
![image](https://user-images.githubusercontent.com/72198302/195256580-9d1f7a9e-eadd-4293-8006-1bcf2c82edc8.png)

[2022-10-12 05:24] AbiChitrakar commented on #610
Smilarly under other identifier element under the owner org sub-element there is ref instead of reference.
![image](https://user-images.githubusercontent.com/72198302/195257089-92df6b7f-3e75-4e4e-aabb-1efc18f9242b.png)

[2022-10-12 06:00] AbiChitrakar opened #611 "There are two ? hovers in Telephone,in email and in website subelements under the contact-info element."
### Context ###
- Desktop
- Version 106.0.5249.61 (Official Build) (64-bit)

### Pre-condition ###
- The site is up and running.
- Valid user can login using their valid credentials.

### Steps ###
-  Go to contact-info element.
- Notice there are teo different hovers  in Telephone,in email and in website  subelements.

### Actual result ###
![image](https://user-images.githubusercontent.com/72198

[2022-10-12 06:09] AbiChitrakar opened #612 "Under recipient-region element ,under the code and langugage attributes the placeholders are missing the text."
### Context ###
- Desktop
- Version 106.0.5249.61 (Official Build) (64-bit)

### Pre-condition ###
- The site is up and running.
- Valid user can login using their valid credentials.

### Steps ###
- Go to recipient-region element.
- Notice the missing texts in the placeholders.

### Actual result ###
![image](https://user-images.githubusercontent.com/72198302/195263012-b21b263b-eab2-473c-8ca2-295

[2022-10-12 07:41] AbiChitrakar commented on #612
- [ ] Similarly under location element ,under location-id sub element ,the code attribute is missing the text in the placeholder.
![image](https://user-images.githubusercontent.com/72198302/195280636-9233327c-65ee-447d-bf9e-3f0fe0d4e6d2.png)

- [ ] Similarly under location element ,under Administrative  sub element ,the level attribute is missing the text in the placeholder.
![image](https://user-

[2022-10-12 11:49] SauravSilwal10 opened #618 "Bug: Reporting-org and document-link issue"
Context
- Desktop
- Chrome 104.0.5112.101

Preconditions
- https://iatipublisher-dev.yipl.com.np
- Username: admin123
- password: 12345678

- [x] **Issue 1: Being core element reporting org does not contribute to the progress bar of the activity detail  page**

Steps
- Fill in all the mandatory elements of reporting org

Actual Result
- Doesn't get a double tick on the sidebar
- the progress bar d

[2022-10-13 04:20] SauravSilwal10 commented on #601
Issue fixed

[2022-10-13 04:20] #601 closed

[2022-10-13 05:27] SauravSilwal10 opened #624 "Other testing feedback from DI"
- [x] **Feedback 1: Tooltip " What is  activity "**

Actual Result
![Screenshot from 2022-10-13 10-30-07](https://user-images.githubusercontent.com/78422663/195503751-ff87e18b-c2f0-48c4-b633-5eba10fd3020.png)
Expected Result
- Text should read **"What is an activity?"**

- [x] **Feedback 2: Error message in activity date**

Actual Result
![Screenshot from 2022-10-13 10-34-44](https://user-images.g

[2022-10-13 05:45] AbiChitrakar opened #625 "Hover and help text updates"
This issue focuses on the help and hover text of activity and organization elements.
**The issues are listed below:**
- [x] Fix the help text in activity edit page
- [x] Fix the hover text in activity edit page
- [x] Fix the help text in activity detail page
- [x] Fix the hover text in activity edit page

### Context ###
- Desktop
- Version 106.0.5249.61 (Official Build) (64-bit)

### Pre-conditio

[2022-10-13 07:33] SauravSilwal10 opened #628 "Aws access issue"
Context
- Desktop
- Chrome 106.0.5249.119

Preconditions
- https://iatipublisher-dev.yipl.com.np/
- username: admin123
- password:12345678

Steps
1. fill the element and publish the activity
2. after go to site https://staging.iatiregistry.org/dataset/pub_1254775164636-activities and click download

Actual Result
- An error message "AccessDenied" is displayed

Excepted Result
- a XML file should d

[2022-10-13 07:56] pravin-yipl commented on #628
Resolved: AWS Bucket permission and access policy made public.

[2022-10-13 07:56] #628 closed

[2022-10-13 11:13] #533 closed

[2022-10-14 04:09] #354 closed

[2022-10-14 04:27] AbiChitrakar commented on #625
- [ ] Under document-link element ,under language sub-element Help is not required and the Hover text is not as per  the docs .

[2022-10-14 05:09] man-git007 commented on #510
@Sanilblank Lets close this issue.

cc @praweshsth @SauravSilwal10

[2022-10-14 05:16] man-git007 commented on #526
@SauravSilwal10 What is the status of this issue? If hasn't been done @titungdup Can you look into this?

cc @jenishshrestha @titungdup

[2022-10-14 05:16] man-git007 commented on #527
This issue has been manually closed

[2022-10-14 05:16] #527 closed

[2022-10-14 05:17] man-git007 commented on #535
@Man0zZ What is the status of this issue?

[2022-10-14 05:17] #510 closed

[2022-10-14 05:17] man-git007 commented on #536
@Man0zZ What is the status of this issue?

[2022-10-14 05:18] man-git007 commented on #538
@titungdup Has this issue been deployed to production? If yes lets close this issue

cc @SauravSilwal10

[2022-10-14 05:18] man-git007 commented on #546
@Man0zZ What is the status of this issue?

[2022-10-14 05:18] man-git007 commented on #547
@Man0zZ What is the status of this issue?

[2022-10-14 05:19] man-git007 commented on #549
@sriza Can we finish this issue by today?

[2022-10-14 05:19] man-git007 commented on #553
@Man0zZ What is the status of this issue?

[2022-10-14 05:20] man-git007 commented on #554
@Sanilblank Lets look into this issue today.

[2022-10-14 05:20] man-git007 commented on #562
@Sanilblank What is the status of this issue?

cc @SauravSilwal10

[2022-10-14 05:21] man-git007 commented on #563
@Man0zZ What is the status of this issue?

[2022-10-14 05:22] man-git007 commented on #565
@sriza This issue has been deployed to the production server. Please update the issue and close it. If any other issues remain let's create a new issue for that.

cc @AbiChitrakar

[2022-10-14 05:22] man-git007 commented on #568
@Sanilblank @sriza What is the status of this issue?

[2022-10-14 05:22] man-git007 commented on #589
@Man0zZ What is the status of this issue?

[2022-10-14 05:23] man-git007 commented on #590
@Man0zZ @sriza Can we finish this issue by today?

[2022-10-14 05:24] man-git007 commented on #591
@sriza Did you get time to look into this issue?

[2022-10-14 05:24] man-git007 commented on #595
@jenishshrestha What is the status of this issue. If done lets rebase the branch and test in development branch

cc @SauravSilwal10

[2022-10-14 05:24] man-git007 commented on #598
@sriza What is the status of this issue?

[2022-10-14 05:25] man-git007 commented on #602
@sriza Can you look into this?

cc @AbiChitrakar

[2022-10-14 05:26] man-git007 commented on #604
@sriza Can you look into this?

[2022-10-14 05:26] man-git007 commented on #607
@sriza Can you look into this?

[2022-10-14 05:27] man-git007 commented on #608
@Man0zZ What is the status of this issue?

[2022-10-14 05:27] titungdup commented on #538
@man-git007 Yes, it is deployed to production. Closing this issue.

[2022-10-14 05:27] #538 closed

[2022-10-14 05:27] man-git007 commented on #610
@sriza Have you look into this?

[2022-10-14 05:31] titungdup commented on #526
@man-git007 This issue is fixed and deployed. Closing it.

[2022-10-14 05:31] #526 closed

[2022-10-14 05:32] sriza commented on #549
@man-git007 The bugs listed on this issue are fixed but require testing

[2022-10-14 05:42] Sanilblank commented on #562
This issue has been resolved @man-git007

[2022-10-14 05:42] #562 closed

[2022-10-14 05:43] Sanilblank commented on #568
This issue has been resolved @man-git007

[2022-10-14 05:43] #568 closed

[2022-10-14 05:45] Man0zZ commented on #535
@man-git007 let's halt this for now.

[2022-10-14 05:46] sriza commented on #604
@man-git007 This has already been fixed and is now merged to main branch.

[2022-10-14 05:46] #604 closed

[2022-10-14 05:49] Man0zZ commented on #536
@man-git007 we can close this.

[2022-10-14 05:49] Man0zZ commented on #546
@man-git007 we can close this.

[2022-10-14 05:51] Man0zZ commented on #547
@man-git007 we can close this.

[2022-10-14 05:51] Man0zZ commented on #553
@man-git007 we can close this.

[2022-10-14 05:51] Man0zZ commented on #563
@man-git007 we can close this.

[2022-10-14 05:52] #536 closed

[2022-10-14 05:52] #546 closed

[2022-10-14 05:52] #547 closed

[2022-10-14 05:53] #553 closed

[2022-10-14 05:56] sriza commented on #607
@man-git007 This issue has already been solved and merged to main branch.

[2022-10-14 05:56] #607 closed

[2022-10-14 05:57] sriza commented on #591
@man-git007 This issue has already been solved but requires testing.

[2022-10-14 05:59] man-git007 commented on #624
@SauravSilwal10 I will look into this

[2022-10-14 05:59] man-git007 commented on #618
@SauravSilwal10 I will look into this

[2022-10-14 06:00] sriza commented on #624
@man-git007 These issues are solved but yet to be tested.

[2022-10-14 06:13] Man0zZ commented on #589
@man-git007 let's close this after merged

[2022-10-14 06:14] Man0zZ commented on #608
@man-git007 let's close this after merged

[2022-10-14 08:02] SauravSilwal10 commented on #624
Issue fixed

cc @sriza @man-git007

[2022-10-14 08:02] #624 closed

[2022-10-14 08:15] SauravSilwal10 commented on #591
Issue fixed
cc @man-git007 @sriza

[2022-10-14 08:15] #591 closed

[2022-10-14 08:31] man-git007 commented on #212
@praweshsth Need to discuss about this rule.

[2022-10-14 08:58] AbiChitrakar commented on #625
- [ ] Under conditions element ,under condition sub-element there is hover missing.

[2022-10-14 08:58] SauravSilwal10 opened #633 "Bug : Complete status issue with result"
Context
- Desktop
- Chrome 106.0.5249.119

Preconditions
- https://iatipublisher-dev.yipl.com.np
- username: admin1234
- password: 12345678

Steps
- fill the mandatory  of elements of result(indicator,period).

Actual Result
- incompleted status is marked at result in activity detail page.

Execpted Result
- completed status should be marked at result in activity detail page

https://user-images.g

[2022-10-14 09:04] AbiChitrakar commented on #625
- [ ] Under result element ,under document-link sub-element ,the langugage sub-ub-element does not require Help but it's present there.

[2022-10-14 09:16] sriza commented on #602
@man-git007
This issue has been solved and merged to the main branch.

[2022-10-14 09:16] #602 closed

[2022-10-14 09:24] AbiChitrakar commented on #625
Under indicator sub-element  ,,under document-link sub-sub-element ,the langugage sub--sub-sub-element does not require Help but it's present there.

[2022-10-14 09:39] AbiChitrakar commented on #625
Under indicator sub-element , under document-link sub-sub--sub-element ,the langugage sub-sub-sub-sub-element is missing Help.

[2022-10-14 09:49] AbiChitrakar commented on #625
- [ ] Under period sub-sub element ,it is missing Hover and Help.
![image](https://user-images.githubusercontent.com/72198302/195817670-4ddd3e29-7220-431f-832e-e0e2a066147f.png)

[2022-10-14 09:54] AbiChitrakar commented on #625
- [ ] Under period sub-sub element ,the dimension sub-sub-sub-sub-element does not require Help.

[2022-10-14 09:58] AbiChitrakar commented on #625
- [ ] Under period sub-sub element ,the location sub-sub-sub-sub-element does not require Help.

[2022-10-14 10:05] AbiChitrakar commented on #625
- [ ]  Under period sub-sub element ,the dimension sub-sub-sub-sub-element does not require Help.

[2022-10-14 10:08] AbiChitrakar commented on #625
- [ ]  Under period sub-sub element ,the location sub-sub-sub-sub-element does not require Help.

[2022-10-14 11:11] SauravSilwal10 opened #635 "Issue need to be discuss( Feedback from DI)"
Discussion 1 : User cannot remove an element once it's added to an activity.
Discussion 2 : Make it clearer that the "Country" dropdown on the registration page filters the Registration Agency box.( Information below the value).

[2022-10-17 04:59] SauravSilwal10 opened #636 "Bug : In org detail default value is not working."
Context
- Desktop
- Chrome

Precondition
- https://iatipublisher-dev.yipl.com.np
- Username : admin1234
- Password : 12345678

Steps
- click  ORGANISATION DATA link
- fill one element without entering language or currency

Actual Result
-  default value is not working.

Excepted Result
- default value should work properly

https://user-images.githubusercontent.com/78422663/196092820-2716afc4-b526-

[2022-10-17 05:10] AbiChitrakar opened #637 "Under reporting-organisation element, there is reporting-org and also under secondary-reporter drop down there is True/False present."
### Context ###
- Desktop
- Version 106.0.5249.61 (Official Build) (64-bit)

### Pre-condition ###
- The site is up and running.
- Valid user can login using their valid credentials.

### Steps ###
- Go to Organisation Data.
- Go to reporting-organisation element.
- Notice the reporting-org present.
- Under secondary-reporter attribute,notice True and Fase in the dropddown.

### Actual result ###

[2022-10-17 05:24] AbiChitrakar commented on #637
- [ ] Under total-budget element ,under value sub-element there is value textbox ,where the placeholder is missing the text.
![image](https://user-images.githubusercontent.com/72198302/196095466-4ae82046-0a7b-492f-a0bf-0ef98a55f8fe.png)

[2022-10-17 05:28] AbiChitrakar commented on #637
- [ ] Under **total-budget** element ,under **value** sub-sub-element there is **value** textbox ,where the placeholder is missing the text.
![image](https://user-images.githubusercontent.com/72198302/196096059-eaa78d75-7d0f-47af-b581-dd6f209e5e89.png)

[2022-10-17 05:36] AbiChitrakar opened #638 "Should have been organisation but there is just org."
### Context ###
- Desktop
- Version 106.0.5249.61 (Official Build) (64-bit)

### Pre-condition ###
- The site is up and running.
- Valid user can login using their valid credentials.

### Steps ###
- Go to Organisation Data.
- Notice the org present in various elements.

### Actual result ###
![image](https://user-images.githubusercontent.com/72198302/196096625-351988c9-da60-47dc-8c2f-93b775bd06e2

[2022-10-17 05:39] AbiChitrakar commented on #638
![image](https://user-images.githubusercontent.com/72198302/196097295-795d05ec-107b-4376-9471-c4f5028bbf9f.png)
- [ ] There is just-org present under **recipient-organisation-budget** element .

[2022-10-17 05:43] AbiChitrakar commented on #638
- [ ] Under **recipient-organisation-budget** element ,under **Value** sub-element,it is missing the text in the placeholder.
recipient-organisation-budget
![image](https://user-images.githubusercontent.com/72198302/196098050-dcd54e96-a3fc-409c-b712-f0910e25b15c.png)

[2022-10-17 05:46] AbiChitrakar commented on #638
- [ ] Under **recipient-organisation-budget** element ,under **Value** sub-sub-element,it is missing the text in the placeholder.
![image](https://user-images.githubusercontent.com/72198302/196098429-3e4f475c-855f-4638-be7e-815371e45ed4.png)

[2022-10-17 05:52] AbiChitrakar commented on #638
- [ ] Under **recipient-region-budget** element,under **Value** sub-element,it is missing the text in the placeholder.
![image](https://user-images.githubusercontent.com/72198302/196099191-e4cfd6c7-501e-4a5f-895c-d11f6fde5636.png)

[2022-10-17 05:56] AbiChitrakar commented on #638
- [ ] Under **recipient-region-budget** element,under **Value** sub-sub-element,it is missing the text in the placeholder.
![image](https://user-images.githubusercontent.com/72198302/196099745-11ef4f16-3fab-4e42-a9db-a8e551c1a6a3.png)

[2022-10-17 06:01] AbiChitrakar commented on #638
- [ ] Under **recipient-country-budget** element,under **Value** sub-element,it is missing the text in the placeholder.
![image](https://user-images.githubusercontent.com/72198302/196100406-6087fdc7-d09a-4764-9f65-486372490cd1.png)

[2022-10-17 06:02] AbiChitrakar commented on #638
- [ ] Under **recipient-country-budget** element,under **Value** sub-sub-element,it is missing the text in the placeholder.
![image](https://user-images.githubusercontent.com/72198302/196100575-c792b42a-a116-4b58-ab22-7e99e0728844.png)

[2022-10-17 06:04] AbiChitrakar commented on #638
- [ ] Under **total-expenditure** element,under **Value** sub-element,it is missing the text in the placeholder.
![image](https://user-images.githubusercontent.com/72198302/196100777-7d4f7a64-ffe6-4e80-8462-993c703811b8.png)

[2022-10-17 06:05] AbiChitrakar commented on #638
- [ ] Under **total-expenditure** element,under **Value** sub-sub-element,it is missing the text in the placeholder.
![image](https://user-images.githubusercontent.com/72198302/196101030-9d7d2919-09c5-42aa-b6ba-2fdf36b67c37.png)

[2022-10-17 07:18] SauravSilwal10 commented on #549
Issue fixed
cc @sriza  @man-git007

[2022-10-17 07:18] #549 closed

[2022-10-17 07:31] SauravSilwal10 opened #639 "Issue with bulk publishing"
Context
- Desktop
- Chrome

Precondition
- https://iatipublisher-dev.yipl.com.np/
- Username: admin1234
- Password: 12345678

Steps
- try to publish different activities in bulk

Actual Result
- No response from the system

Expected Result
- Activities should be published in bulk.

https://user-images.githubusercontent.com/78422663/196115530-1a44e95b-99c8-4b8e-ba11-43653f221b9e.mp4

[2022-10-17 07:50] SauravSilwal10 opened #641 "Issue with password set"
Context
- Desktop
- Chrome

Precondition
- https://iatipublisher-dev.yipl.com.np/
- Username: admin1234
- Password: 12345678

Steps
- enter your user name and click the reset password>> enter your email address
- reset the password

Actual Result
- The password doesn't reset and an error message is displayed "These credentials do not match our records."

Excepted Result
- Password reset should wor

[2022-10-17 08:04] SauravSilwal10 commented on #641
Litle misunderstanding while testing.No issue
cc @man-git007

[2022-10-17 08:12] #508 closed

[2022-10-17 08:30] SauravSilwal10 opened #643 "Bug:Org detail issue"
Context
- Desktop
- Chrome

Precondition
- https://iatipublisher-dev.yipl.com.np/
- Username: admin1234
- Password: 12345678

Steps
- Click the ORGANISATION DATA link
- name,reporting-org,total-budget,recipient-org-budget,recipient-region-budget,recipient-country-budget,total-expenditure ,document-link >> click save and exit

Actual Result
- Server Error unwanted error message is displayed

Except

[2022-10-17 08:47] SauravSilwal10 opened #644 "Bug : Publishing issue"
Context
- Desktop
- Version 106.0.5249.61

Pre-condition
- https://iatipublisher-dev.yipl.com.np/
- Username: admin1234
- Password: 12345678

-  [x]  **Issue 1: Wrong information while validating the activity**

Actual Result
https://user-images.githubusercontent.com/78422663/196132287-cb064da9-e4d8-40e1-aa12-7071a411563e.mp4

Expected Result
- Information should be correct

-  [x]  **Issue 2: The

[2022-10-17 11:52] SauravSilwal10 opened #645 "Remaining Issue"
- [x] **Issue 1: No clickable link for a vocabulary-URI in the Result(reference)**

Actual Result
![Screenshot from 2022-10-17 16-33-46](https://user-images.githubusercontent.com/78422663/196169687-b5c4e742-28ad-4372-bde7-4a319ab1b7ec.png)

Expected Result
- There should be a clickable link for  vocabulary-URI

- [x] I**ssue 2: In the org detail, there is no gap between the toast message and the p

[2022-10-18 06:56] SauravSilwal10 commented on #590
@titungdup  is looking at issues 3 and 14. @man-git007  issues 8,10,11 are yet to solve. Issue 19 is under discussion
cc @praweshsth

[2022-10-18 11:16] Sanilblank commented on #643
@SauravSilwal10 This issue has been fixed. Please confirm and provide feedback.

[2022-10-18 11:17] Sanilblank commented on #639
@SauravSilwal10 This issue seems to not exist anymore. Please confirm and provide feedback.

[2022-10-18 11:19] Sanilblank commented on #636
This issue is fixed. Please confirm and provide feedback. @SauravSilwal10

[2022-10-18 11:31] Sanilblank commented on #639
In this case, the response is being sent from the backend as success: false, but it has not been handled in the frontend part. Could @titungdup look into this.

[2022-10-18 11:34] SauravSilwal10 commented on #639
@titungdup, please look into this issue.
![Screenshot from 2022-10-18 17-18-15](https://user-images.githubusercontent.com/78422663/196418704-67c8c530-86bc-4942-9a02-c51cd8abbcdf.png)

[2022-10-18 11:45] SauravSilwal10 commented on #636
Issue fixed
cc @Sanilblank @man-git007

[2022-10-18 11:45] #636 closed

[2022-10-19 04:18] titungdup commented on #645
@man-git007 Can you look at Issue no 3?

[2022-10-20 05:25] SauravSilwal10 commented on #633
Issue fixed

[2022-10-20 08:18] #420 closed

[2022-10-20 08:24] titungdup commented on #589
Merged to main. Closing it.

[2022-10-20 08:24] #589 closed

[2022-10-20 08:25] titungdup commented on #639
Issue resolved.

[2022-10-20 08:25] #639 closed

[2022-10-20 08:53] titungdup commented on #611
@AbiChitrakar Title and element both have their own help text, in this case, they happened to be similar ones so it is valid and they are all according to iati standards.

[2022-10-20 08:53] #611 closed

[2022-10-21 05:51] titungdup commented on #638
@AbiChitrakar Using "org" for now. The rest of the issues have been fixed.

[2022-10-21 05:51] #638 closed

[2022-10-21 05:52] titungdup commented on #606
Issue fixed and merged.

[2022-10-21 05:52] #606 closed

[2022-10-21 08:48] titungdup commented on #637
Issue resloved

[2022-10-21 08:48] #637 closed

[2022-10-21 08:51] titungdup commented on #610
Issue resolved.

[2022-10-21 09:31] #612 closed

[2022-10-21 14:56] #554 closed

[2022-10-28 09:04] DaveEade49 opened #686 "csv Template for Upload re-structure"
As part of the .csv upload a template is made available to download, this template has a number of fields in a structure as column headers.

Various IATI tools already allow for data to be downloaded into .csv files, it would make sense to replicate one of these download is structure, so that publishers can download existing data, amend / update and then upload with a minimum of fuss without going

[2022-10-31 03:38] man-git007 commented on #608
@Man0zZ Has this been merged into the main branch? If yes close this issue

[2022-10-31 03:41] man-git007 commented on #595
@jenishshrestha Has this been merged into the main branch?

cc @Sanilblank

[2022-10-31 03:45] Sanilblank commented on #595
@man-git007 PR has been created already
Please check and merge

[2022-10-31 04:28] SauravSilwal10 commented on #645
@man-git007 Please refer to issue no 3.

[2022-10-31 04:29] SauravSilwal10 commented on #644
@Sanilblank Please have a look at this.

[2022-10-31 04:36] SauravSilwal10 commented on #643
issue fixed

[2022-10-31 04:36] #643 closed

[2022-10-31 04:37] SauravSilwal10 commented on #598
@man-git007  Please have a look at this.

[2022-10-31 04:41] SauravSilwal10 commented on #483
For issue 1 please refer to backlog issue

[2022-10-31 04:41] #483 closed

[2022-10-31 05:11] SauravSilwal10 commented on #590
@man-git007 Please have a look at issue 10,11. @man-git007  Issue 8 has not been deployed on the dev server.
![Screenshot from 2022-10-31 10-55-04](https://user-images.githubusercontent.com/78422663/198935780-591a7fec-1eff-46c8-b61d-b163d60309ec.png)

[2022-10-31 05:12] SauravSilwal10 commented on #618
@man-git007 Issue 1 has not been deployed on the dev server.
![Screenshot from 2022-10-31 10-55-04](https://user-images.githubusercontent.com/78422663/198935916-bd9d94c9-4b89-4483-885d-a419c9a53820.png)

[2022-10-31 07:29] SauravSilwal10 opened #687 "Feedback from DI"
- [x] **Feedback 1 : While creating an activity, clicking "reporting-org" and then Save and Exit, takes a user to their Organisation  page, instead of back to the activity being edited.**

Actual Output

https://user-images.githubusercontent.com/78422663/198955316-741aa9dc-5979-49a9-b808-f50ab33afce5.mp4

Excepted Result

- Should be back to the activity

- [x] **Feedback 2 : The budget line value

[2022-10-31 07:48] SauravSilwal10 opened #688 "Error occurred when user wants to republish the org detail (org)"
Context
- Desktop
- Chrome

Preconditions
- https://iatipublisher-dev.yipl.com.np/
- username : admin1234
- password : 12345678

steps
- go to org >> publish the org detail
- edit org form

Actual Result
- get stuck on "Almost there!" page

Excepted Result
- process should continue smoothly

https://user-images.githubusercontent.com/78422663/198957437-1ef53ffe-0d84-48d9-9f0a-3d702071516e.mp4

[2022-10-31 11:54] AbiChitrakar opened #689 "Checking Hover and Help section in different labels"
- [x] Under **indicator**  sub-element, under **Language**  sub-sub-sub-sub-element, the Hover is missing.
![image](https://user-images.githubusercontent.com/72198302/192939384-f3beea6a-781b-4768-919a-09cbf0233cb2.png)

- [x] Under **document_link** element ,under the **Category** sub-element , the Help is not required as per the document.
![image](https://user-images.githubusercontent.com/7219830

[2022-10-31 11:54] #565 closed

[2022-11-01 04:17] titungdup commented on #645
Issue no 3. fixed in `import-fixes` branch. @SauravSilwal10 @man-git007

[2022-11-01 05:16] man-git007 commented on #371
@SauravSilwal10 Can we close this issue?

[2022-11-01 05:16] man-git007 commented on #393
@SauravSilwal10 Can we close this issue?

[2022-11-01 06:49] SauravSilwal10 commented on #590
@man-git007 issues 10, and 11 have not been solved yet . Please review it again.
![Uploading Screenshot from 2022-11-01 12-33-41.png…]()

[2022-11-01 08:18] #608 closed

[2022-11-01 11:02] #595 closed

[2022-11-01 11:07] man-git007 commented on #618
@SauravSilwal10 Issue 1 has been fixed and deployed in the development server. Please verify

[2022-11-01 11:07] man-git007 commented on #645
@SauravSilwal10 @titungdup Issue 3 has been fixed and deployed in the development server. Please verify

[2022-11-01 11:09] man-git007 commented on #687
@SauravSilwal10 Feedback 2 has been deployed to the development server. Please verify once.

cc @praweshsth

[2022-11-01 11:11] SauravSilwal10 commented on #393
issue fixed

[2022-11-01 11:11] #393 closed

[2022-11-01 12:02] SauravSilwal10 commented on #618
Issue 1 is fixed. Issue 2 has been transferred to the backlog issue since it pertains to future improvement.
cc @man-git007 @praweshsth

[2022-11-01 12:02] #618 closed

[2022-11-02 03:56] titungdup opened #696 "Implement static pages"
- [x] About page
- [x] Publishing Checklist
- [x] IATI Standard
- [x] Support
- [ ] Privacy Policy

[2022-11-02 04:38] titungdup opened #697 "UI feedback issues"
- [x] hover text overlapped by 'save and exit' label in `iati-identifier` page
- [x] Change: “Fill all elements to get 100% score” to “Complete all core elements to get 100% score” in `Publishing progress`
- [ ] ~~Proper hover text format - Done by Abi~~
- [x] Active menu highlight
- [x] Replace "more" with "additional" on all pages
- [ ] ~~On all element pages, please change “Save and Exit” with

[2022-11-02 04:49] SauravSilwal10 commented on #645
@man-git007 issue 3 has not been fixed yet. Please review it again.
![Screenshot from 2022-11-02 10-34-16](https://user-images.githubusercontent.com/78422663/199400901-7c6da306-7c18-4748-bfb6-8ffd462a212b.png)

[2022-11-02 05:12] SauravSilwal10 commented on #687
@man-git007  Issue 2 activity (Indicator(baseline,year and value date),planned-disbursement ) has not been solved.

[2022-11-02 06:07] SauravSilwal10 opened #698 "Bug : Indicator UI issue"
- [x] **Issue 1: Edit Button doesn't align SHOW FULL PERIOD LIST.**

Actual Result
![Screenshot from 2022-11-02 11-30-50](https://user-images.githubusercontent.com/78422663/199408892-913c2203-2b3a-4db2-92db-3ba115679dd7.png)

Expected Result
![Screenshot from 2022-11-02 11-39-20](https://user-images.githubusercontent.com/78422663/199409342-f308df0a-a2f9-4a2f-b60a-7c97347f5fff.png)

- [x] **Issue 2

[2022-11-02 06:08] #316 closed

[2022-11-02 09:19] SauravSilwal10 commented on #644
@Sanilblank default-aid-type has not been published.
![Screenshot from 2022-11-02 15-03-47](https://user-images.githubusercontent.com/78422663/199451781-dfcb698d-ddbf-4cf7-9f22-e1b007e409e6.png)

[2022-11-02 09:42] man-git007 commented on #698
@titungdup Close this issue.

cc @SauravSilwal10

[2022-11-02 11:19] man-git007 commented on #645
@SauravSilwal10 Issue 3 has been done. Please check

[2022-11-02 11:20] man-git007 commented on #687
@SauravSilwal10 Feedback 3 has been done. Please check. Also remaining issue of Feedback 2 has also been completed

[2022-11-02 11:38] #698 closed

[2022-11-03 04:14] SauravSilwal10 opened #703 "Feedback by UNDP"
- [ ] **Issue 1** #338

- [ ] **Issue 2**  #212

[2022-11-03 07:19] SauravSilwal10 commented on #645
@man-git007  An wanted validation has been done.

1. When user doesn't enter a measure in indicator but our system display a validation error.
https://www.loom.com/share/4eb289ae3a84401f8383f99912b45f7e
2. The @value should be omitted for qualitative measures has not been followed.
https://www.loom.com/share/12dd620a3d5e4b9ba06b4f5b01b22d09

[2022-11-03 07:29] #37 closed

[2022-11-03 07:44] praweshsth opened #704 "Validation issues of budget element"
Following validations need to maintained for the element 'Budget':

1. The time period should not exceed 1 year i.e. difference between period-end date and period-start date
2. For a time period, there should only be one budget with type 'Original' or 'Revised'
3. The revised type budget should match with the original type budget with same time period and status (either committed or indicative)
4.

[2022-11-03 07:49] SauravSilwal10 opened #705 "Feedback by UNDP (Priority -Medium)"
**Feedback 1**: Users cannot publish, but they can add draft material. When a user is trying to publish, bulk publish or republish, check if the email is verified and the publishing setting is completed with correct API token. If both are good, then only go ahead with publishing otherwise show user that either email is not verified or api token is incorrect or organisation data is published or all

[2022-11-03 08:18] SauravSilwal10 opened #706 "Bug : No negative validation for budget"
Context
- Desktop
- Chrome 106.0.5005.61

Precondition
- https://iatipublisher-dev.yipl.com.np/
- Username: testing
- Password: 12345678

**activity(Transaction,planned-disbursement,budget)
org-(total-expenditure,recipient-country-budget,recipient-region-budget,recipient-org-budget,total-budget)**

Actual Result
![Screenshot from 2022-11-03 13-54-34](https://user-images.githubusercontent.com/78422

[2022-11-04 11:08] SauravSilwal10 opened #709 "Bug : Import Issue CSV"
- [x] **Issue 1: Default language is not working**

**Actual Result**

https://user-images.githubusercontent.com/78422663/199946302-4ed31589-a9ad-4567-8d12-c4b10d181549.mp4

**Expected Result**

- language should be filled automatically with help of the default value

- [x] **Issue 2: Default currency is not working**

**Actual Result**

https://user-images.githubusercontent.com/78422663/199943612

[2022-11-06 11:12] SauravSilwal10 opened #710 "Activity date validation."
- [ ] Issue 1: The user should enter an actual end date if they enter an actual start date.
- [ ] Issue 2: the actual date should not overlap.
- [ ] Issue 3: the planned date should not overlap.

[2022-11-07 08:39] SauravSilwal10 commented on #703
@man-git007  Issue regrading Issue 2
Issue 1 : recipient-region and recipient-country isn't add up to 100.

Issue 2 : not completed is not working

https://user-images.githubusercontent.com/78422663/200258785-1c2dc666-dedd-477e-b09a-4b5e4d3c95f9.mp4

Issue 3 : User cannot enter decimal point

https://user-images.githubusercontent.com/78422663/200261054-c3782a10-a70c-4347-bbc3-3bcd91adf030.mp4

[2022-11-08 09:28] SauravSilwal10 opened #711 "Complete status issue"
Context
- Desktop
- Chrome Version 106.0.5249.119

Preconditions
- https://iatipublisher-dev.yipl.com.np/
- username : testing
- password : 12345678

steps
- activity page>> policy marker , tag , default-aid type , recipient -country>> go to edit form
- fill nothing >> click save and exit

### Actual Result
- Complete status mark as completed

### Excepted Result
- status should be incomplete

htt

[2022-11-08 09:57] SauravSilwal10 opened #714 "Delete Issue"
**Context**
- Desktop
- Chrome Version 106.0.5249.119

**Preconditions**
- https://iatipublisher-dev.yipl.com.np/
- username : testing
- password : 12345678

**steps**
- activity page>> period  ,location ,sector >> go to edit form
- fill all element  >> click save and exit
- again  go to edit form>> click add more button >> delete previous element >>click save and exit

### Actual Result
- page do

[2022-11-08 12:05] SauravSilwal10 opened #715 "Issue with verified email and activities"
- [ ] **Issue 1 : error message , resend verification email is displayed where email has been already verified.**
### Actual  Result

https://user-images.githubusercontent.com/78422663/200555938-89275a72-ddf4-4b39-b157-83561bd18727.mp4

### Excepted Result
- error message should not occur

- [ ] **Issue 2 :  there is an activity, the activities not found message is displayed.**
### Actual  Result

[2022-11-09 05:24] man-git007 opened #716 "Validation fixes"
Fix element validations during form save

**Related issues**

- #703
- #704
- #706
- #710

[2022-11-09 06:10] man-git007 opened #717 "Common element validation"
use common validation functions for import and form submission of activities

[2022-11-09 06:15] sriza opened #719 "Activity reporting org form"
**Tasks**

- [x] Reporting org form create and update
- [x] complete status
- [x] Replace reporting org in xml data
- [x] UI ( Detail page, routes, forms)

[2022-11-10 05:07] man-git007 commented on #704
@Sanilblank Can you look into Tasks 2,3,5,6? Task 1,4 has been done in the branch `716-validation-fixes`

[2022-11-10 05:27] praweshsth commented on #704
Regarding no. 2, only check if both original or revised have same time range. It should not be same.

[2022-11-10 06:01] sriza commented on #719
Completed and merged to main branch

[2022-11-10 06:01] #719 closed

[2022-11-10 07:29] #714 closed

[2022-11-10 07:53] SauravSilwal10 commented on #697
@titungdup  Issue found this fixes

- [ ]  Publishing Checklist is not clickable

https://user-images.githubusercontent.com/78422663/201032607-125c318a-e58d-4942-bbc2-88a4f2b49ef7.mp4

- [ ] In transactions please change recommended element into core.
![Screenshot from 2022-11-10 13-31-10](https://user-images.githubusercontent.com/78422663/201032555-ec96f3ca-f9ef-4381-afe2-fb2c82f062db.png)

- [ ]

[2022-11-10 09:12] man-git007 opened #730 "Web portal pages"
Develop About, IATI Publisher pages for public users.

**TASKS**

- [x] Setup public routes
- [x] About page
- [x] Support page
- [x] IATI Standard Publisher page

[2022-11-10 12:03] SauravSilwal10 opened #738 "Validation issue"
- [ ]  **Issue 1 : Indicator  Validation Issue**

1. When user doesn't enter a measure in indicator but our system display a validation error.

https://user-images.githubusercontent.com/78422663/201083069-7dda687c-2c0e-46f2-859e-596a48a36a0f.mp4

2. The value should be omitted for qualitative measures has not been followed.

https://user-images.githubusercontent.com/78422663/201083488-b36225c7-929

[2022-11-11 04:08] SauravSilwal10 commented on #590
Issue fixed

[2022-11-11 04:08] #590 closed

[2022-11-11 04:08] #635 closed

[2022-11-11 04:12] #644 closed

[2022-11-11 04:12] #153 closed

[2022-11-11 04:13] #289 closed

[2022-11-11 04:13] #324 closed

[2022-11-11 04:14] #402 closed

[2022-11-11 04:15] SauravSilwal10 commented on #711
Issue Fixed

[2022-11-11 04:15] #711 closed

[2022-11-11 04:17] #687 closed

[2022-11-11 04:19] SauravSilwal10 commented on #688
Issue Fixed

[2022-11-11 04:19] #688 closed

[2022-11-11 07:35] #396 closed

[2022-11-11 11:29] #54 closed

[2022-11-11 11:29] #57 closed

[2022-11-11 11:29] #112 closed

[2022-11-11 11:30] #418 closed

[2022-11-11 11:30] #93 closed

[2022-11-11 11:33] SauravSilwal10 commented on #715
unable recreate this issue

[2022-11-11 11:34] SauravSilwal10 commented on #703
#738 #716

[2022-11-11 11:34] #703 closed

[2022-11-11 11:38] SauravSilwal10 commented on #645
Issue Fixed

[2022-11-11 11:38] #645 closed

[2022-11-11 11:39] #449 closed

[2022-11-11 11:39] #437 closed

[2022-11-11 11:39] #424 closed

[2022-11-11 11:40] #407 closed

[2022-11-11 11:40] #355 closed

[2022-11-11 11:40] #24 closed

[2022-11-11 11:41] #27 closed

[2022-11-11 11:41] #42 closed

[2022-11-11 11:41] #148 closed

[2022-11-11 11:41] #138 closed

[2022-11-11 11:41] #173 closed

[2022-11-11 11:41] #300 closed

[2022-11-11 11:42] #48 closed

[2022-11-11 11:42] #486 closed

[2022-11-11 11:43] #55 closed

[2022-11-11 11:43] #46 closed

[2022-11-11 11:43] #43 closed

[2022-11-11 11:43] #115 closed

[2022-11-11 11:44] #232 closed

[2022-11-11 11:44] #73 closed

[2022-11-11 11:45] #116 closed

[2022-11-11 11:47] #169 closed

[2022-11-14 04:05] praweshsth opened #740 "Necessary check and show error before activity publishing (single, bulk and republish)"
Check API token and email verification and organisation published

[2022-11-14 04:14] praweshsth opened #741 "UI improvement"
- [x] Click on the import link should be disabled.
- [x]  User should get access to import/add activity by using Hover links

[2022-11-14 05:15] rajkarnikar11 opened #742 "Smooth transitioning of public pages"

[2022-11-14 07:16] sriza opened #743 "New User Registration in IATI Publisher and IATI Registry"
**Tasks**

- [ ] New user form
- [ ] User and publisher creation in IATI and publisher

[2022-11-14 08:12] SauravSilwal10 commented on #738
@man-git007 These are the issue found in validation branch

- [ ]  **Issue 1 Sector must only be reported at EITHER transaction level OR activity level**

https://user-images.githubusercontent.com/78422663/201601779-759b0857-6b55-4bca-b682-92513b4c41d9.mp4

- [ ] **Issue 2 :  User cannot enter a decimal period**

https://user-images.githubusercontent.com/78422663/201602898-45a73ec0-01cf-45f5-bf1d-

[2022-11-14 09:17] SauravSilwal10 opened #745 "Invalid toast message"
Context

- Desktop
- Chrome

Preconditions

- https://iatipublisher-dev.yipl.com.np/
- Username : Testing
- Password : 12345678

Actual Result

https://user-images.githubusercontent.com/78422663/201621628-e5983efa-5251-49c0-8966-44c2d3725b40.mp4

Excepted Result
- Toast message should be changed.

[2022-11-14 15:16] shreyaydi commented on #743
Here is the design for the screens of the sign up flow for users that have not registered in the IATI Registry. You can navigate through the screens using "<-"  "->" keys on the keypad or click anywhere on the screen,

[Figma Link](https://www.figma.com/proto/upgUy5i65LYC3iiqYVnACW/IATI-Publisher-Platform?page-id=3147%3A46778&node-id=11222%3A187178&viewport=639%2C-797%2C0.14&scaling=min-zoom&start

[2022-11-15 05:06] Sanilblank commented on #709
Regarding Issue 8: Doesn't understand indexing of conditions( Conditions Attached)

[2022-11-15 05:51] SauravSilwal10 commented on #697
@titungdup  these are issues left in this fixes

- [ ] Issue 1: country-budget-items
### Actual Result

![Image](https://user-images.githubusercontent.com/78422663/201833072-d5fdffa3-c85c-4d77-8f61-02b45a3de8ed.png)

### Expected Result

![Image](https://user-images.githubusercontent.com/78422663/201833767-d45cd454-780e-472f-897c-763cc195627b.png)

- [ ] Issue 2: Related activity
### Actual Result

[2022-11-15 09:02] man-git007 commented on #738
@SauravSilwal10> Below issues are solved. Could you please verify it?
Issue 1 : Indicator Validation Issue
2 The value should be omitted for qualitative measures has not been followed.
Issue 2 : Recipient Region Validation Issue
Issue 3 : Transaction Validation Issue
Issue 4 : Result Validation Issue
Issue 5 : Sector Validation Issue
Issue 1 Sector must only be reported at EITHER transaction level

[2022-11-15 09:03] man-git007 commented on #738
@SauravSilwal10 @praweshsth
Regarding Issues:
Issue 2 : User cannot enter a decimal period
Issue 5 : User will get trapped in infinite Loop in recipient country and recipient region.

lets ignore for now.

[2022-11-15 09:04] man-git007 commented on #738
@Sanilblank
Can you look into this issue
Issue 3 : Budget validation hasn't been completed

@SauravSilwal10 @praweshsth Can you explain this issue to @Sanilblank

[2022-11-15 09:35] praweshsth opened #749 "The alert message still showing for a while even after setting part is done"
The alert message still shows when user logs in for a while and disappears. Also, when user is in activity listing page and does a page refresh, the alert message is still showing for a while before it disappears. See the screen recording below:

https://user-images.githubusercontent.com/2421695/201884066-c8e3ba9d-f3f3-4271-a227-7ae902bac656.mov

[2022-11-15 11:21] SauravSilwal10 commented on #738
@man-git007
Issue 1: The recipient country, Recipient region, and  Sector must only be reported at the transaction level OR activity level is not working properly.

https://user-images.githubusercontent.com/78422663/201905878-86c71916-496f-4c6c-8124-578f92bc6ba2.mp4

[2022-11-16 06:44] titungdup commented on #697
Remaining issue
- [ ] Contact Email - it appears that this is only accessible when you log out of the system and on the Login Page. This should be available throughout the site/footer should be available in activity detail and activity listing page.

[2022-11-16 08:10] man-git007 opened #751 "Element delete"
Enable element delete feature

**TASKS**

- [x] Add delete button in every element section
- [x] Delete element functionality

[2022-11-16 09:36] SauravSilwal10 commented on #740
@Sanilblank  @titungdup
These are issues found in this feature.

- [ ] Issue 1: Toast messages Should be managed.

https://user-images.githubusercontent.com/78422663/202138063-88b0f8d3-67c2-45f8-a103-9c5c527f76aa.mp4

- [ ] Issue 2: System gets freeze when a user tries to publish the org data.

https://www.loom.com/share/813706520c43443da9df501baccb129b

- [ ] Issue 3: Inappropriate error  message

[2022-11-16 12:07] SauravSilwal10 opened #753 "Import Issue with XML"
- [x] Issue 1: Forbidden Issue
- [x] Issue 2: The user can import  XML with an error message.
- [x] Issue 3: Mismatch Header issue
- [ ] Issue 4: complete status is not working
- [x] Issue 5: Request entity too large

[2022-11-17 04:50] titungdup commented on #696
No content available for privacy policy page so it will be done when the content is available. Closing this issue.

[2022-11-17 04:50] #696 closed

[2022-11-17 04:51] #730 closed

[2022-11-17 06:32] titungdup opened #754 "Fix activity detail sidebar sticky issue"
Issue:
The sidebar on activity detail page overlaps with footer.

Task:
- [x] Fix the sidebar and footer overlap issue.

[2022-11-17 08:08] SauravSilwal10 commented on #697
@titungdup Issue found in this fixes

- [ ] Issue 1: The contact email isn't clickable.

https://user-images.githubusercontent.com/78422663/202389607-a1bfa10e-74fa-4736-9143-c0c941c21906.mp4

- [ ] Issue 2:  Static page link should display on the next tab.

https://user-images.githubusercontent.com/78422663/202390386-81ea4f38-3cdb-449e-b2e9-f67ecee81ce5.mp4

- [ ] Issue 3: The link doesn't match a

[2022-11-17 08:37] titungdup commented on #697
@SauravSilwal10
**Issue 1:**
The link won't open anything if the user doesn't have a mail client installed on their device. You need to have a mail client installed.

**Issue 2:**
If we open the footer link pages on a new tab, the link of that new tab will again open a new tab. So it is better to open the static pages on the same tab.

**Issue 4:**
Yes, when a logged-in user navigates to other sta

[2022-11-17 11:33] SauravSilwal10 commented on #743
@sriza Issue Found in this branch

- [ ] Issue 1: Doesn't validate the name and ID that has already register on IATI registry.

https://user-images.githubusercontent.com/78422663/202432934-120f84c4-a467-4e44-bcba-c4baf36d8725.mp4

- [ ] Issue 2: Tick mark should be given instead of number

![Image](https://user-images.githubusercontent.com/78422663/202433095-80361e2e-ad0d-4573-900c-9a7769ee3dee.pn

[2022-11-17 13:33] k8hughes commented on #743
Looking at the figma designs we are happy to approve these.

[2022-11-18 04:16] praweshsth commented on #743
Thank you @k8hughes

[2022-11-18 08:02] praweshsth commented on #743
@k8hughes @DaveEade49 we are also implementing to show if the publisher has been activated in IATI Registry or not. Do we restrict the user to publish organisation and activity data if the publisher has not been activated in IATI Registry?

[2022-11-18 08:12] SauravSilwal10 commented on #751
@man-git007

- [ ] **Issue 1 : Whenever user delete the title element , our system gets freeze.**

https://user-images.githubusercontent.com/78422663/202652099-37bf9570-39dd-4c54-b1df-55763dbee0aa.mp4

- [ ] **Issue 2 : Delete button is  missing on Transaction and Result Element.**

- [ ] **Issue 3 : Whenever user delete the certain element ,page should reload to top of activity detail page , so t

[2022-11-18 08:24] titungdup commented on #705
**Feedback 1** done by @man-git007

**Feedback 2**
- Add and Import option added in menu "Add / Import Activity"

@SauravSilwal10

[2022-11-18 08:33] man-git007 commented on #751
@titungdup Can you look into Issue 2 and 3.

[2022-11-18 11:46] titungdup commented on #740
@shreyaydi Please check issue 1.

[2022-11-21 09:35] man-git007 commented on #751
@SauravSilwal10 Create a new issue for Issue no. 4 and assign to @Sanilblank

[2022-11-21 10:56] man-git007 commented on #751
Merged to main branch and closed manually

[2022-11-21 10:56] #751 closed

[2022-11-21 11:55] SauravSilwal10 commented on #738
@man-git007 .These are  the issue left in validation.
- [ ] **Issue 1: The recipient country, Recipient region, and Sector must only be reported at the transaction level OR activity level is not working properly.**

https://user-images.githubusercontent.com/78422663/203044015-4eb2bed5-b555-4b17-8bb1-1ced5172d9e1.mp4

- [ ] **Issue 2 : Percentage values for recipient countries or regions, must add

[2022-11-21 11:57] man-git007 commented on #738
Merged to the `main` branch and closed manually. If any other issue remaining will maintain in new issue

[2022-11-21 11:57] #738 closed

[2022-11-21 11:58] man-git007 commented on #716
Remaining issue if any will be maintained in new new GitHub ticket

cc @praweshsth @SauravSilwal10

[2022-11-21 11:58] #716 closed

[2022-11-21 11:59] man-git007 commented on #704
Let's discuss the remaining issues if any in the new GitHub ticket. This issue is closed manually as some of the fixes are merged in the `main` branch.

cc @praweshsth @SauravSilwal10 @Sanilblank

[2022-11-21 11:59] #704 closed

[2022-11-21 12:08] #689 closed

[2022-11-21 12:09] #625 closed

[2022-11-21 16:19] k8hughes commented on #743
Yes I think we have to

[2022-11-21 16:22] DaveEade49 commented on #743
@praweshsth - quick question - current process is that when a new publisher registers on Registry - an email comes to support to validate they are ok, and they get approved via registry - is this still the process even though the source for registration is different?

[2022-11-22 04:01] #706 closed

[2022-11-22 04:01] praweshsth commented on #706
Manually closed

[2022-11-22 04:02] #697 closed

[2022-11-22 04:02] praweshsth commented on #749
manually closed

[2022-11-22 04:02] #749 closed

[2022-11-22 04:03] praweshsth commented on #705
manually closed

[2022-11-22 04:03] #705 closed

[2022-11-22 05:12] SauravSilwal10 opened #770 "Bug : Validation issue"
- [x] **Issue 1: The recipient country, Recipient region, and Sector must only be reported at the transaction level OR activity level is not working properly.**

https://user-images.githubusercontent.com/78422663/203044015-4eb2bed5-b555-4b17-8bb1-1ced5172d9e1.mp4

- [x] **Issue 2: Percentage values for recipient countries or regions, must add up to 100%.**

![Image](https://user-images.githubuserc

[2022-11-22 08:33] praweshsth commented on #743
Thank you @k8hughes
@DaveEade49 Yes. This only provides a platform for users to register publisher and create account in IATI Registy. After registration, the activation process is same as before. IATI has to verify the publisher manually in IATI Registry.

[2022-11-23 05:15] titungdup opened #773 "Show publish error message on a popup"
Issue:
The error message on toast makes it hard to read the list of errors.

Todo:
Show the error message on a popup rather than the toast while publishing activites and organizations.

[2022-11-23 05:34] SauravSilwal10 commented on #754
Issue found in this branch @titungdup

- [ ] **Issue 1: when the user clicks on the sidebar element, its gets overlap with the footer.**

https://user-images.githubusercontent.com/78422663/203474440-a3a0dc64-d851-424b-9b03-a4d310e3e857.mp4

- [ ] **Issue 2: When the user clicks on the element sidebar it scrolls to the top and then redirects it to the edit page.**

Actual Result

https://user-image

[2022-11-23 05:42] Sanilblank opened #774 "Activities download in CSV and XML"
TASKS

- [ ] Users should be able to select the activities they want to download from the activities listing page
- [ ] Upon selection and clicking of the download button activities should be downloaded in CSV or XML format as required
- [ ] The downloaded file should be uploadable to the IATI publisher

DISCUSSIONS
- Users should also be able to download a single activity (No difference when down

[2022-11-23 05:50] praweshsth commented on #774
@k8hughes @DaveEade49 Please give us your feedback on this.

[2022-11-23 09:38] DaveEade49 commented on #774
Folks, here are my comments - I've added numbers to the points so they can be cross-referenced....

**Tasks:**
3. The downloaded file should be in the same format as the the template that can be downloaded as blank - if data items are missing from the download, this should stop population of these fields when the .csv is in edit mode before save and upload.
**Discussions.**
2. The only reason I ca

[2022-11-24 03:59] AbiChitrakar opened #778 "Missing hover and help texts in inner pages of indicators and so others."
- [x] In Result form remove core icons.
- [x] In Indicator form remove core icons.
- [x] In Period form remove core icons.
- [x] In Result Detail view,remove core icons from menu side.
- [x] In Result Detail view,remove core icons from detail side.
- [x] In Result detail view hover over text is not present.
- [x] Indicator is not a core element.

[2022-11-24 08:46] sriza opened #786 "Limit axios call of checkStatus on xml and csv import"
**Task**

Currently, the axios call to checkstatus has been made repeatedly without any stopping during the mount of import listing page. The call is made even when valid.json file is not made.

Todo:
- [x] Limit axios call to checkStatus( by time or number of calls or with the help of some other condition)

[2022-11-24 10:13] SauravSilwal10 opened #789 "UI Issue"
- [x] **Issue : In org detail page order of displaying core element ,icon tool tip and edit button is wrong**

Actual Result

https://user-images.githubusercontent.com/78422663/203757103-0b2f467a-d204-474d-a38c-feee868b7a8c.mp4

Excepted Result

- Order should be edit button , core element and tool tip .

https://user-images.githubusercontent.com/78422663/203757811-fe0c8b2c-4174-4c11-a5b3-b4adfe7b

[2022-11-25 07:48] SauravSilwal10 opened #794 "Issue 1 : Result ,period ,indicator ,transaction listing page and import activity, white space appears below the footer."
- [ ] **Issue 1 : Result ,period ,indicator ,transaction  listing page and import activity, white space appears below the footer.**

Actual Result
![Screenshot from 2022-11-25 13-35-21](https://user-images.githubusercontent.com/78422663/203928767-d1825cd3-ad92-4e75-8b49-e610df5ed740.png)

Excepted  Result

- White Space should be removed .

[2022-11-25 10:13] SauravSilwal10 commented on #709
@sriza issues are listed below

- [ ] **Issue 1 : An unwanted error message on default-flow-type, collaboration-type, Related activity**
![Screenshot from 2022-11-25 15-54-32](https://user-images.githubusercontent.com/78422663/203957924-2ab68536-3468-4e13-9ba9-ead664063d4e.png)

- [ ] **Issue 2: Location Administrative code has upper-case validation.**
![Screenshot from 2022-11-25 15-55-46](https:

[2022-11-25 11:16] praweshsth commented on #753
@pravinbanjade Please fix the 403 forbidden issue

[2022-11-28 05:41] praweshsth commented on #774
Tasks:
3. It is not possible to restrict user to not populate the CSV file as you have mentioned. It is different from the IATI Publisher system.
Discussions:
2. During uploading of XML, there is a schema validation which checks if the required elements and required fields as per the IATI standard are available or not. If all or some are not available, the system will show error messages with deta

[2022-11-28 10:31] #743 closed

[2022-11-29 03:53] sriza commented on #598
Merged to main branch and closed manually.

[2022-11-29 03:53] #598 closed

[2022-11-29 04:48] rajkarnikar11 opened #809 "google analytics"

[2022-11-29 04:48] rajkarnikar11 opened #810 "Responsive"
- [x] The Hover Text of Identification are not visible.
![image](https://user-images.githubusercontent.com/72198302/207512062-660acf7a-532a-4925-9e35-fa79077d1b27.png)

- [x] The **Edit** Text is not visible and also it is not properly aligned.
[Screencast from 14-12-22 11:02:57 पूर्वाह्न +0545.webm](https://user-images.githubusercontent.com/72198302/207512799-87ee8420-8d4c-4cb8-97ad-a019767f3b27.

[2022-11-29 05:41] #740 closed

[2022-11-29 05:45] Sanilblank commented on #745
This issue has been fixed in the branch 770-bug-validation-issue in commit bc6d227bd1411f40984f560b226ce9a647aaabb7

[2022-11-29 08:54] SauravSilwal10 commented on #770
@Sanilblank  Issue found in this Fixes

- [ ] **Issue 1 : Percentage values for recipient countries must add up to 100%.**

![Image](https://user-images.githubusercontent.com/78422663/204477565-b283ca0d-4ec4-4fbf-86be-573aa9ce4d45.png)

- [ ] **Issue 2 : The recipient country, Recipient region, and Sector must only be reported at the transaction level OR activity level is not working properly.**

[2022-11-29 09:23] Sanilblank commented on #770
Regarding
- Issue 2 : The recipient country, Recipient region, and Sector must only be reported at the transaction level OR activity level is not working properly. => This doesn't seem to be happening anymore and system is behaving as intended.
- Issue 3 : Cannot enter a decimal point => The total sum of entered amount is actually greater than 50. One value must have the decimal ending with 6 inst

[2022-11-29 09:35] rajkarnikar11 commented on #741
This issue is solved in 754 branch

[2022-11-30 04:55] #770 closed

[2022-11-30 07:59] SauravSilwal10 opened #825 "UI Issue when user enter sector in both activity and transaction level."
- [x] **Issue 1 : Delete Button appears in transaction (sector ) ,Recipient Country,and Recipient region when their is only one element.**

https://user-images.githubusercontent.com/78422663/204739530-ba9fe458-1447-4c55-aed2-df0f52225c23.mp4

[2022-11-30 08:03] SauravSilwal10 opened #826 "Remove mandatory option from person-name in contact-info."
- [x] remove the mandatory option for person-name attribute from contact element.

[2022-11-30 11:10] SauravSilwal10 opened #828 "Remaining CSV Issue"
- [x] **Issue 1 : User can create two or more than two activity with same identifier**

https://user-images.githubusercontent.com/78422663/204776179-adf43678-8178-4316-a1e0-1185185057ff.mp4

- [x] **Issue 2 : Without importing any  CSV, our system show existing file.**

https://user-images.githubusercontent.com/78422663/204776235-89aba12c-e30a-403f-bb1e-f2d1c9f8df49.mp4

- [ ] **Issue 3 : Planned